[2015-08-14 05:45] richard42 opened #463 "Enable anisotropic filtering in Rice"
Originally reported on Google Code with ID 464

[code]

Reported by `auria.mg` on 2011-10-12 18:54:55

[2015-08-14 05:45] richard42 commented on #463
[code]

Reported by `school.player` on 2012-04-18 00:50:26

[2015-08-14 05:45] richard42 commented on #463
[code]

Reported by `sven@narfation.org` on 2012-04-21 14:23:44

[2015-08-14 05:45] richard42 commented on #463
[code]

Reported by `auria.mg` on 2012-04-21 19:47:41

[2015-08-14 05:45] richard42 commented on #463
Reported by `sven@narfation.org` on 2012-04-28 07:44:19
- **Labels added**: Type-Enhancement, Priority-Low, Component-RiceVideo

[2015-08-14 05:45] richard42 opened #464 "OSX Compilation Broken"
Originally reported on Google Code with ID 465

[code]

Reported by `auria.mg` on 2011-10-12 19:25:34

[2015-08-14 05:45] richard42 commented on #464
[code]

Reported by `auria.mg` on 2011-10-12 21:38:30

[2015-08-14 05:45] richard42 commented on #464
[code]

Reported by `sven@narfation.org` on 2011-10-12 22:05:33
- **Status changed**: `Started`

[2015-08-14 05:45] richard42 commented on #464
[code]

Reported by `sven@narfation.org` on 2011-11-12 19:09:19
- **Status changed**: `Fixed`

[2015-08-14 05:45] #464 closed, assigned to richard42

[2015-08-14 05:45] richard42 opened #465 "OSX Compilation Patch"
Originally reported on Google Code with ID 466

[code]

Reported by `auria.mg` on 2011-10-12 19:31:23

[2015-08-14 05:45] richard42 commented on #465
[code]

Reported by `sven@narfation.org` on 2011-10-12 21:44:16

[2015-08-14 05:45] richard42 commented on #465
[code]

Reported by `sven@narfation.org` on 2011-10-12 22:06:09
- **Status changed**: `Started`

[2015-08-14 05:45] richard42 commented on #465
[code]

Reported by `auria.mg` on 2011-10-12 22:19:05

[2015-08-14 05:45] richard42 commented on #465
[code]

Reported by `sven@narfation.org` on 2011-11-12 19:09:04
- **Status changed**: `Fixed`

[2015-08-14 05:45] #465 closed, assigned to richard42

[2015-08-14 05:45] richard42 opened #466 "Minor OSX build system improvement"
Originally reported on Google Code with ID 467

[code]

Reported by `auria.mg` on 2011-10-13 16:42:25

<hr>
- _Attachment: [cleanup.patch](https://storage.googleapis.com/google-code-attachments/mupen64plus/issue-467/comment-0/cleanup.patch)_

[2015-08-14 05:45] richard42 commented on #466
[code]

Reported by `sven@narfation.org` on 2011-10-14 17:59:21
- **Status changed**: `Started`

[2015-08-14 05:45] richard42 commented on #466
[code]

Reported by `sven@narfation.org` on 2011-11-12 19:08:41
- **Status changed**: `Fixed`

[2015-08-14 05:45] #466 closed, assigned to richard42

[2015-08-14 05:45] richard42 opened #467 "OSD broken on OS X (With patch)"
Originally reported on Google Code with ID 468

[code]

Reported by `auria.mg` on 2011-10-13 17:32:34

<hr>
- _Attachment: [oglft.patch](https://storage.googleapis.com/google-code-attachments/mupen64plus/issue-468/comment-0/oglft.patch)_

[2015-08-14 05:45] richard42 commented on #467
[code]

Reported by `sven@narfation.org` on 2011-10-14 18:02:55

[2015-08-14 05:45] richard42 commented on #467
[code]

Reported by `sven@narfation.org` on 2011-10-14 22:15:29

[2015-08-14 05:45] richard42 commented on #467
[code]

Reported by `auria.mg` on 2011-10-16 15:04:14

[2015-08-14 05:45] richard42 commented on #467
[code]

Reported by `sven@narfation.org` on 2011-10-16 19:47:15

<hr>
- _Attachment: [bitmap_font_test.patch](https://storage.googleapis.com/google-code-attachments/mupen64plus/issue-468/comment-4/bitmap_font_test.patch)_
- _Attachment: [rastercoloring.patch](https://storage.googleapis.com/google-code-attachments/mupen64plus/issue-468/comment-4/rastercoloring.patch)_

[2015-08-14 05:45] richard42 commented on #467
[code]

Reported by `sven@narfation.org` on 2011-10-16 20:19:10

[2015-08-14 05:45] richard42 commented on #467
[code]

Reported by `sven@narfation.org` on 2011-10-17 08:25:33

[2015-08-14 05:45] richard42 commented on #467
[code]

Reported by `sven@narfation.org` on 2011-11-13 00:33:33
- **Status changed**: `Fixed`

[2015-08-14 05:45] #467 closed, assigned to richard42

[2015-08-14 05:45] richard42 opened #468 "Crashes after going through logo and title sequences"
Originally reported on Google Code with ID 469

[code]

Reported by `misterhat144` on 2011-10-23 01:57:53

[2015-08-14 05:45] richard42 commented on #468
[code]

Reported by `sven@narfation.org` on 2011-10-23 08:20:21

[2015-08-14 05:45] richard42 commented on #468
[code]

Reported by `sven@narfation.org` on 2011-10-23 08:22:09

[2015-08-14 05:45] richard42 commented on #468
[code]

Reported by `krthurow` on 2011-10-23 09:07:10

[2015-08-14 05:45] richard42 commented on #468
[code]

Reported by `sven@narfation.org` on 2011-10-23 12:36:28

[2015-08-14 05:45] richard42 commented on #468
Reported by `richard42g` on 2011-11-24 00:43:30
- **Status changed**: `External`

[2015-08-14 05:45] #468 closed, assigned to richard42

[2015-08-14 05:45] richard42 opened #469 "mupen64plus-core isn't linked to libpng"
Originally reported on Google Code with ID 470

[code]

Reported by `Inukaze.otaku` on 2011-11-27 12:49:49

[2015-08-14 05:45] richard42 commented on #469
[code]

Reported by `sven@narfation.org` on 2011-11-30 20:41:26

[2015-08-14 05:45] richard42 commented on #469
[code]

Reported by `sven@narfation.org` on 2011-12-02 19:53:15

[2015-08-14 05:45] richard42 commented on #469
Reported by `sven@narfation.org` on 2011-12-03 08:33:31

[2015-08-14 05:45] richard42 commented on #469
[code]

Reported by `sven@narfation.org` on 2011-12-10 07:57:37
- **Status changed**: `Invalid`

[2015-08-14 05:45] richard42 commented on #469
[code]

Reported by `pavel989` on 2014-03-19 22:22:47

[2015-08-14 05:45] richard42 commented on #469
[code]

Reported by `richard42g` on 2014-03-20 13:59:10

[2015-08-14 05:45] richard42 commented on #469
[code]

Reported by `Inukaze.otaku` on 2014-03-21 21:50:48

[2015-08-14 05:45] richard42 commented on #469
[code]

Reported by `richard42g` on 2014-03-26 05:27:33

[2015-08-14 05:45] richard42 commented on #469
[code]

Reported by `Inukaze.otaku` on 2014-03-26 21:29:01

[2015-08-14 05:45] richard42 commented on #469
[code]

Reported by `richard42g` on 2014-03-26 21:37:09

[2015-08-14 05:45] richard42 commented on #469
[code]

Reported by `Inukaze.otaku` on 2014-03-26 22:35:42

[2015-08-14 05:45] richard42 commented on #469
[code]

Reported by `richard42g` on 2014-03-27 14:18:42

[2015-08-14 05:45] #469 closed, assigned to richard42

[2015-08-14 05:45] richard42 opened #470 "Core Error: Memory error: couldn't set RWX permissions on 266448 byte block of memory."
Originally reported on Google Code with ID 471

[code]

Reported by `mkhomemk` on 2011-12-07 07:52:10

[2015-08-14 05:45] richard42 commented on #470
Reported by `sven@narfation.org` on 2011-12-07 13:46:18
- **Status changed**: `Duplicate`
- **Merged into**: #382

[2015-08-14 05:45] #470 closed, assigned to richard42

[2015-08-14 05:46] richard42 opened #471 "where is the state file?"
Originally reported on Google Code with ID 472

[code]

Reported by `lixihtech` on 2011-12-27 11:35:39

[2015-08-14 05:46] richard42 commented on #471
[code]

Reported by `sven@narfation.org` on 2012-01-05 22:49:59
- **Status changed**: `Invalid`

[2015-08-14 05:46] richard42 commented on #471
[code]

Reported by `lixihtech` on 2012-01-06 10:13:37

[2015-08-14 05:46] #471 closed, assigned to richard42

[2015-08-14 05:46] richard42 opened #472 "Not working on Linux Mint 11 64bit"
Originally reported on Google Code with ID 473

[code]

Reported by `kintaro_841@hotmail.it` on 2012-01-05 09:42:00

[2015-08-14 05:46] richard42 commented on #472
[code]

Reported by `sven@narfation.org` on 2012-01-05 23:00:31

[2015-08-14 05:46] richard42 commented on #472
[code]

Reported by `kintaro_841@hotmail.it` on 2012-01-05 23:32:07

[2015-08-14 05:46] richard42 commented on #472
[code]

Reported by `sven@narfation.org` on 2012-01-06 21:13:13

[2015-08-14 05:46] richard42 commented on #472
[code]

Reported by `kintaro_841@hotmail.it` on 2012-01-07 08:09:27

[2015-08-14 05:46] richard42 commented on #472
[code]

Reported by `sven@narfation.org` on 2012-01-08 19:28:01

[2015-08-14 05:46] richard42 commented on #472
[code]

Reported by `kintaro_841@hotmail.it` on 2012-01-08 22:08:50

[2015-08-14 05:46] richard42 commented on #472
Reported by `sven@narfation.org` on 2012-01-08 23:18:33
- **Status changed**: `Invalid`

[2015-08-14 05:46] #472 closed, assigned to richard42

[2015-08-14 05:46] richard42 opened #473 "Compilation fails somewhere under Fedora 16"
Originally reported on Google Code with ID 474

[code]

Reported by `guillaumepoiriermorency` on 2012-01-08 18:39:57

<hr>
- _Attachment: [build_output.txt](https://storage.googleapis.com/google-code-attachments/mupen64plus/issue-474/comment-0/build_output.txt)_
- _Attachment: [test_output.txt](https://storage.googleapis.com/google-code-attachments/mupen64plus/issue-474/comment-0/test_output.txt)_

[2015-08-14 05:46] richard42 commented on #473
Reported by `sven@narfation.org` on 2012-01-08 19:23:08
- **Status changed**: `Duplicate`
- **Merged into**: #382

[2015-08-14 05:46] #473 closed, assigned to richard42

[2015-08-14 05:46] richard42 opened #474 "No compiled release in over a year."
Originally reported on Google Code with ID 475

[code]

Reported by `tonybalsley` on 2012-01-14 22:47:35

[2015-08-14 05:46] richard42 commented on #474
[code]

Reported by `school.player` on 2012-01-22 03:46:02

[2015-08-14 05:46] richard42 commented on #474
[code]

Reported by `sven@narfation.org` on 2012-01-25 12:47:47

[2015-08-14 05:46] richard42 commented on #474
[code]

Reported by `richard42g` on 2012-03-10 21:13:26
- **Status changed**: `Fixed`

[2015-08-14 05:46] #474 closed, assigned to richard42

[2015-08-14 05:46] richard42 opened #475 "mupen video problems: segmentation fault when using glide64 plugin. crashing on startup"
Originally reported on Google Code with ID 476
[code]

Reported by `stewinsalot` on 2012-01-16 21:43:19

[2015-08-14 05:46] richard42 commented on #475
[code]

Reported by `sven@narfation.org` on 2012-01-16 23:07:18

[2015-08-14 05:46] richard42 opened #476 "Running mupen64plus 1.99 in Fedora 12"
Originally reported on Google Code with ID 477

[code]

Reported by `noiseguy2@yahoo.com` on 2012-01-26 02:22:04

[2015-08-14 05:46] richard42 commented on #476
[code]

Reported by `sven@narfation.org` on 2012-01-27 21:52:05
- **Status changed**: `Invalid`

[2015-08-14 05:46] #476 closed, assigned to richard42

[2015-08-14 05:46] richard42 opened #477 "Combine all Xbox 360 controllers into one default mapping"
Originally reported on Google Code with ID 478

[code]

Reported by `TheDaFox` on 2012-02-11 13:50:01

[2015-08-14 05:46] richard42 commented on #477
[code]

Reported by `TheDaFox` on 2012-02-22 23:30:55

<hr>
- _Attachment: [InputAutoCfg.diff](https://storage.googleapis.com/google-code-attachments/mupen64plus/issue-478/comment-1/InputAutoCfg.diff)_

[2015-08-14 05:46] richard42 commented on #477
Reported by `richard42g` on 2012-02-24 06:18:43
- **Status changed**: `Accepted`
- **Labels added**: Type-Enhancement, Milestone-2.0

[2015-08-14 05:46] richard42 commented on #477
[code]

Reported by `richard42g` on 2012-02-25 15:21:34
- **Status changed**: `Fixed`

[2015-08-14 05:46] #477 closed, assigned to richard42

[2015-08-14 05:46] richard42 opened #478 "Zelda Majora's Mask Bomber's Notebook Issue (among other things)"
Originally reported on Google Code with ID 479

[code]

Reported by `lochedlock` on 2012-02-15 01:10:23

<hr>
- _Attachment: Screen shot 2012-02-14 at 12.18.26 PM.png<br>![Screen shot 2012-02-14 at 12.18.26 PM.png](https://storage.googleapis.com/google-code-attachments/mupen64plus/issue-479/comment-0/Screen shot 2012-02-14 at 12.18.26 PM.png)_

[2015-08-14 05:46] richard42 commented on #478
Reported by `sven@narfation.org` on 2012-02-16 07:17:35
- **Status changed**: `Duplicate`
- **Merged into**: #411

[2015-08-14 05:46] #478 closed, assigned to richard42

[2015-08-14 05:46] richard42 opened #479 "Please put most recent release on Ubuntu Software Center or Fix Your Tarball"
Originally reported on Google Code with ID 480

[code]

Reported by `jkhayworth` on 2012-02-20 21:32:56

[2015-08-14 05:46] richard42 commented on #479
[code]

Reported by `sven@narfation.org` on 2012-02-22 08:38:46
- **Status changed**: `Invalid`

[2015-08-14 05:46] #479 closed, assigned to richard42

[2015-08-14 05:46] richard42 opened #480 "Improve emulator accuracy by comparing against MESS driver"
Originally reported on Google Code with ID 481

[code]

Reported by `richard42g` on 2012-02-27 16:44:57

[2015-08-14 05:46] richard42 commented on #480
[code]

Reported by `richard42g` on 2012-02-27 16:47:27

[2015-08-14 05:46] richard42 opened #481 "mupen64plus 1.99.4 Build problems on Mac OSX 10.7"
Originally reported on Google Code with ID 482

[code]

Reported by `erlloyd` on 2012-02-27 17:47:57

[2015-08-14 05:46] richard42 commented on #481
[code]

Reported by `erlloyd` on 2012-02-27 21:30:55

[2015-08-14 05:46] richard42 commented on #481
[code]

Reported by `erlloyd` on 2012-03-01 23:24:35

[2015-08-14 05:46] richard42 commented on #481
[code]

Reported by `auria.mg` on 2012-05-06 15:41:01

[2015-08-14 05:46] richard42 commented on #481
[code]

Reported by `n.pepinpe` on 2012-12-30 19:34:53

[2015-08-14 05:46] richard42 commented on #481
[code]

Reported by `n.pepinpe` on 2013-01-03 15:03:44

[2015-08-14 05:46] richard42 commented on #481
Reported by `sven@narfation.org` on 2013-01-03 16:06:19
- **Status changed**: `Duplicate`
- **Merged into**: #532

[2015-08-14 05:46] #481 closed, assigned to richard42

[2015-08-14 05:46] richard42 opened #482 "mupen64plus-video-glide64 build error - SetRenderingCallback"
Originally reported on Google Code with ID 483

[code]

Reported by `nitro322` on 2012-03-06 06:03:28

[2015-08-14 05:46] richard42 commented on #482
[code]

Reported by `wahrh4ft` on 2012-03-06 23:20:38
- **Status changed**: `Accepted`

[2015-08-14 05:46] richard42 commented on #482
[code]

Reported by `nitro322` on 2012-03-07 07:39:17

[2015-08-14 05:46] richard42 commented on #482
[code]

Reported by `wahrh4ft` on 2012-03-07 14:08:03
- **Status changed**: `Fixed`

[2015-08-14 05:46] #482 closed, assigned to richard42

[2015-08-14 05:46] richard42 opened #483 "OSX Build patches"
Originally reported on Google Code with ID 484

[code]

Reported by `auria.mg` on 2012-03-11 20:40:33

<hr>
- _Attachment: [audio.patch](https://storage.googleapis.com/google-code-attachments/mupen64plus/issue-484/comment-0/audio.patch)_
- _Attachment: [input.patch](https://storage.googleapis.com/google-code-attachments/mupen64plus/issue-484/comment-0/input.patch)_
- _Attachment: [rsp.patch](https

[2015-08-14 05:46] richard42 commented on #483
Reported by `richard42g` on 2012-03-11 21:23:27
- **Status changed**: `Fixed`

[2015-08-14 05:46] #483 closed, assigned to richard42

[2015-08-14 05:46] richard42 opened #484 "Library '(null)' is too old"
Originally reported on Google Code with ID 485

[code]

Reported by `mutput7` on 2012-03-12 12:58:29

[2015-08-14 05:46] richard42 commented on #484
[code]

Reported by `sven@narfation.org` on 2012-03-12 14:07:54
- **Status changed**: `Invalid`

[2015-08-14 05:46] richard42 commented on #484
[code]

Reported by `sven@narfation.org` on 2013-01-02 21:18:58

[2015-08-14 05:46] richard42 commented on #484
[code]

Reported by `rywk1esv` on 2013-03-25 05:27:30

[2015-08-14 05:46] richard42 commented on #484
[code]

Reported by `sven@narfation.org` on 2013-03-25 11:44:56

[2015-08-14 05:46] #484 closed, assigned to richard42

[2015-08-14 05:46] richard42 opened #485 "Input plugin warnings"
Originally reported on Google Code with ID 486

[code]

Reported by `auria.mg` on 2012-03-19 15:57:20

[2015-08-14 05:46] richard42 commented on #485
[code]

Reported by `richard42g` on 2012-04-08 16:42:45
- **Status changed**: `Fixed`

[2015-08-14 05:46] #485 closed, assigned to richard42

[2015-08-14 05:46] richard42 opened #486 "Cant find launch app?"
Originally reported on Google Code with ID 487

[code]

Reported by `BurningKatanaa` on 2012-03-24 21:11:46

[2015-08-14 05:46] richard42 commented on #486
[code]

Reported by `sven@narfation.org` on 2012-03-26 16:03:18
- **Status changed**: `Invalid`

[2015-08-14 05:46] #486 closed, assigned to richard42

[2015-08-14 05:46] richard42 opened #487 "Configuration file gets overwritten each time I run mupen64plus"
Originally reported on Google Code with ID 488

[code]

Reported by `xiggystardust` on 2012-04-01 02:13:13

[2015-08-14 05:46] richard42 commented on #487
[code]

Reported by `richard42g` on 2012-04-08 16:50:42
- **Status changed**: `WontFix`

[2015-08-14 05:46] richard42 commented on #487
[code]

Reported by `sven@narfation.org` on 2012-06-13 12:20:51
- **Status changed**: `New`
- **Labels added**: Type-Enhancement, Component-Docs, Usability, Priority-Low

[2015-08-14 05:46] richard42 commented on #487
[code]

Reported by `weslfield` on 2013-08-05 22:00:52

[2015-08-14 05:46] richard42 commented on #487
[code]

Reported by `sven@narfation.org` on 2013-08-06 12:28:40
- **Status changed**: `Fixed`

[2015-08-14 05:46] #487 closed, assigned to richard42

[2015-08-14 05:46] richard42 opened #488 "Cannot change "Twin USB Joystick" to work"
Originally reported on Google Code with ID 489

[code]

Reported by `written_testament@yahoo.com` on 2012-04-02 17:34:15

[2015-08-14 05:46] richard42 commented on #488
[code]

Reported by `written_testament@yahoo.com` on 2012-04-02 17:41:48

[2015-08-14 05:46] richard42 commented on #488
[code]

Reported by `written_testament@yahoo.com` on 2012-04-06 04:14:47

[2015-08-14 05:46] richard42 commented on #488
[code]

Reported by `richard42g` on 2012-04-06 04:27:16

[2015-08-14 05:46] richard42 commented on #488
[code]

Reported by `richard42g` on 2012-04-08 22:56:15

[2015-08-14 05:46] richard42 commented on #488
[code]

Reported by `francescobrozzu` on 2012-05-27 10:27:05

[2015-08-14 05:47] richard42 commented on #488
Reported by `sven@narfation.org` on 2013-12-18 11:52:55
- **Status changed**: `Fixed`

[2015-08-14 05:47] #488 closed, assigned to richard42

[2015-08-14 05:47] richard42 opened #489 "Windows x64 binary?"
Originally reported on Google Code with ID 490

[code]

Reported by `rhydonj` on 2012-04-03 21:47:04

[2015-08-14 05:47] richard42 commented on #489
Reported by `sven@narfation.org` on 2012-04-04 09:39:41
- **Labels added**: OpSys-Win-64

[2015-08-14 05:47] richard42 commented on #489
[code]

Reported by `richard42g` on 2012-04-08 23:01:05
- **Status changed**: `WontFix`

[2015-08-14 05:47] richard42 commented on #489
[code]

Reported by `rhydonj` on 2012-04-08 23:49:51

[2015-08-14 05:47] #489 closed, assigned to richard42

[2015-08-14 05:47] richard42 opened #490 "F5 and F7 both attempt to open savestate, no button to save it"
Originally reported on Google Code with ID 491

[code]

Reported by `written_testament@yahoo.com` on 2012-04-06 04:36:20

[2015-08-14 05:47] richard42 commented on #490
Reported by `sven@narfation.org` on 2012-04-06 20:31:13
- **Status changed**: `Duplicate`
- **Merged into**: #492

[2015-08-14 05:47] #490 closed, assigned to richard42

[2015-08-14 05:47] richard42 opened #491 "mupen64plus.ini file keeps savestates from being saved/loaded"
Originally reported on Google Code with ID 492

[code]

Reported by `written_testament@yahoo.com` on 2012-04-06 05:35:22

[2015-08-14 05:47] richard42 commented on #491
[code]

Reported by `sven@narfation.org` on 2012-04-06 20:31:13

[2015-08-14 05:47] richard42 commented on #491
Reported by `sven@narfation.org` on 2012-04-06 20:31:40
- **Labels added**: OpSys-Win-32

[2015-08-14 05:47] richard42 commented on #491
[code]

Reported by `richard42g` on 2012-04-08 23:09:31

[2015-08-14 05:47] richard42 commented on #491
[code]

Reported by `sven@narfation.org` on 2013-12-18 11:54:23
- **Status changed**: `Invalid`

[2015-08-14 05:47] #491 closed, assigned to richard42

[2015-08-14 05:47] richard42 opened #492 "Audio Error: Couldn't open audio: No available audio device"
Originally reported on Google Code with ID 493

[code]

Reported by `naymecliff` on 2012-04-12 08:51:34

[2015-08-14 05:47] richard42 commented on #492
[code]

Reported by `naymecliff` on 2012-04-12 12:42:22

[2015-08-14 05:47] richard42 commented on #492
Reported by `sven@narfation.org` on 2012-04-28 07:44:53
- **Status changed**: `Invalid`

[2015-08-14 05:47] #492 closed, assigned to richard42

[2015-08-14 05:47] richard42 opened #493 "graphical artifacts in Zelda: OOT"
Originally reported on Google Code with ID 494

[code]

Reported by `like2radio` on 2012-04-25 18:29:27

<hr>
- _Attachment: Screen Shot 2012-04-25 at 2.28.58 PM.png<br>![Screen Shot 2012-04-25 at 2.28.58 PM.png](https://storage.googleapis.com/google-code-attachments/mupen64plus/issue-494/comment-0/Screen Shot 2012-04-25 at 2.28.58 PM.png)_

[2015-08-14 05:47] richard42 commented on #493
[code]

Reported by `bobby.smiles32` on 2012-04-25 18:54:49

[2015-08-14 05:47] richard42 commented on #493
[code]

Reported by `sven@narfation.org` on 2012-04-28 07:43:20
- **Status changed**: `Fixed`
- **Labels added**: Component-RSP-HLE, Type-Visual

[2015-08-14 05:47] richard42 commented on #493
[code]

Reported by `sven@narfation.org` on 2013-01-28 21:51:54

[2015-08-14 05:47] #493 closed, assigned to richard42

[2015-08-14 05:47] richard42 opened #494 "clipping, ghost images, frame rate issues???"
Originally reported on Google Code with ID 495

[code]

Reported by `skabidat` on 2012-04-27 04:49:17

[2015-08-14 05:47] richard42 commented on #494
[code]

Reported by `auria.mg` on 2012-05-06 15:42:59

[2015-08-14 05:47] richard42 commented on #494
[code]

Reported by `sven@narfation.org` on 2013-12-18 11:54:50
- **Status changed**: `Invalid`

[2015-08-14 05:47] #494 closed, assigned to richard42

[2015-08-14 05:47] richard42 opened #495 "Release mouse for "Mouse=True" controls when paused"
Originally reported on Google Code with ID 496

[code]

Reported by `cedric.sodhi` on 2012-05-20 11:44:08

[2015-08-14 05:47] richard42 commented on #495
[code]

Reported by `sven@narfation.org` on 2012-05-20 17:15:26
- **Labels added**: Type-Enhancement, Priority-Low, Component-SDL-Input, Usability

[2015-08-14 05:47] richard42 commented on #495
[code]

Reported by `sven@narfation.org` on 2013-12-18 11:56:48
- **Status changed**: `Fixed`

[2015-08-14 05:47] #495 closed, assigned to richard42

[2015-08-14 05:47] richard42 opened #496 "Better support for Donkey Kong 64"
Originally reported on Google Code with ID 497

[code]

Reported by `felinodegelo@yahoo.com.br` on 2012-05-21 21:42:22

[2015-08-14 05:47] richard42 commented on #496
Reported by `sven@narfation.org` on 2012-05-22 05:19:03
- **Labels added**: Type-Enhancement, Priority-Medium, Component-Core

[2015-08-14 05:47] richard42 commented on #496
[code]

Reported by `sven@narfation.org` on 2012-10-30 09:52:48

[2015-08-14 05:47] richard42 commented on #496
[code]

Reported by `glowacz` on 2013-01-19 03:44:15

[2015-08-14 05:47] richard42 commented on #496
[code]

Reported by `sven@narfation.org` on 2013-01-24 16:35:56

[2015-08-14 05:47] richard42 commented on #496
[code]

Reported by `shinra35888` on 2013-04-23 16:57:22

[2015-08-14 05:47] richard42 commented on #496
[code]

Reported by `sven@narfation.org` on 2013-04-29 12:59:39

[2015-08-14 05:47] richard42 commented on #496
[code]

Reported by `sven@narfation.org` on 2013-06-22 08:12:54
- **Status changed**: `Invalid`

[2015-08-14 05:47] #496 closed, assigned to richard42

[2015-08-14 05:47] richard42 opened #497 "Seg Fault before loading game"
Originally reported on Google Code with ID 498

[code]

Reported by `owens346` on 2012-05-22 18:34:53

[2015-08-14 05:47] richard42 commented on #497
[code]

Reported by `sven@narfation.org` on 2012-05-23 08:16:50

[2015-08-14 05:47] richard42 commented on #497
[code]

Reported by `sven@narfation.org` on 2013-12-18 11:57:16
- **Status changed**: `Invalid`

[2015-08-14 05:47] #497 closed, assigned to richard42

[2015-08-14 05:47] richard42 opened #498 "Segmentation fault in startup with radeon ATI RV380"
Originally reported on Google Code with ID 499

[code]

Reported by `slazzaris` on 2012-05-22 20:11:58

[2015-08-14 05:47] richard42 commented on #498
[code]

Reported by `sven@narfation.org` on 2012-05-23 08:12:21

[2015-08-14 05:47] richard42 commented on #498
[code]

Reported by `sven@narfation.org` on 2013-12-18 11:58:11
- **Status changed**: `External`

[2015-08-14 05:47] #498 closed, assigned to richard42

[2015-08-14 05:47] richard42 opened #499 "Scatterd Graphics, Can't play the game."
Originally reported on Google Code with ID 500
[code]

Reported by `ormie.suttiwit` on 2012-05-26 08:26:35

<hr>
 * *Attachment: bug_mupen.png<br>![bug_mupen.png](https://storage.googleapis.com/google-code-attachments/mupen64plus/issue-500/comment-0/bug_mupen.png)*

[2015-08-14 05:47] richard42 commented on #499
[code]

Reported by `sven@narfation.org` on 2012-05-26 10:50:11

[2015-08-14 05:47] richard42 commented on #499
[code]

Reported by `rapiertg` on 2013-06-28 10:16:32

[2015-08-14 05:47] richard42 commented on #499
[code]

Reported by `sven@narfation.org` on 2013-12-18 11:59:34

[2015-08-14 05:47] richard42 commented on #499
[code]

Reported by `sven@narfation.org` on 2013-12-18 12:02:39

[2015-08-14 05:47] richard42 opened #500 "Issues adjusting volume"
Originally reported on Google Code with ID 501

[code]

Reported by `t.miester100` on 2012-05-26 23:25:51

[2015-08-14 05:47] richard42 commented on #500
[code]

Reported by `sven@narfation.org` on 2012-05-27 08:18:23

[2015-08-14 05:47] richard42 commented on #500
[code]

Reported by `willy.waschmaschine` on 2012-05-27 10:37:28

[2015-08-14 05:47] richard42 commented on #500
[code]

Reported by `t.miester100` on 2012-05-28 02:05:18

[2015-08-14 05:47] richard42 commented on #500
[code]

Reported by `t.miester100` on 2012-05-28 03:21:01

[2015-08-14 05:47] richard42 commented on #500
Reported by `sven@narfation.org` on 2012-05-28 10:07:54
- **Status changed**: `Invalid`

[2015-08-14 05:47] #500 closed, assigned to richard42

[2015-08-14 05:47] richard42 opened #501 "Not working properly with Madcatz xbox 360 wired controller"
Originally reported on Google Code with ID 502

[code]

Reported by `t.miester100` on 2012-05-31 03:55:50

[2015-08-14 05:47] richard42 commented on #501
[code]

Reported by `sven@narfation.org` on 2012-06-01 06:34:51

[2015-08-14 05:47] richard42 commented on #501
Reported by `sven@narfation.org` on 2012-06-01 06:35:28
- **Labels added**: Component-SDL-Input

[2015-08-14 05:47] richard42 commented on #501
[code]

Reported by `t.miester100` on 2012-06-01 06:48:54

[2015-08-14 05:47] richard42 commented on #501
[code]

Reported by `sven@narfation.org` on 2012-06-01 18:30:00

[2015-08-14 05:47] richard42 commented on #501
[code]

Reported by `t.miester100` on 2012-06-01 19:28:04

[2015-08-14 05:47] richard42 commented on #501
[code]

Reported by `sven@narfation.org` on 2012-06-02 06:39:49

[2015-08-14 05:47] richard42 commented on #501
[code]

Reported by `sven@narfation.org` on 2012-06-02 06:42:24

[2015-08-14 05:47] richard42 commented on #501
[code]

Reported by `t.miester100` on 2012-06-03 00:11:53

[2015-08-14 05:47] richard42 commented on #501
[code]

Reported by `sven@narfation.org` on 2012-06-03 14:37:48

[2015-08-14 05:47] richard42 commented on #501
[code]

Reported by `t.miester100` on 2012-06-03 16:35:51

[2015-08-14 05:48] richard42 commented on #501
[code]

Reported by `sven@narfation.org` on 2012-06-03 17:12:30

[2015-08-14 05:48] richard42 commented on #501
[code]

Reported by `t.miester100` on 2012-06-03 19:30:05

[2015-08-14 05:48] richard42 commented on #501
[code]

Reported by `t.miester100` on 2012-06-03 19:40:35

[2015-08-14 05:48] richard42 commented on #501
[code]

Reported by `sven@narfation.org` on 2012-06-03 20:15:09

[2015-08-14 05:48] richard42 commented on #501
[code]

Reported by `t.miester100` on 2012-06-03 20:23:38

[2015-08-14 05:48] richard42 commented on #501
[code]

Reported by `sven@narfation.org` on 2012-06-03 20:38:49

[2015-08-14 05:48] richard42 commented on #501
[code]

Reported by `t.miester100` on 2012-06-03 21:02:41

[2015-08-14 05:48] richard42 commented on #501
[code]

Reported by `sven@narfation.org` on 2012-06-03 21:14:20

[2015-08-14 05:48] richard42 commented on #501
[code]

Reported by `t.miester100` on 2012-06-03 21:26:17

[2015-08-14 05:48] richard42 commented on #501
[code]

Reported by `sven@narfation.org` on 2012-06-04 06:28:44

[2015-08-14 05:48] richard42 commented on #501
[code]

Reported by `sven@narfation.org` on 2013-12-18 12:01:06
- **Status changed**: `Invalid`

[2015-08-14 05:48] #501 closed, assigned to richard42

[2015-08-14 05:48] richard42 opened #502 "No sound in Windows when vidext is used"
Originally reported on Google Code with ID 503
[code]

Reported by `gen2brain` on 2012-06-24 23:23:03

<hr>
 * *Attachment: [output.txt](https://storage.googleapis.com/google-code-attachments/mupen64plus/issue-503/comment-0/output.txt)*

[2015-08-14 05:48] richard42 commented on #502
[code]

Reported by `cluster.phucking` on 2012-06-25 01:22:42

[2015-08-14 05:48] richard42 commented on #502
[code]

Reported by `richard42g` on 2013-06-28 06:06:24
- **Status changed**: `Fixed`

[2015-08-14 05:48] richard42 commented on #502
[code]

Reported by `sven@narfation.org` on 2013-07-15 17:39:40
- **Status changed**: `New`

[2015-08-14 05:48] richard42 commented on #502
[code]

Reported by `sven@narfation.org` on 2013-07-28 19:43:07

[2015-08-14 05:48] richard42 opened #503 "Crashes on launch"
Originally reported on Google Code with ID 504
[code]

Reported by `HugzTiem` on 2012-06-27 22:01:49

[2015-08-14 05:48] richard42 commented on #503
[code]

Reported by `sven@narfation.org` on 2012-06-28 17:24:07

[2015-08-14 05:48] richard42 opened #504 "XBOX controller buttons mapped incorrectly"
Originally reported on Google Code with ID 505

[code]

Reported by `samuel.r.marshall` on 2012-07-11 04:08:57

<hr>
- _Attachment: [InputAutoCfg.ini](https://storage.googleapis.com/google-code-attachments/mupen64plus/issue-505/comment-0/InputAutoCfg.ini)_

[2015-08-14 05:48] richard42 commented on #504
[code]

Reported by `samuel.r.marshall` on 2012-07-11 04:15:20

[2015-08-14 05:48] richard42 commented on #504
[code]

Reported by `samuel.r.marshall` on 2012-07-11 04:16:52

[2015-08-14 05:48] richard42 commented on #504
[code]

Reported by `sven@narfation.org` on 2012-07-13 23:17:17

[2015-08-14 05:48] richard42 opened #505 "mupen64plus-core/src/main/zip/ioapi.h: "#define OF _Z_OF" prevents build on Ubuntu 12.04"
Originally reported on Google Code with ID 506

[code]

Reported by `madigens` on 2012-07-15 11:44:01

[2015-08-14 05:48] richard42 commented on #505
[code]

Reported by `sven@narfation.org` on 2012-07-15 12:11:11
- **Status changed**: `Accepted`

[2015-08-14 05:48] richard42 commented on #505
[code]

Reported by `sven@narfation.org` on 2012-07-15 12:17:09

[2015-08-14 05:48] richard42 commented on #505
[code]

Reported by `madigens` on 2012-07-15 22:52:56

[2015-08-14 05:48] richard42 commented on #505
[code]

Reported by `sven@narfation.org` on 2012-07-16 13:19:56
- **Status changed**: `Fixed`

[2015-08-14 05:48] #505 closed, assigned to richard42

[2015-08-14 05:48] richard42 opened #506 "Visual glitches in Mario 64"
Originally reported on Google Code with ID 507
[code]

Reported by `gsgatlin@sdf.lonestar.org` on 2012-07-29 23:44:35

[2015-08-14 05:48] richard42 commented on #506
[code]

Reported by `gsgatlin@sdf.lonestar.org` on 2012-07-30 01:02:55

[2015-08-14 05:48] richard42 commented on #506
[code]

Reported by `gsgatlin@sdf.lonestar.org` on 2013-12-06 00:44:28

[2015-08-14 05:48] richard42 opened #507 "m64p + mario kart + gallium radeon driver"
Originally reported on Google Code with ID 508

[code]

Reported by `legluondunet@free.fr` on 2012-08-10 14:07:28

<hr>
- _Attachment: [mupenplus.log](https://storage.googleapis.com/google-code-attachments/mupen64plus/issue-508/comment-0/mupenplus.log)_
- _Attachment: [glxinfo.log](https://storage.googleapis.com/google-code-attachments/mupen64plus/issue-508/comment-0/glxinfo.log)_

[2015-08-14 05:48] richard42 commented on #507
Reported by `sven@narfation.org` on 2013-12-18 12:02:38
- **Status changed**: `Duplicate`
- **Merged into**: #500

[2015-08-14 05:48] #507 closed, assigned to richard42

[2015-08-14 05:48] richard42 opened #508 "m64p + gallium radeon driver = no fullscreen"
Originally reported on Google Code with ID 509

[code]

Reported by `legluondunet@free.fr` on 2012-08-10 14:15:34

<hr>
- _Attachment: [mupenplus2.log](https://storage.googleapis.com/google-code-attachments/mupen64plus/issue-509/comment-0/mupenplus2.log)_

[2015-08-14 05:48] richard42 commented on #508
[code]

Reported by `sven@narfation.org` on 2013-12-18 12:03:20

[2015-08-14 05:48] richard42 opened #509 "mupen64plus twinkle in fullscreen"
Originally reported on Google Code with ID 510

[code]

Reported by `legluondunet@free.fr` on 2012-08-10 17:16:51

<hr>
- _Attachment: [m64+.log](https://storage.googleapis.com/google-code-attachments/mupen64plus/issue-510/comment-0/m64+.log)_

[2015-08-14 05:48] richard42 commented on #509
[code]

Reported by `sven@narfation.org` on 2013-12-18 12:04:38

[2015-08-14 05:48] richard42 opened #510 "failed to find Mupen64Plus Core Library"
Originally reported on Google Code with ID 511

[code]

Reported by `KhaderWelaye` on 2012-08-27 21:57:45

[2015-08-14 05:48] richard42 commented on #510
[code]

Reported by `KhaderWelaye` on 2012-08-27 22:06:34

[2015-08-14 05:48] richard42 commented on #510
[code]

Reported by `sven@narfation.org` on 2012-09-05 18:06:16

[2015-08-14 05:48] richard42 commented on #510
[code]

Reported by `teanbu` on 2012-12-25 21:50:44

[2015-08-14 05:48] richard42 commented on #510
[code]

Reported by `sven@narfation.org` on 2012-12-26 00:05:08

[2015-08-14 05:48] richard42 commented on #510
[code]

Reported by `alessandroporcelli91` on 2013-06-04 15:58:06

[2015-08-14 05:48] richard42 commented on #510
[code]

Reported by `mjsorribas` on 2013-08-26 19:28:41

[2015-08-14 05:48] richard42 commented on #510
[code]

Reported by `richard42g` on 2013-08-28 15:13:47

[2015-08-14 05:48] richard42 commented on #510
[code]

Reported by `ryan@solidarray.com` on 2013-10-27 14:14:35

[2015-08-14 05:48] richard42 commented on #510
[code]

Reported by `sven@narfation.org` on 2013-10-28 13:15:36

[2015-08-14 05:48] richard42 commented on #510
Reported by `sven@narfation.org` on 2013-12-18 12:05:07
- **Status changed**: `External`

[2015-08-14 05:48] #510 closed, assigned to richard42

[2015-08-14 05:48] richard42 opened #511 "Pokémon Snap: various issues"
Originally reported on Google Code with ID 512
[code]

Reported by `anthony@cathet.us` on 2012-08-29 20:53:12

[2015-08-14 05:48] richard42 opened #512 "ERROR: The core thread recieved a SIGSEGV signal..."
Originally reported on Google Code with ID 513

[code]

Reported by `henrygeorgelovell` on 2012-09-02 14:23:01

[2015-08-14 05:48] richard42 commented on #512
[code]

Reported by `sven@narfation.org` on 2012-09-05 18:00:57

[2015-08-14 05:48] richard42 commented on #512
Reported by `sven@narfation.org` on 2013-12-18 12:05:44
- **Status changed**: `Invalid`

[2015-08-14 05:48] #512 closed, assigned to richard42

[2015-08-14 05:48] richard42 opened #513 "."
Originally reported on Google Code with ID 514

[code]

Reported by `josephpanuto` on 2012-09-05 05:11:21

[2015-08-14 05:48] richard42 commented on #513
Reported by `sven@narfation.org` on 2012-09-05 17:59:39
- **Status changed**: `Invalid`

[2015-08-14 05:48] #513 closed, assigned to richard42

[2015-08-14 05:48] richard42 opened #514 "screen goes black after first skull kid cut scene"
Originally reported on Google Code with ID 515

[code]

Reported by `desamours4` on 2012-09-09 06:26:58

[2015-08-14 05:48] richard42 commented on #514
[code]

Reported by `sven@narfation.org` on 2012-09-11 19:02:26
- **Status changed**: `Invalid`

[2015-08-14 05:48] #514 closed, assigned to richard42

[2015-08-14 05:48] richard42 opened #515 "New handling of config options crashes mupen64plus"
Originally reported on Google Code with ID 516

[code]

Reported by `sven@narfation.org` on 2012-09-11 17:21:17

<hr>
- _Attachment: [mupen64plus.cfg](https://storage.googleapis.com/google-code-attachments/mupen64plus/issue-516/comment-0/mupen64plus.cfg)_

[2015-08-14 05:48] richard42 commented on #515
[code]

Reported by `sven@narfation.org` on 2012-09-11 17:39:47
- **Status changed**: `Started`

[2015-08-14 05:48] richard42 commented on #515
[code]

Reported by `sven@narfation.org` on 2012-09-12 05:34:47
- **Status changed**: `Fixed`

[2015-08-14 05:48] #515 closed, assigned to richard42

[2015-08-14 05:48] richard42 opened #516 "Full screen filter"
Originally reported on Google Code with ID 517

[code]

Reported by `dan.hobart` on 2012-09-14 09:12:40

<hr>
- _Attachment: [fakehdr.fx](https://storage.googleapis.com/google-code-attachments/mupen64plus/issue-517/comment-0/fakehdr.fx)_

[2015-08-14 05:48] richard42 commented on #516
[code]

Reported by `conchur@web.de` on 2014-09-02 18:43:51

[2015-08-14 05:48] richard42 opened #517 "make a right cfg file ! how????"
Originally reported on Google Code with ID 518

[code]

Reported by `naxreg` on 2012-09-21 20:41:50

[2015-08-14 05:48] richard42 commented on #517
[code]

Reported by `sven@narfation.org` on 2012-09-21 20:52:41
- **Status changed**: `Invalid`

[2015-08-14 05:48] #517 closed, assigned to richard42

[2015-08-14 05:48] richard42 opened #518 "Rice Plugin graphical glitches on Zelda OoT + MM"
Originally reported on Google Code with ID 519

[code]

Reported by `Willrandship` on 2012-09-24 16:46:49

[2015-08-14 05:48] richard42 commented on #518
Reported by `sven@narfation.org` on 2012-09-24 18:34:15
- **Status changed**: `Duplicate`
- **Merged into**: #411

[2015-08-14 05:49] #518 closed, assigned to richard42

[2015-08-14 05:49] richard42 opened #519 "Crash upon starting *any* ROM"
Originally reported on Google Code with ID 520

[code]

Reported by `eCatPCSecure` on 2012-10-21 14:11:53

[2015-08-14 05:49] richard42 commented on #519
[code]

Reported by `sven@narfation.org` on 2012-10-21 14:24:50
- **Status changed**: `Invalid`

[2015-08-14 05:49] richard42 commented on #519
[code]

Reported by `sven@narfation.org` on 2012-11-03 08:35:47

[2015-08-14 05:49] richard42 commented on #519
[code]

Reported by `alexlikerock` on 2012-11-03 09:10:07

[2015-08-14 05:49] richard42 commented on #519
[code]

Reported by `sven@narfation.org` on 2012-11-03 09:15:51

[2015-08-14 05:49] richard42 commented on #519
[code]

Reported by `sven@narfation.org` on 2012-11-03 09:38:26

[2015-08-14 05:49] richard42 commented on #519
[code]

Reported by `alexlikerock` on 2012-11-16 18:57:45

[2015-08-14 05:49] richard42 commented on #519
[code]

Reported by `sven@narfation.org` on 2012-11-17 21:02:17

[2015-08-14 05:49] richard42 commented on #519
[code]

Reported by `alexlikerock` on 2013-02-10 12:04:17

[2015-08-14 05:49] #519 closed, assigned to richard42

[2015-08-14 05:49] richard42 opened #520 "Violación de segmento 1.99.5"
Originally reported on Google Code with ID 521

[code]

Reported by `alexlikerock` on 2012-11-03 07:47:11

[2015-08-14 05:49] richard42 commented on #520
[code]

Reported by `alexlikerock` on 2012-11-03 08:20:33

[2015-08-14 05:49] richard42 commented on #520
Reported by `sven@narfation.org` on 2012-11-03 08:35:47
- **Status changed**: `Duplicate`
- **Merged into**: #520

[2015-08-14 05:49] richard42 commented on #520
[code]

Reported by `alexlikerock` on 2012-11-03 08:41:43

[2015-08-14 05:49] richard42 commented on #520
[code]

Reported by `alexlikerock` on 2012-11-03 09:06:02

[2015-08-14 05:49] richard42 commented on #520
[code]

Reported by `sven@narfation.org` on 2012-11-03 09:15:51
- **Merged into**: #520

[2015-08-14 05:49] richard42 commented on #520
[code]

Reported by `alexlikerock` on 2013-02-10 12:06:33

[2015-08-14 05:49] #520 closed, assigned to richard42

[2015-08-14 05:49] richard42 opened #521 "mupen64 not responding to controller"
Originally reported on Google Code with ID 522
[code]

Reported by `bdeonovic` on 2012-11-09 21:06:57

[2015-08-14 05:49] richard42 commented on #521
[code]

Reported by `sven@narfation.org` on 2013-12-18 12:08:34

[2015-08-14 05:49] richard42 opened #522 "No MinGW build option"
Originally reported on Google Code with ID 523

[code]

Reported by `topherwheeler` on 2012-11-15 02:39:19

[2015-08-14 05:49] richard42 commented on #522
Reported by `sven@narfation.org` on 2012-11-16 14:11:49
- **Labels added**: Type-Enhancement, Priority-Low, OpSys-Win-32

[2015-08-14 05:49] richard42 commented on #522
[code]

Reported by `topherwheeler` on 2012-12-04 00:58:58

<hr>
- _Attachment: [m64p_msys-mingw_dec2012.zip](https://storage.googleapis.com/google-code-attachments/mupen64plus/issue-523/comment-2/m64p_msys-mingw_dec2012.zip)_
- _Attachment: [README.msys.txt](https://storage.googleapis.com/google-code-attachments/mupen64plus/issue-523/comment-2/README.msys.txt)_
- _Attachment: [m64p_build.msys.sh]

[2015-08-14 05:49] richard42 commented on #522
[code]

Reported by `sven@narfation.org` on 2012-12-04 19:30:26

[2015-08-14 05:49] richard42 commented on #522
[code]

Reported by `sven@narfation.org` on 2012-12-04 19:32:06

[2015-08-14 05:49] richard42 commented on #522
[code]

Reported by `sven@narfation.org` on 2012-12-04 19:43:24

[2015-08-14 05:49] richard42 commented on #522
[code]

Reported by `topherwheeler` on 2012-12-04 22:47:22

[2015-08-14 05:49] richard42 commented on #522
[code]

Reported by `sven@narfation.org` on 2012-12-05 10:14:58

[2015-08-14 05:49] richard42 commented on #522
[code]

Reported by `topherwheeler` on 2012-12-05 23:38:45

[2015-08-14 05:49] richard42 commented on #522
[code]

Reported by `topherwheeler` on 2012-12-05 23:39:25

[2015-08-14 05:49] richard42 commented on #522
[code]

Reported by `topherwheeler` on 2012-12-09 00:27:12

<hr>
- _Attachment: [m64p.msys.u8pwr.diff](https://storage.googleapis.com/google-code-attachments/mupen64plus/issue-523/comment-10/m64p.msys.u8pwr.diff)_
- _Attachment: [m64p.msys.u8pr.diff](https://storage.googleapis.com/google-code-attachments/mupen64plus/issue-523/comment-10/m64p.msys.u8pr.diff)_

[2015-08-14 05:49] richard42 commented on #522
[code]

Reported by `sven@narfation.org` on 2012-12-10 09:28:06

<hr>
- _Attachment: [patch.log](https://storage.googleapis.com/google-code-attachments/mupen64plus/issue-523/comment-11/patch.log)_

[2015-08-14 05:49] richard42 commented on #522
[code]

Reported by `sven@narfation.org` on 2012-12-10 09:41:43

[2015-08-14 05:49] richard42 commented on #522
[code]

Reported by `sven@narfation.org` on 2012-12-10 18:39:31

[2015-08-14 05:49] richard42 commented on #522
[code]

Reported by `topherwheeler` on 2012-12-10 21:38:55

[2015-08-14 05:49] richard42 commented on #522
[code]

Reported by `topherwheeler` on 2012-12-10 21:48:43

[2015-08-14 05:49] richard42 commented on #522
[code]

Reported by `sven@narfation.org` on 2012-12-11 07:21:11

[2015-08-14 05:49] richard42 commented on #522
[code]

Reported by `sven@narfation.org` on 2012-12-12 21:49:38

[2015-08-14 05:49] richard42 commented on #522
[code]

Reported by `sven@narfation.org` on 2012-12-12 22:22:10

[2015-08-14 05:49] richard42 commented on #522
[code]

Reported by `topherwheeler` on 2012-12-12 23:32:02

[2015-08-14 05:49] richard42 commented on #522
[code]

Reported by `topherwheeler` on 2012-12-13 00:36:51

[2015-08-14 05:49] richard42 commented on #522
[code]

Reported by `topherwheeler` on 2012-12-13 00:46:20

<hr>
- _Attachment: [README.msys.txt](https://storage.googleapis.com/google-code-attachments/mupen64plus/issue-523/comment-21/README.msys.txt)_
- _Attachment: [makefile.msys.lpng](https://storage.googleapis.com/google-code-attachments/mupen64plus/issue-523/comment-21/makefile.msys.lpng)_

[2015-08-14 05:49] richard42 commented on #522
[code]

Reported by `sven@narfation.org` on 2012-12-13 07:31:51

[2015-08-14 05:49] richard42 commented on #522
[code]

Reported by `topherwheeler` on 2012-12-13 20:17:00

<hr>
- _Attachment: [msys.opengl.u8pwr.diff](https://storage.googleapis.com/google-code-attachments/mupen64plus/issue-523/comment-23/msys.opengl.u8pwr.diff)_
- _Attachment: [msys.opengl.u8pr.diff](https://storage.googleapis.com/google-code-attachments/mupen64plus/issue-523/comment-23/msys.opengl.u8pr.diff)_

[2015-08-14 05:49] richard42 commented on #522
[code]

Reported by `sven@narfation.org` on 2012-12-13 21:05:58

[2015-08-14 05:49] richard42 commented on #522
[code]

Reported by `sven@narfation.org` on 2012-12-13 21:26:57

[2015-08-14 05:49] richard42 commented on #522
[code]

Reported by `topherwheeler` on 2012-12-13 21:40:14

[2015-08-14 05:49] richard42 commented on #522
[code]

Reported by `sven@narfation.org` on 2012-12-13 21:55:54

[2015-08-14 05:49] richard42 commented on #522
[code]

Reported by `sven@narfation.org` on 2012-12-31 08:30:51
- **Status changed**: `Fixed`

[2015-08-14 05:49] #522 closed, assigned to richard42

[2015-08-14 05:49] richard42 opened #523 "Mupen64Plus v2.0 Core API v1.0 documentation wiki not accurate"
Originally reported on Google Code with ID 524

[code]

Reported by `topherwheeler` on 2012-11-15 02:47:07

[2015-08-14 05:49] richard42 commented on #523
[code]

Reported by `topherwheeler` on 2012-11-16 01:39:39

[2015-08-14 05:49] richard42 commented on #523
[code]

Reported by `sven@narfation.org` on 2012-11-16 14:09:38
- **Status changed**: `Fixed`

[2015-08-14 05:49] richard42 commented on #523
[code]

Reported by `richard42g` on 2012-11-16 15:18:01

[2015-08-14 05:49] richard42 commented on #523
[code]

Reported by `topherwheeler` on 2012-11-17 20:11:11

[2015-08-14 05:49] #523 closed, assigned to richard42

[2015-08-14 05:49] richard42 opened #524 "Core reverts controller changes to default settings when adjusted using frontend (and additional controller problems)"
Originally reported on Google Code with ID 525

[code]

Reported by `brady.sean.m` on 2012-11-19 10:40:43

[2015-08-14 05:49] richard42 commented on #524
[code]

Reported by `sven@narfation.org` on 2012-11-21 08:19:56
- **Status changed**: `External`

[2015-08-14 05:49] #524 closed, assigned to richard42

[2015-08-14 05:49] richard42 opened #525 "Audio for the World Is Not Enough Not Working"
Originally reported on Google Code with ID 526

[code]

Reported by `MoneyMan56@me.com` on 2012-12-05 23:26:22

[2015-08-14 05:50] richard42 commented on #525
[code]

Reported by `sven@narfation.org` on 2012-12-06 06:56:28

[2015-08-14 05:50] richard42 commented on #525
[code]

Reported by `sven@narfation.org` on 2012-12-06 10:08:17

[2015-08-14 05:50] richard42 commented on #525
[code]

Reported by `MoneyMan56@me.com` on 2012-12-06 21:24:27

[2015-08-14 05:50] richard42 commented on #525
[code]

Reported by `sven@narfation.org` on 2012-12-06 22:10:33

[2015-08-14 05:50] richard42 commented on #525
[code]

Reported by `MoneyMan56@me.com` on 2012-12-06 22:12:40

[2015-08-14 05:50] richard42 commented on #525
[code]

Reported by `MoneyMan56@me.com` on 2012-12-09 20:35:20

[2015-08-14 05:50] richard42 commented on #525
[code]

Reported by `sven@narfation.org` on 2012-12-10 12:28:46

[2015-08-14 05:50] richard42 commented on #525
Reported by `sven@narfation.org` on 2013-12-18 12:09:53
- **Status changed**: `Duplicate`
- **Merged into**: #99

[2015-08-14 05:50] #525 closed, assigned to richard42

[2015-08-14 05:50] richard42 opened #526 "The L button doesn't work correctly with WiseGroup.,Ltd TigerGame XBOX+PS2+GC Game Controller Adapter"
Originally reported on Google Code with ID 527

[code]

Reported by `gouessej` on 2012-12-07 16:00:19

[2015-08-14 05:50] richard42 commented on #526
[code]

Reported by `gouessej` on 2012-12-07 16:25:37

[2015-08-14 05:50] richard42 commented on #526
[code]

Reported by `sven@narfation.org` on 2012-12-10 12:25:01

[2015-08-14 05:50] richard42 commented on #526
[code]

Reported by `sven@narfation.org` on 2012-12-10 12:26:15

[2015-08-14 05:50] richard42 commented on #526
[code]

Reported by `gouessej` on 2012-12-10 16:56:38

[2015-08-14 05:50] richard42 commented on #526
[code]

Reported by `sven@narfation.org` on 2012-12-13 21:34:30
- **Status changed**: `Started`

[2015-08-14 05:50] richard42 commented on #526
[code]

Reported by `gouessej` on 2012-12-14 09:24:13

[2015-08-14 05:50] richard42 commented on #526
[code]

Reported by `sven@narfation.org` on 2012-12-30 23:51:36
- **Status changed**: `Fixed`

[2015-08-14 05:50] #526 closed, assigned to richard42

[2015-08-14 05:50] richard42 opened #527 "An X Windows System Error"
Originally reported on Google Code with ID 528

[code]

Reported by `james.grishenko` on 2012-12-20 17:17:29

[2015-08-14 05:50] richard42 commented on #527
[code]

Reported by `sven@narfation.org` on 2012-12-30 14:17:37

[2015-08-14 05:50] richard42 commented on #527
[code]

Reported by `sven@narfation.org` on 2013-12-18 10:51:56
- **Status changed**: `Invalid`

[2015-08-14 05:50] #527 closed, assigned to richard42

[2015-08-14 05:50] richard42 opened #528 "Glide64Mk2 issues in Linux system"
Originally reported on Google Code with ID 529

[code]

Reported by `platypux.site@free.fr` on 2012-12-22 10:14:48

[2015-08-14 05:50] richard42 commented on #528
[code]

Reported by `sven@narfation.org` on 2012-12-25 21:23:06
- **Status changed**: `Invalid`

[2015-08-14 05:50] richard42 commented on #528
[code]

Reported by `sven@narfation.org` on 2012-12-25 21:26:47

[2015-08-14 05:50] richard42 commented on #528
[code]

Reported by `sven@narfation.org` on 2013-01-04 12:53:14

[2015-08-14 05:50] richard42 commented on #528
[code]

Reported by `sven@narfation.org` on 2013-01-04 12:56:57

[2015-08-14 05:50] richard42 commented on #528
[code]

Reported by `sven@narfation.org` on 2013-01-04 13:35:38

[2015-08-14 05:50] richard42 commented on #528
[code]

Reported by `sven@narfation.org` on 2013-01-04 16:38:37

[2015-08-14 05:50] #528 closed, assigned to richard42

[2015-08-14 05:50] richard42 opened #529 "device name correction in InputAutoCfg.ini"
Originally reported on Google Code with ID 530

[code]

Reported by `jellegeerts` on 2012-12-26 22:51:55

[2015-08-14 05:50] richard42 commented on #529
[code]

Reported by `sven@narfation.org` on 2012-12-30 23:50:26
- **Status changed**: `Fixed`

[2015-08-14 05:50] #529 closed, assigned to richard42

[2015-08-14 05:50] richard42 opened #530 "Windows needs a new release!"
Originally reported on Google Code with ID 531

[code]

Reported by `tonybalsley` on 2012-12-29 15:45:36

[2015-08-14 05:50] richard42 commented on #530
[code]

Reported by `sven@narfation.org` on 2012-12-30 09:13:35

[2015-08-14 05:50] richard42 commented on #530
[code]

Reported by `tonybalsley` on 2012-12-30 21:20:38

[2015-08-14 05:50] richard42 commented on #530
[code]

Reported by `sven@narfation.org` on 2012-12-31 08:55:28

[2015-08-14 05:50] richard42 commented on #530
[code]

Reported by `sven@narfation.org` on 2013-01-01 01:01:03

[2015-08-14 05:50] richard42 commented on #530
[code]

Reported by `sven@narfation.org` on 2013-02-18 09:10:08

[2015-08-14 05:50] richard42 commented on #530
[code]

Reported by `tonybalsley` on 2013-03-28 04:08:15

[2015-08-14 05:50] richard42 commented on #530
[code]

Reported by `sven@narfation.org` on 2013-03-28 10:44:52

[2015-08-14 05:50] richard42 commented on #530
[code]

Reported by `tonybalsley` on 2013-03-29 00:35:18

[2015-08-14 05:50] richard42 commented on #530
[code]

Reported by `sven@narfation.org` on 2013-03-29 10:07:37

[2015-08-14 05:50] richard42 commented on #530
[code]

Reported by `tonybalsley` on 2013-03-29 14:50:56

<hr>
- _Attachment: [Legend of Zelda, The - Ocarina of Time (U) (V1.0) [!].sra](https://storage.googleapis.com/google-code-attachments/mupen64plus/issue-531/comment-12/Legend of Zelda, The - Ocarina of Time %28U%29 %28V1.0%29 [!].sra)_

[2015-08-14 05:50] richard42 commented on #530
[code]

Reported by `sven@narfation.org` on 2013-03-31 13:17:58

[2015-08-14 05:50] richard42 commented on #530
[code]

Reported by `sven@narfation.org` on 2013-03-31 13:35:33

[2015-08-14 05:50] richard42 commented on #530
[code]

Reported by `tonybalsley` on 2013-03-31 20:16:54

[2015-08-14 05:50] richard42 commented on #530
[code]

Reported by `sven@narfation.org` on 2013-04-01 07:08:04

[2015-08-14 05:50] richard42 commented on #530
[code]

Reported by `tonybalsley` on 2013-04-01 15:31:08

[2015-08-14 05:50] richard42 commented on #530
[code]

Reported by `tonybalsley` on 2013-04-10 14:01:36

[2015-08-14 05:50] richard42 commented on #530
[code]

Reported by `richard42g` on 2013-06-04 16:20:39
- **Status changed**: `Fixed`

[2015-08-14 05:50] #530 closed, assigned to richard42

[2015-08-14 05:50] richard42 opened #531 "OSX 10.7+ (XCode 4.3+) build issues/fixes"
Originally reported on Google Code with ID 532

[code]

Reported by `n.pepinpe` on 2012-12-30 22:52:42

[2015-08-14 05:50] richard42 commented on #531
[code]

Reported by `sven@narfation.org` on 2013-01-01 16:52:03
- **Status changed**: `Started`

[2015-08-14 05:50] richard42 commented on #531
[code]

Reported by `n.pepinpe` on 2013-01-01 16:54:49

[2015-08-14 05:50] richard42 commented on #531
[code]

Reported by `sven@narfation.org` on 2013-01-03 16:06:19

[2015-08-14 05:50] richard42 commented on #531
[code]

Reported by `n.pepinpe` on 2013-01-03 16:09:28

[2015-08-14 05:50] richard42 commented on #531
Reported by `sven@narfation.org` on 2013-01-03 16:14:24
- **Status changed**: `Fixed`

[2015-08-14 05:50] #531 closed, assigned to richard42

[2015-08-14 05:50] richard42 opened #532 "No audio without root permission (or without using sudo)"
Originally reported on Google Code with ID 533

[code]

Reported by `xpressrazor` on 2013-01-01 17:10:24

[2015-08-14 05:50] richard42 commented on #532
[code]

Reported by `sven@narfation.org` on 2013-01-01 18:22:38

[2015-08-14 05:50] richard42 commented on #532
[code]

Reported by `xpressrazor` on 2013-01-02 12:12:26

[2015-08-14 05:50] richard42 commented on #532
[code]

Reported by `sven@narfation.org` on 2013-01-02 14:16:59

[2015-08-14 05:51] richard42 commented on #532
[code]

Reported by `xpressrazor` on 2013-01-03 02:29:40

[2015-08-14 05:51] richard42 commented on #532
[code]

Reported by `sven@narfation.org` on 2013-01-03 10:34:12

[2015-08-14 05:51] richard42 commented on #532
[code]

Reported by `xpressrazor` on 2013-01-04 04:36:16

[2015-08-14 05:51] richard42 commented on #532
Reported by `sven@narfation.org` on 2013-01-04 06:54:47
- **Status changed**: `Invalid`

[2015-08-14 05:51] #532 closed, assigned to richard42

[2015-08-14 05:51] richard42 opened #533 "Unable to Change Default Keyboard Configuration"
Originally reported on Google Code with ID 534

[code]

Reported by `asdfasdffluttershy` on 2013-01-02 18:37:35

[2015-08-14 05:51] richard42 commented on #533
[code]

Reported by `sven@narfation.org` on 2013-01-02 20:38:29
- **Status changed**: `Invalid`

[2015-08-14 05:51] #533 closed, assigned to richard42

[2015-08-14 05:51] richard42 opened #534 "New release to fix build problems on OSX in Source code bundle for Mupen64Plus v1.99.5"
Originally reported on Google Code with ID 535

[code]

Reported by `n.pepinpe` on 2013-01-03 15:24:57

[2015-08-14 05:51] richard42 commented on #534
[code]

Reported by `n.pepinpe` on 2013-01-03 15:25:25

[2015-08-14 05:51] richard42 commented on #534
[code]

Reported by `sven@narfation.org` on 2013-01-03 16:12:12

[2015-08-14 05:51] richard42 commented on #534
[code]

Reported by `n.pepinpe` on 2013-01-03 16:14:41

[2015-08-14 05:51] richard42 commented on #534
[code]

Reported by `sven@narfation.org` on 2013-01-03 17:24:31

[2015-08-14 05:51] richard42 commented on #534
[code]

Reported by `n.pepinpe` on 2013-01-04 11:29:54

[2015-08-14 05:51] richard42 commented on #534
[code]

Reported by `n.pepinpe` on 2013-01-21 11:11:41

[2015-08-14 05:51] richard42 commented on #534
[code]

Reported by `sven@narfation.org` on 2013-01-21 13:14:29
- **Status changed**: `Fixed`

[2015-08-14 05:51] richard42 commented on #534
[code]

Reported by `n.pepinpe` on 2013-01-21 13:26:43

[2015-08-14 05:51] #534 closed, assigned to richard42

[2015-08-14 05:51] richard42 opened #535 "Glide64mk2 issues"
Originally reported on Google Code with ID 536

[code]

Reported by `jaime.gemelo.80` on 2013-01-04 11:57:37

[2015-08-14 05:51] richard42 commented on #535
Reported by `sven@narfation.org` on 2013-01-04 12:53:13
- **Status changed**: `Duplicate`
- **Merged into**: #529

[2015-08-14 05:51] richard42 commented on #535
[code]

Reported by `sven@narfation.org` on 2013-01-04 12:56:57

[2015-08-14 05:51] richard42 commented on #535
[code]

Reported by `platypux.site@free.fr` on 2013-01-04 13:22:03

[2015-08-14 05:51] richard42 commented on #535
[code]

Reported by `sven@narfation.org` on 2013-01-04 13:35:38

[2015-08-14 05:51] richard42 commented on #535
[code]

Reported by `platypux.site@free.fr` on 2013-01-04 13:40:20

[2015-08-14 05:51] richard42 commented on #535
[code]

Reported by `jaime.gemelo.80` on 2013-01-04 13:58:43

[2015-08-14 05:51] richard42 commented on #535
[code]

Reported by `jaime.gemelo.80` on 2013-01-04 14:01:34

[2015-08-14 05:51] richard42 commented on #535
[code]

Reported by `sven@narfation.org` on 2013-01-04 16:38:37

[2015-08-14 05:51] #535 closed, assigned to richard42

[2015-08-14 05:51] richard42 opened #536 "Banjo Kazooie start game puzzle piece effect not working correctly"
Originally reported on Google Code with ID 537

[code]

Reported by `dylstew3` on 2013-01-06 08:54:34

[2015-08-14 05:51] richard42 commented on #536
[code]

Reported by `sven@narfation.org` on 2013-01-06 20:18:38

[2015-08-14 05:51] richard42 commented on #536
[code]

Reported by `sven@narfation.org` on 2013-12-18 12:20:02
- **Status changed**: `Invalid`

[2015-08-14 05:51] #536 closed, assigned to richard42

[2015-08-14 05:51] richard42 opened #537 "Emulation bugs (JPEG + audio RSP) in Pocket Monsters Stadium (J)"
Originally reported on Google Code with ID 538

[code]

Reported by `anthony@cathet.us` on 2013-01-16 07:09:55

[2015-08-14 05:51] richard42 commented on #537
[code]

Reported by `sven@narfation.org` on 2013-01-16 08:20:10

[2015-08-14 05:51] richard42 commented on #537
[code]

Reported by `anthony@cathet.us` on 2013-01-16 08:21:35

[2015-08-14 05:51] richard42 commented on #537
[code]

Reported by `anthony@cathet.us` on 2013-01-16 08:51:54

[2015-08-14 05:51] richard42 commented on #537
[code]

Reported by `bobby.smiles32` on 2013-01-16 17:20:51

[2015-08-14 05:51] richard42 commented on #537
[code]

Reported by `bobby.smiles32` on 2013-02-07 18:17:40

<hr>
- _Attachment: [jpeg_refactor.patch](https://storage.googleapis.com/google-code-attachments/mupen64plus/issue-538/comment-6/jpeg_refactor.patch)_
- _Attachment: [jpeg_pokemon_stadium_japan.patch](https://storage.googleapis.com/google-code-attachments/mupen64plus/issue-538/comment-6/jpeg_pokemon_stadium_japan.patch)_

[2015-08-14 05:51] richard42 commented on #537
[code]

Reported by `sven@narfation.org` on 2013-02-08 08:31:13
- **Status changed**: `Fixed`

[2015-08-14 05:51] #537 closed, assigned to richard42

[2015-08-14 05:51] richard42 opened #538 "Video Glitches in Blast Corps"
Originally reported on Google Code with ID 539

[code]

Reported by `glowacz` on 2013-01-19 04:34:54

<hr>
- _Attachment: [BlastCorps - Wi-Fi.m4v](https://storage.googleapis.com/google-code-attachments/mupen64plus/issue-539/comment-0/BlastCorps - Wi-Fi.m4v)_

[2015-08-14 05:51] richard42 commented on #538
[code]

Reported by `glowacz` on 2013-01-19 04:38:31

[2015-08-14 05:51] richard42 commented on #538
[code]

Reported by `glowacz` on 2013-01-19 04:50:06

[2015-08-14 05:51] richard42 commented on #538
[code]

Reported by `glowacz` on 2013-01-19 19:19:44

[2015-08-14 05:51] richard42 commented on #538
[code]

Reported by `sven@narfation.org` on 2013-01-25 14:25:13

[2015-08-14 05:51] richard42 commented on #538
[code]

Reported by `glowacz` on 2013-01-25 14:44:53

[2015-08-14 05:51] richard42 commented on #538
[code]

Reported by `sven@narfation.org` on 2013-01-26 10:55:57

[2015-08-14 05:51] richard42 commented on #538
[code]

Reported by `sven@narfation.org` on 2013-01-26 11:13:24

[2015-08-14 05:51] richard42 commented on #538
[code]

Reported by `glowacz` on 2013-01-26 14:54:55

<hr>
- _Attachment: Screen Shot 2013-01-26 at Jan 26, 08.51.53 AM.png<br>![Screen Shot 2013-01-26 at Jan 26, 08.51.53 AM.png](https://storage.googleapis.com/google-code-attachments/mupen64plus/issue-539/comment-8/Screen Shot 2013-01-26 at Jan 26, 08.51.53 AM.png)_

[2015-08-14 05:51] richard42 commented on #538
[code]

Reported by `sven@narfation.org` on 2013-01-27 00:30:12

[2015-08-14 05:51] richard42 commented on #538
[code]

Reported by `sven@narfation.org` on 2013-12-18 12:25:34
- **Status changed**: `Fixed`

[2015-08-14 05:51] #538 closed, assigned to richard42

[2015-08-14 05:51] richard42 opened #539 "Use system zlib on OSX"
Originally reported on Google Code with ID 540

[code]

Reported by `n.pepinpe` on 2013-01-20 20:50:42

[2015-08-14 05:51] richard42 commented on #539
[code]

Reported by `sven@narfation.org` on 2013-01-21 19:24:15

[2015-08-14 05:51] richard42 commented on #539
Reported by `sven@narfation.org` on 2013-01-21 19:24:24
- **Status changed**: `Accepted`

[2015-08-14 05:51] richard42 commented on #539
[code]

Reported by `n.pepinpe` on 2013-01-21 21:03:20

[2015-08-14 05:51] richard42 commented on #539
[code]

Reported by `sven@narfation.org` on 2013-05-11 13:08:27

[2015-08-14 05:51] richard42 commented on #539
[code]

Reported by `n.pepinpe` on 2013-05-11 14:46:50

[2015-08-14 05:51] richard42 commented on #539
[code]

Reported by `sven@narfation.org` on 2013-05-12 10:01:46

[2015-08-14 05:51] richard42 commented on #539
[code]

Reported by `n.pepinpe` on 2013-05-12 13:37:19

[2015-08-14 05:51] richard42 commented on #539
[code]

Reported by `sven@narfation.org` on 2013-05-18 07:14:36

[2015-08-14 05:51] richard42 commented on #539
[code]

Reported by `n.pepinpe` on 2013-05-20 12:58:22

[2015-08-14 05:51] richard42 commented on #539
[code]

Reported by `sven@narfation.org` on 2013-05-22 06:53:11
- **Status changed**: `Fixed`

[2015-08-14 05:52] #539 closed, assigned to richard42

[2015-08-14 05:52] richard42 opened #540 "Zelda Majoras Mask freezes"
Originally reported on Google Code with ID 541

[code]

Reported by `commella225` on 2013-01-25 22:44:23

[2015-08-14 05:52] richard42 commented on #540
[code]

Reported by `sven@narfation.org` on 2013-01-26 10:51:46

[2015-08-14 05:52] richard42 commented on #540
[code]

Reported by `commella225` on 2013-01-26 14:07:46

<hr>
- _Attachment: [mupen64plus.cfg](https://storage.googleapis.com/google-code-attachments/mupen64plus/issue-541/comment-2/mupen64plus.cfg)_

[2015-08-14 05:52] richard42 commented on #540
[code]

Reported by `sven@narfation.org` on 2013-01-27 00:29:23

[2015-08-14 05:52] richard42 commented on #540
[code]

Reported by `commella225` on 2013-01-27 16:00:14

<hr>
- _Attachment: [mupen64plus.cfg](https://storage.googleapis.com/google-code-attachments/mupen64plus/issue-541/comment-5/mupen64plus.cfg)_

[2015-08-14 05:52] richard42 commented on #540
[code]

Reported by `sven@narfation.org` on 2013-01-27 16:20:20

[2015-08-14 05:52] richard42 commented on #540
[code]

Reported by `sven@narfation.org` on 2013-01-27 16:36:29

[2015-08-14 05:52] richard42 commented on #540
[code]

Reported by `sven@narfation.org` on 2013-01-27 16:56:18

[2015-08-14 05:52] richard42 commented on #540
[code]

Reported by `commella225` on 2013-01-28 10:42:11

[2015-08-14 05:52] richard42 commented on #540
[code]

Reported by `sven@narfation.org` on 2013-01-28 15:55:37

[2015-08-14 05:52] richard42 commented on #540
[code]

Reported by `commella225` on 2013-01-28 20:48:04

[2015-08-14 05:52] richard42 commented on #540
[code]

Reported by `Ruin62691` on 2013-04-27 21:12:27

[2015-08-14 05:52] richard42 opened #541 "Rice-video bugs with Zelda"
Originally reported on Google Code with ID 542

[code]

Reported by `daniel.plachotich@yandex.ru` on 2013-01-28 05:03:26

<hr>
- _Attachment: 2013-01-28-065636_802x627_scrot.png<br>![2013-01-28-065636_802x627_scrot.png](https://storage.googleapis.com/google-code-attachments/mupen64plus/issue-542/comment-0/2013-01-28-065636_802x627_scrot.png)_

[2015-08-14 05:52] richard42 commented on #541
[code]

Reported by `daniel.plachotich@yandex.ru` on 2013-01-28 05:05:04

[2015-08-14 05:52] richard42 commented on #541
[code]

Reported by `bobby.smiles32` on 2013-01-28 18:34:16

[2015-08-14 05:52] richard42 commented on #541
Reported by `sven@narfation.org` on 2013-01-28 21:51:35
- **Status changed**: `Fixed`

[2015-08-14 05:52] richard42 commented on #541
Reported by `sven@narfation.org` on 2013-01-28 21:51:54
- **Status changed**: `Duplicate`
- **Merged into**: #494

[2015-08-14 05:52] #541 closed, assigned to richard42

[2015-08-14 05:52] richard42 opened #542 "Program abruptly ends itself."
Originally reported on Google Code with ID 543

[code]

Reported by `armaghedron` on 2013-01-30 19:09:53

[2015-08-14 05:52] richard42 commented on #542
[code]

Reported by `sven@narfation.org` on 2013-01-31 01:40:55

[2015-08-14 05:52] richard42 commented on #542
[code]

Reported by `armaghedron` on 2013-02-08 13:04:56

[2015-08-14 05:52] richard42 commented on #542
[code]

Reported by `sven@narfation.org` on 2013-12-18 10:49:12
- **Status changed**: `Invalid`

[2015-08-14 05:52] #542 closed, assigned to richard42

[2015-08-14 05:52] richard42 opened #543 "gpaper mario flickers, yoshis story does display some animation just black screen. some games just dont load, bomber man hero."
Originally reported on Google Code with ID 544

[code]

Reported by `glenn.blocher` on 2013-02-18 05:12:37

[2015-08-14 05:52] richard42 commented on #543
[code]

Reported by `sven@narfation.org` on 2013-02-18 09:11:24

[2015-08-14 05:52] richard42 commented on #543
[code]

Reported by `sven@narfation.org` on 2013-07-21 08:26:31
- **Status changed**: `Invalid`

[2015-08-14 05:52] #543 closed, assigned to richard42

[2015-08-14 05:52] richard42 opened #544 "Impossible to run Mupen64plus "instruction not allowed""
Originally reported on Google Code with ID 545

[code]

Reported by `gouessej` on 2013-03-10 13:39:47

[2015-08-14 05:52] richard42 commented on #544
[code]

Reported by `sven@narfation.org` on 2013-03-10 22:35:09

[2015-08-14 05:52] richard42 commented on #544
[code]

Reported by `sven@narfation.org` on 2013-03-11 07:13:06

[2015-08-14 05:52] richard42 commented on #544
[code]

Reported by `sven@narfation.org` on 2013-06-06 17:39:36
- **Status changed**: `Invalid`

[2015-08-14 05:52] #544 closed, assigned to richard42

[2015-08-14 05:52] richard42 opened #545 "Indiana Jones: Works with dynarec, but not interpreter"
Originally reported on Google Code with ID 546

[code]

Reported by `0StevenSmith0` on 2013-03-21 23:52:18

[2015-08-14 05:52] richard42 commented on #545
[code]

Reported by `sven@narfation.org` on 2013-03-23 19:25:53

[2015-08-14 05:52] richard42 commented on #545
[code]

Reported by `0StevenSmith0` on 2013-03-24 01:14:45

[2015-08-14 05:52] richard42 commented on #545
[code]

Reported by `sven@narfation.org` on 2014-01-28 23:45:10

[2015-08-14 05:52] richard42 commented on #545
[code]

Reported by `mattheweroomsburg` on 2015-05-11 21:12:51

[2015-08-14 05:52] richard42 opened #546 "Force windows to delay screen saver/sleep mode while emulator is running"
Originally reported on Google Code with ID 547

[code]

Reported by `tonybalsley` on 2013-03-29 18:42:36

<hr>
- _Attachment: [InputAutoCfg.ini](https://storage.googleapis.com/google-code-attachments/mupen64plus/issue-547/comment-0/InputAutoCfg.ini)_

[2015-08-14 05:52] richard42 commented on #546
[code]

Reported by `sven@narfation.org` on 2013-03-31 12:44:19

[2015-08-14 05:52] richard42 commented on #546
[code]

Reported by `tonybalsley` on 2013-04-08 00:55:34

[2015-08-14 05:52] richard42 commented on #546
[code]

Reported by `tonybalsley` on 2013-04-08 02:02:30

[2015-08-14 05:52] richard42 commented on #546
[code]

Reported by `sven@narfation.org` on 2013-04-14 19:48:58
- **Status changed**: `Invalid`

[2015-08-14 05:52] #546 closed, assigned to richard42

[2015-08-14 05:52] richard42 opened #547 "Moon jump cheat code is full of errors"
Originally reported on Google Code with ID 548
[code]

Reported by `ormie.suttiwit` on 2013-03-31 05:21:36

[2015-08-14 05:52] richard42 commented on #547
[code]

Reported by `sven@narfation.org` on 2013-03-31 12:51:59

[2015-08-14 05:52] richard42 commented on #547
[code]

Reported by `ormie.suttiwit` on 2013-04-01 14:31:43

[2015-08-14 05:52] richard42 commented on #547
[code]

Reported by `sven@narfation.org` on 2013-04-01 16:09:25

[2015-08-14 05:52] richard42 commented on #547
[code]

Reported by `ormie.suttiwit` on 2013-04-02 02:12:05

[2015-08-14 05:52] richard42 commented on #547
[code]

Reported by `sven@narfation.org` on 2014-01-29 19:02:57

[2015-08-14 05:52] richard42 commented on #547
[code]

Reported by `sven@narfation.org` on 2014-01-29 21:13:17

<hr>
- _Attachment: [0001-Use-same-precondition-for-all-parts-of-the-Mario64-L.patch](https://storage.googleapis.com/google-code-attachments/mupen64plus/issue-548/comment-6/0001-Use-same-precondition-for-all-parts-of-the-Mario64-L.patch)_

[2015-08-14 05:52] richard42 commented on #547
[code]

Reported by `sven@narfation.org` on 2014-01-29 21:50:31

[2015-08-14 05:52] richard42 opened #548 "Mupen64 not opening"
Originally reported on Google Code with ID 549

[code]

Reported by `SaltyGigglestick` on 2013-04-30 04:55:36

[2015-08-14 05:52] richard42 commented on #548
[code]

Reported by `sven@narfation.org` on 2013-04-30 14:06:55

[2015-08-14 05:52] richard42 commented on #548
[code]

Reported by `sven@narfation.org` on 2013-05-07 16:22:55
- **Status changed**: `Invalid`

[2015-08-14 05:52] richard42 commented on #548
[code]

Reported by `SaltyGigglestick` on 2013-05-07 16:53:53

[2015-08-14 05:52] richard42 commented on #548
[code]

Reported by `SaltyGigglestick` on 2013-05-07 16:54:38

[2015-08-14 05:52] richard42 commented on #548
[code]

Reported by `SaltyGigglestick` on 2013-05-07 16:55:32

[2015-08-14 05:52] richard42 commented on #548
[code]

Reported by `sven@narfation.org` on 2013-05-08 23:38:24

[2015-08-14 05:52] richard42 commented on #548
[code]

Reported by `SaltyGigglestick` on 2013-05-09 00:57:30

[2015-08-14 05:52] richard42 commented on #548
[code]

Reported by `sven@narfation.org` on 2013-05-09 14:54:25

[2015-08-14 05:52] #548 closed, assigned to richard42

[2015-08-14 05:52] richard42 opened #549 "[Linux] [Legend of Zelda: OOT @ Sand Temple] Segmentation fault: Out of bound address"
Originally reported on Google Code with ID 550

[code]

Reported by `admin@computerquip.com` on 2013-05-19 21:54:30

[2015-08-14 05:52] richard42 commented on #549
[code]

Reported by `admin@computerquip.com` on 2013-05-19 22:00:09

[2015-08-14 05:52] richard42 commented on #549
[code]

Reported by `sven@narfation.org` on 2013-05-20 07:32:43

[2015-08-14 05:53] richard42 commented on #549
[code]

Reported by `admin@computerquip.com` on 2013-05-20 07:55:06

<hr>
- _Attachment: [Legend of Zelda, The - Ocarina of Time (U) (V1.0) [!].st1](https://storage.googleapis.com/google-code-attachments/mupen64plus/issue-550/comment-3/Legend of Zelda, The - Ocarina of Time %28U%29 %28V1.0%29 [!].st1)_

[2015-08-14 05:53] richard42 commented on #549
[code]

Reported by `admin@computerquip.com` on 2013-05-20 07:58:32

[2015-08-14 05:53] richard42 commented on #549
[code]

Reported by `sven@narfation.org` on 2013-05-20 08:50:34
- **Status changed**: `Accepted`

<hr>
- _Attachment: THE LEGEND OF ZELDA#B0140A84#0#2_all.png<br>![THE LEGEND OF ZELDA#B0140A84#0#2_all.png](https://storage.googleapis.com/google-code-attachments/mupen64plus/issue-550/comment-5/THE LEGEND OF ZELDA#B0140A84#0#2_all.png)_

[2015-08-14 05:53] richard42 commented on #549
[code]

Reported by `sven@narfation.org` on 2013-05-20 10:25:13

<hr>
- _Attachment: [debug_for_3a99cd5c5dd2.patch](https://storage.googleapis.com/google-code-attachments/mupen64plus/issue-550/comment-6/debug_for_3a99cd5c5dd2.patch)_

[2015-08-14 05:53] richard42 commented on #549
[code]

Reported by `sven@narfation.org` on 2013-05-20 10:54:56

<hr>
- _Attachment: [check_loadblock_cnt.patch](https://storage.googleapis.com/google-code-attachments/mupen64plus/issue-550/comment-7/check_loadblock_cnt.patch)_

[2015-08-14 05:53] richard42 commented on #549
[code]

Reported by `sven@narfation.org` on 2013-05-20 11:06:49

[2015-08-14 05:53] richard42 commented on #549
Reported by `sven@narfation.org` on 2013-05-20 11:13:35
- **Status changed**: `Started`

[2015-08-14 05:53] richard42 opened #550 "Segmentation fault using Glide64mk2 in LOZ:MM and the Debug Master Quest [f2] + Pause Crashing"
Originally reported on Google Code with ID 551

[code]

Reported by `alessandroporcelli91` on 2013-06-01 13:05:28

<hr>
- _Attachment: [Legend of Zelda, The - Majora's Mask (U) [!].st1](https://storage.googleapis.com/google-code-attachments/mupen64plus/issue-551/comment-0/Legend of Zelda, The - Majora's Mask %28U%29 [!].st1)_
- _Attachment: [Legend of Zelda, The - Ocarina of Time - Master Quest (U

[2015-08-14 05:53] richard42 commented on #550
[code]

Reported by `sven@narfation.org` on 2013-06-06 18:44:48

[2015-08-14 05:53] richard42 commented on #550
[code]

Reported by `alessandroporcelli91` on 2013-06-06 22:02:31

[2015-08-14 05:53] richard42 commented on #550
[code]

Reported by `alessandroporcelli91` on 2013-06-06 23:06:27

<hr>
- _Attachment: bugged.png<br>![bugged.png](https://storage.googleapis.com/google-code-attachments/mupen64plus/issue-551/comment-4/bugged.png)_

[2015-08-14 05:53] richard42 commented on #550
[code]

Reported by `alessandroporcelli91` on 2013-06-06 23:06:39

<hr>
- _Attachment: bugged.png<br>![bugged.png](https://storage.googleapis.com/google-code-attachments/mupen64plus/issue-551/comment-5/bugged.png)_

[2015-08-14 05:53] richard42 commented on #550
[code]

Reported by `sven@narfation.org` on 2013-06-07 07:17:17

[2015-08-14 05:53] richard42 commented on #550
[code]

Reported by `alessandroporcelli91` on 2013-06-09 14:04:13

<hr>
- _Attachment: [Legend of Zelda, The - Majora's Mask (U) [!].st1](https://storage.googleapis.com/google-code-attachments/mupen64plus/issue-551/comment-7/Legend of Zelda, The - Majora's Mask %28U%29 [!].st1)_

[2015-08-14 05:53] richard42 commented on #550
[code]

Reported by `sven@narfation.org` on 2013-06-14 14:11:43

[2015-08-14 05:53] richard42 commented on #550
[code]

Reported by `alessandroporcelli91` on 2013-06-15 00:45:14

[2015-08-14 05:53] richard42 commented on #550
[code]

Reported by `sven@narfation.org` on 2013-06-15 05:25:04

[2015-08-14 05:53] richard42 commented on #550
[code]

Reported by `CloningDonor` on 2013-09-10 07:22:12

[2015-08-14 05:53] richard42 commented on #550
[code]

Reported by `CloningDonor` on 2013-09-13 10:01:15

[2015-08-14 05:53] richard42 commented on #550
[code]

Reported by `sven@narfation.org` on 2013-09-13 10:07:21

[2015-08-14 05:53] richard42 commented on #550
[code]

Reported by `CloningDonor` on 2013-09-14 07:26:15

[2015-08-14 05:53] richard42 commented on #550
[code]

Reported by `alessandroporcelli91` on 2013-09-18 16:25:05

[2015-08-14 05:53] richard42 opened #551 "Start Button on Paper Mario"
Originally reported on Google Code with ID 552

[code]

Reported by `matthewaguilar2468` on 2013-06-05 19:09:14

[2015-08-14 05:53] richard42 commented on #551
[code]

Reported by `sven@narfation.org` on 2013-06-06 17:37:48
- **Status changed**: `Invalid`

[2015-08-14 05:53] #551 closed, assigned to richard42

[2015-08-14 05:53] richard42 opened #552 "Perfect Dark crashes with core interrupt queue error"
Originally reported on Google Code with ID 553
[code]

Reported by `davidroth9` on 2013-06-06 16:16:08

[2015-08-14 05:53] richard42 commented on #552
Reported by `richard42g` on 2013-06-08 04:50:04

[2015-08-14 05:53] richard42 commented on #552
[code]

Reported by `sayret` on 2013-07-03 22:17:43

[2015-08-14 05:53] richard42 commented on #552
[code]

Reported by `sayret` on 2013-07-03 23:40:18

[2015-08-14 05:53] richard42 commented on #552
[code]

Reported by `antiaverage` on 2013-07-05 19:19:13

[2015-08-14 05:53] richard42 commented on #552
[code]

Reported by `thematrixeatsyou` on 2013-07-27 09:58:02

[2015-08-14 05:53] richard42 opened #553 "Segmentation fault with nouveau dri drivers"
Originally reported on Google Code with ID 554

[code]

Reported by `yugiohjcj@1s.fr` on 2013-06-13 20:18:24

[2015-08-14 05:53] richard42 commented on #553
[code]

Reported by `sven@narfation.org` on 2013-06-14 12:00:37
- **Status changed**: `Invalid`

[2015-08-14 05:53] richard42 commented on #553
[code]

Reported by `sven@narfation.org` on 2013-06-14 12:06:21

[2015-08-14 05:53] richard42 commented on #553
[code]

Reported by `sven@narfation.org` on 2013-06-14 12:09:30

[2015-08-14 05:53] richard42 commented on #553
[code]

Reported by `yugiohjcj@1s.fr` on 2013-06-14 16:49:32

[2015-08-14 05:53] #553 closed, assigned to richard42

[2015-08-14 05:53] richard42 opened #554 "Clone PS3 controller does not work"
Originally reported on Google Code with ID 555

[code]

Reported by `rs.matthewcom.info` on 2013-06-19 23:50:14

[2015-08-14 05:53] richard42 commented on #554
[code]

Reported by `rs.matthewcom.info` on 2013-06-20 01:39:40

<hr>
- _Attachment: [InputAutoCfg.patch](https://storage.googleapis.com/google-code-attachments/mupen64plus/issue-555/comment-1/InputAutoCfg.patch)_

[2015-08-14 05:53] richard42 commented on #554
[code]

Reported by `rs.matthewcom.info` on 2013-06-20 02:12:32

[2015-08-14 05:53] richard42 commented on #554
[code]

Reported by `sven@narfation.org` on 2013-06-24 21:19:44
- **Status changed**: `Fixed`

[2015-08-14 05:53] richard42 commented on #554
[code]

Reported by `rs.matthewcom.info` on 2013-06-24 23:19:28

[2015-08-14 05:53] #554 closed, assigned to richard42

[2015-08-14 05:53] richard42 opened #555 "Keyboard controls go back to default"
Originally reported on Google Code with ID 556

[code]

Reported by `isaac.watson28` on 2013-06-22 20:19:07

[2015-08-14 05:53] richard42 commented on #555
[code]

Reported by `sven@narfation.org` on 2013-06-22 21:16:09
- **Status changed**: `Invalid`

[2015-08-14 05:53] #555 closed, assigned to richard42

[2015-08-14 05:53] richard42 opened #556 "Keyboard controls won't change to what I set them to"
Originally reported on Google Code with ID 557

[code]

Reported by `isaac.watson28` on 2013-06-24 04:11:24

[2015-08-14 05:53] richard42 commented on #556
[code]

Reported by `isaac.watson28` on 2013-06-24 04:20:08

[2015-08-14 05:53] richard42 commented on #556
Reported by `sven@narfation.org` on 2013-06-24 19:48:30
- **Status changed**: `Invalid`

[2015-08-14 05:53] #556 closed, assigned to richard42

[2015-08-14 05:53] richard42 opened #557 "Rice README gives wrong information about hires texture paths"
Originally reported on Google Code with ID 558

[code]

Reported by `romnempire` on 2013-06-24 20:30:16

[2015-08-14 05:53] richard42 commented on #557
Reported by `sven@narfation.org` on 2013-06-24 21:06:55
- **Status changed**: `Accepted`
- **Labels added**: Component-RiceVideo, Milestone-2.0, Usability

[2015-08-14 05:53] richard42 commented on #557
[code]

Reported by `richard42g` on 2013-06-28 06:01:01
- **Status changed**: `Fixed`

[2015-08-14 05:53] #557 closed, assigned to richard42

[2015-08-14 05:53] richard42 opened #558 "GCC 4.6 from Rosa 2012 crashes (ICE) when linking mupen64plus-video-rice"
Originally reported on Google Code with ID 559

[code]

Reported by `zombie_ryushu@yahoo.com` on 2013-06-25 07:47:28

[2015-08-14 05:53] richard42 commented on #558
[code]

Reported by `sven@narfation.org` on 2013-06-25 08:07:07

[2015-08-14 05:53] richard42 commented on #558
[code]

Reported by `sven@narfation.org` on 2013-06-25 08:11:16

[2015-08-14 05:53] richard42 commented on #558
Reported by `sven@narfation.org` on 2013-06-25 08:33:05

[2015-08-14 05:53] #558 closed, assigned to richard42

[2015-08-14 05:53] richard42 opened #559 "Mouse support doesn't work"
Originally reported on Google Code with ID 560

[code]

Reported by `mpolanco31` on 2013-06-25 20:26:10

[2015-08-14 05:53] richard42 commented on #559
[code]

Reported by `mpolanco31` on 2013-06-25 20:35:58

[2015-08-14 05:53] richard42 commented on #559
[code]

Reported by `sven@narfation.org` on 2013-06-26 06:55:23

[2015-08-14 05:53] richard42 commented on #559
[code]

Reported by `sven@narfation.org` on 2013-06-26 06:57:47

[2015-08-14 05:53] richard42 commented on #559
[code]

Reported by `sven@narfation.org` on 2013-06-26 07:16:07
- **Status changed**: `Fixed`

[2015-08-14 05:53] #559 closed, assigned to richard42

[2015-08-14 05:53] richard42 opened #560 "Mouse not working"
Originally reported on Google Code with ID 561

[code]

Reported by `mpolanco31` on 2013-06-25 20:27:31

[2015-08-14 05:53] richard42 commented on #560
Reported by `sven@narfation.org` on 2013-06-26 06:55:22
- **Status changed**: `Duplicate`
- **Merged into**: #560

[2015-08-14 05:54] #560 closed, assigned to richard42

[2015-08-14 05:54] richard42 opened #561 "Scratching sound when running unoptimized Atom build"
Originally reported on Google Code with ID 562
[code]

Reported by `zombie_ryushu@yahoo.com` on 2013-06-27 11:34:06

[2015-08-14 05:54] richard42 commented on #561
[code]

Reported by `sven@narfation.org` on 2013-06-27 13:22:19

[2015-08-14 05:54] richard42 commented on #561
[code]

Reported by `sven@narfation.org` on 2013-06-27 13:40:17

[2015-08-14 05:54] richard42 commented on #561
[code]

Reported by `zombie_ryushu@yahoo.com` on 2013-06-27 15:24:43

[2015-08-14 05:54] richard42 commented on #561
[code]

Reported by `sven@narfation.org` on 2013-06-29 06:41:00

[2015-08-14 05:54] richard42 opened #562 "RSP plugin missing"
Originally reported on Google Code with ID 563

[code]

Reported by `warheadconcepts` on 2013-06-28 00:57:27

[2015-08-14 05:54] richard42 commented on #562
[code]

Reported by `richard42g` on 2013-06-28 06:04:07
- **Status changed**: `Invalid`

[2015-08-14 05:54] richard42 commented on #562
[code]

Reported by `philz71@hotmail.com` on 2015-02-14 19:37:06

[2015-08-14 05:54] richard42 commented on #562
[code]

Reported by `richard42g` on 2015-02-14 19:50:31

[2015-08-14 05:54] richard42 commented on #562
[code]

Reported by `conchur@web.de` on 2015-02-15 08:37:37

[2015-08-14 05:54] #562 closed, assigned to richard42

[2015-08-14 05:54] richard42 opened #563 "MISCHIEF MAKERS doesn't accept key input anymore"
Originally reported on Google Code with ID 564

[code]

Reported by `sven@narfation.org` on 2013-07-01 09:24:22

[2015-08-14 05:54] richard42 commented on #563
[code]

Reported by `sven@narfation.org` on 2013-07-01 09:26:44

[2015-08-14 05:54] richard42 commented on #563
[code]

Reported by `sven@narfation.org` on 2013-07-01 10:13:43

[2015-08-14 05:54] richard42 commented on #563
[code]

Reported by `sven@narfation.org` on 2013-07-01 10:35:29

[2015-08-14 05:54] richard42 commented on #563
[code]

Reported by `sven@narfation.org` on 2013-07-01 10:57:30

[2015-08-14 05:54] richard42 commented on #563
[code]

Reported by `sven@narfation.org` on 2013-07-01 16:26:04

[2015-08-14 05:54] richard42 opened #564 "Question: How to configure joystick under MacOSX"
Originally reported on Google Code with ID 565

[code]

Reported by `jbbass171` on 2013-07-02 23:48:33

[2015-08-14 05:54] richard42 commented on #564
[code]

Reported by `sven@narfation.org` on 2013-07-03 09:17:55
- **Status changed**: `Invalid`

[2015-08-14 05:54] #564 closed, assigned to richard42

[2015-08-14 05:54] richard42 opened #565 "glide64mk2: S3TC Texture Compression mixes up color channels for HiRes Textures"
Originally reported on Google Code with ID 566

[code]

Reported by `iLagDoesntCheckThisEmail` on 2013-07-04 05:24:54

[2015-08-14 05:54] richard42 commented on #565
[code]

Reported by `sven@narfation.org` on 2013-07-04 09:42:07

[2015-08-14 05:54] richard42 commented on #565
Reported by `sven@narfation.org` on 2013-07-04 09:43:33
- **Labels added**: Type-Visual, Component-Glide64Mk2Video

[2015-08-14 05:54] richard42 commented on #565
[code]

Reported by `sven@narfation.org` on 2013-07-08 20:12:06

<hr>
- _Attachment: THE LEGEND OF ZELDA#850C8172#2#1#AB1A780A_ciByRGBA.png<br>![THE LEGEND OF ZELDA#850C8172#2#1#AB1A780A_ciByRGBA.png](https://storage.googleapis.com/google-code-attachments/mupen64plus/issue-566/comment-3/THE LEGEND OF ZELDA#850C8172#2#1#AB1A780A_ciByRGBA.png)_

[2015-08-14 05:54] richard42 commented on #565
[code]

Reported by `sven@narfation.org` on 2013-07-08 21:05:27

[2015-08-14 05:54] richard42 commented on #565
[code]

Reported by `sven@narfation.org` on 2013-07-09 05:50:49
- **Status changed**: `Fixed`

[2015-08-14 05:54] #565 closed, assigned to richard42

[2015-08-14 05:54] richard42 opened #566 "i can’t get anything to work, i have no idea what I’m doing here"
Originally reported on Google Code with ID 567

[code]

Reported by `JamesSBHR` on 2013-07-05 13:21:27

[2015-08-14 05:54] richard42 commented on #566
Reported by `sven@narfation.org` on 2013-07-05 13:59:20
- **Status changed**: `Invalid`

[2015-08-14 05:54] #566 closed, assigned to richard42

[2015-08-14 05:54] richard42 opened #567 "Pokemon Puzzle League doesn't boot"
Originally reported on Google Code with ID 568

[code]

Reported by `naretobh@gmx.com` on 2013-07-12 18:49:08

[2015-08-14 05:54] richard42 commented on #567
[code]

Reported by `sven@narfation.org` on 2013-07-13 19:06:04

[2015-08-14 05:54] richard42 opened #568 "Ocarina Of Time: No video Output"
Originally reported on Google Code with ID 569

[code]

Reported by `cjkneebone` on 2013-07-18 07:49:11

[2015-08-14 05:54] richard42 commented on #568
[code]

Reported by `sven@narfation.org` on 2013-07-18 08:45:19
- **Status changed**: `Invalid`

[2015-08-14 05:54] #568 closed, assigned to richard42

[2015-08-14 05:54] richard42 opened #569 "How to uninstall the program"
Originally reported on Google Code with ID 570

[code]

Reported by `SaltyGigglestick` on 2013-07-30 01:07:08

[2015-08-14 05:54] richard42 commented on #569
[code]

Reported by `sven@narfation.org` on 2013-07-30 07:10:43
- **Status changed**: `Invalid`

[2015-08-14 05:54] #569 closed, assigned to richard42

[2015-08-14 05:54] richard42 opened #570 "Improve the controller configuration by accepting several buttons"
Originally reported on Google Code with ID 571

[code]

Reported by `yugiohjcj@1s.fr` on 2013-07-30 01:13:28

[2015-08-14 05:54] richard42 commented on #570
[code]

Reported by `sven@narfation.org` on 2013-08-02 14:09:52
- **Labels added**: Type-Enhancement, Component-SDL-Input

[2015-08-14 05:54] richard42 commented on #570
[code]

Reported by `yugiohjcj@1s.fr` on 2013-08-02 21:22:25

[2015-08-14 05:54] richard42 commented on #570
[code]

Reported by `hglez86` on 2013-10-18 23:21:12

[2015-08-14 05:54] richard42 commented on #570
[code]

Reported by `yugiohjcj@1s.fr` on 2013-10-19 14:03:56

[2015-08-14 05:54] richard42 commented on #570
[code]

Reported by `sven@narfation.org` on 2013-12-18 12:40:37

[2015-08-14 05:54] richard42 commented on #570
[code]

Reported by `sven@narfation.org` on 2013-12-18 12:41:19

[2015-08-14 05:54] richard42 commented on #570
[code]

Reported by `mushman5@hotmail.com` on 2015-03-22 07:57:22

[2015-08-14 05:54] richard42 opened #571 "mupen64plus 1.99 with M64Py"
Originally reported on Google Code with ID 572

[code]

Reported by `ruberducky6` on 2013-08-01 21:45:22

<hr>
- _Attachment: Mupen64plus settings screen.png<br>![Mupen64plus settings screen.png](https://storage.googleapis.com/google-code-attachments/mupen64plus/issue-572/comment-0/Mupen64plus settings screen.png)_

[2015-08-14 05:54] richard42 commented on #571
[code]

Reported by `sven@narfation.org` on 2013-08-02 12:25:59
- **Status changed**: `Invalid`

[2015-08-14 05:54] richard42 commented on #571
[code]

Reported by `JoshuaRDick` on 2013-12-21 04:50:11

[2015-08-14 05:54] #571 closed, assigned to richard42

[2015-08-14 05:54] richard42 opened #572 "How to config 2 players in one keyboard ?"
Originally reported on Google Code with ID 573

[code]

Reported by `victorsp2153` on 2013-08-07 01:49:36

[2015-08-14 05:54] richard42 commented on #572
[code]

Reported by `sven@narfation.org` on 2013-08-07 09:31:32
- **Status changed**: `Invalid`

[2015-08-14 05:54] #572 closed, assigned to richard42

[2015-08-14 05:54] richard42 opened #573 "cannot open shared object file: No such file or directory"
Originally reported on Google Code with ID 574

[code]

Reported by `dylanlip` on 2013-08-29 12:24:28

[2015-08-14 05:54] richard42 commented on #573
[code]

Reported by `sven@narfation.org` on 2013-08-29 12:37:17

[2015-08-14 05:54] richard42 commented on #573
[code]

Reported by `dylanlip` on 2013-08-29 12:58:06

[2015-08-14 05:54] richard42 commented on #573
[code]

Reported by `sven@narfation.org` on 2013-08-29 13:34:23

[2015-08-14 05:54] richard42 commented on #573
[code]

Reported by `dylanlip` on 2013-08-29 14:00:37

[2015-08-14 05:54] richard42 commented on #573
[code]

Reported by `sven@narfation.org` on 2013-08-29 14:14:30

[2015-08-14 05:54] richard42 commented on #573
[code]

Reported by `dylanlip` on 2013-08-29 14:23:25

[2015-08-14 05:54] richard42 commented on #573
Reported by `sven@narfation.org` on 2013-08-29 14:30:16
- **Status changed**: `External`

[2015-08-14 05:54] richard42 commented on #573
[code]

Reported by `p.mindesse` on 2014-05-24 08:36:35

[2015-08-14 05:54] #573 closed, assigned to richard42

[2015-08-14 05:54] richard42 opened #574 "Analog Stick Nunchuk not working."
Originally reported on Google Code with ID 575
[code]

Reported by `kian.syaifoel` on 2013-08-31 19:52:25

[2015-08-14 05:54] richard42 commented on #574
[code]

Reported by `sven@narfation.org` on 2013-09-02 09:34:45

[2015-08-14 05:54] richard42 opened #575 "Auto configuration input for Xbox 360 wireless controller is messed"
Originally reported on Google Code with ID 576

[code]

Reported by `mastergatto` on 2013-09-05 21:59:03

[2015-08-14 05:54] richard42 commented on #575
[code]

Reported by `sven@narfation.org` on 2013-09-06 13:36:44

[2015-08-14 05:54] richard42 commented on #575
[code]

Reported by `sven@narfation.org` on 2013-09-06 13:42:54

[2015-08-14 05:54] richard42 commented on #575
[code]

Reported by `mastergatto` on 2013-09-06 14:20:02

[2015-08-14 05:54] richard42 commented on #575
[code]

Reported by `sven@narfation.org` on 2013-09-06 18:12:56

[2015-08-14 05:54] richard42 commented on #575
[code]

Reported by `mastergatto` on 2013-09-06 21:03:17

[2015-08-14 05:54] richard42 commented on #575
[code]

Reported by `mastergatto` on 2013-09-07 14:26:07

[2015-08-14 05:55] richard42 commented on #575
[code]

Reported by `sven@narfation.org` on 2013-12-13 16:20:26

[2015-08-14 05:55] richard42 commented on #575
[code]

Reported by `Baddonkey75` on 2014-08-20 05:36:46

[2015-08-14 05:55] richard42 commented on #575
[code]

Reported by `jlcooke` on 2014-09-16 15:24:02

[2015-08-14 05:55] richard42 commented on #575
[code]

Reported by `Dancingmadrb3` on 2014-09-25 01:46:06

[2015-08-14 05:55] richard42 commented on #575
[code]

Reported by `conchur@web.de` on 2014-09-25 06:38:55

[2015-08-14 05:55] richard42 commented on #575
[code]

Reported by `brfabiian` on 2015-02-04 20:17:23

[2015-08-14 05:55] richard42 opened #576 "DK64 Swinging on lianes wrongly triggers level change"
Originally reported on Google Code with ID 577
[code]

Reported by `davidroth9` on 2013-09-05 22:18:36

<hr>
 * *Attachment: [Donkey Kong 64 (U) [!].st1](https://storage.googleapis.com/google-code-attachments/mupen64plus/issue-577/comment-0/Donkey Kong 64 (U) [!].st1)*

[2015-08-14 05:55] richard42 commented on #576
[code]

Reported by `matthewdavisscott` on 2014-01-13 02:59:02

[2015-08-14 05:55] richard42 commented on #576
[code]

Reported by `sven@narfation.org` on 2014-01-22 21:08:52

[2015-08-14 05:55] richard42 commented on #576
[code]

Reported by `davidroth9` on 2014-01-23 09:11:33

[2015-08-14 05:55] richard42 commented on #576
[code]

Reported by `davidroth9` on 2014-01-23 17:22:48

[2015-08-14 05:55] richard42 commented on #576
[code]

Reported by `sven@narfation.org` on 2014-01-23 17:35:29

[2015-08-14 05:55] richard42 commented on #576
[code]

Reported by `crich@thedefaced.org` on 2015-05-06 06:24:51

<hr>
- _Attachment: [Donkey Kong 64 (U) [!].st0](https://storage.googleapis.com/google-code-attachments/mupen64plus/issue-577/comment-6/Donkey Kong 64 %28U%29 [!].st0)_

[2015-08-14 05:55] richard42 opened #577 "video-glide64mk2 compilation fails on OSX"
Originally reported on Google Code with ID 578
[code]

Reported by `n.pepinpe` on 2013-09-18 19:24:47

[2015-08-14 05:55] richard42 commented on #577
[code]

Reported by `n.pepinpe` on 2013-09-18 19:37:29

[2015-08-14 05:55] richard42 commented on #577
[code]

Reported by `sven@narfation.org` on 2013-09-28 07:46:13

[2015-08-14 05:55] richard42 commented on #577
[code]

Reported by `info@consoleemu.com` on 2013-12-06 21:44:31

[2015-08-14 05:55] richard42 opened #578 "Legend of Zelda: OOT crash when moving towards Malon in Castle Town"
Originally reported on Google Code with ID 579

[code]

Reported by `like2radio` on 2013-10-01 00:41:31

<hr>
- _Attachment: [crashlog.txt](https://storage.googleapis.com/google-code-attachments/mupen64plus/issue-579/comment-0/crashlog.txt)_

[2015-08-14 05:55] richard42 commented on #578
[code]

Reported by `like2radio` on 2013-10-02 20:37:25

[2015-08-14 05:55] richard42 commented on #578
[code]

Reported by `sven@narfation.org` on 2013-10-04 11:50:28

[2015-08-14 05:55] richard42 commented on #578
[code]

Reported by `like2radio` on 2013-10-04 23:11:39

<hr>
- _Attachment: [Legend of Zelda, The - Ocarina of Time (U) (V1.2) [!].st0](https://storage.googleapis.com/google-code-attachments/mupen64plus/issue-579/comment-3/Legend of Zelda, The - Ocarina of Time %28U%29 %28V1.2%29 [!].st0)_

[2015-08-14 05:55] richard42 commented on #578
[code]

Reported by `sven@narfation.org` on 2013-10-08 09:18:00

[2015-08-14 05:55] richard42 commented on #578
[code]

Reported by `like2radio` on 2013-10-08 12:01:46

[2015-08-14 05:55] richard42 commented on #578
Reported by `sven@narfation.org` on 2013-10-09 09:50:43
- **Labels added**: OpSys-OSX

[2015-08-14 05:55] richard42 commented on #578
[code]

Reported by `zito.bandito` on 2013-11-05 02:41:53

[2015-08-14 05:55] richard42 commented on #578
[code]

Reported by `sven@narfation.org` on 2013-12-18 12:42:26

[2015-08-14 05:55] richard42 commented on #578
[code]

Reported by `marcusdean.adams` on 2014-01-24 04:03:54

[2015-08-14 05:55] richard42 commented on #578
[code]

Reported by `sven@narfation.org` on 2014-01-24 09:39:09

[2015-08-14 05:55] richard42 commented on #578
[code]

Reported by `marcusdean.adams` on 2014-01-25 00:14:27

[2015-08-14 05:55] richard42 commented on #578
[code]

Reported by `like2radio` on 2014-02-09 05:16:41

[2015-08-14 05:55] richard42 commented on #578
[code]

Reported by `conchur@web.de` on 2014-06-28 15:08:47

<hr>
- _Attachment: [replace_negative_int_shift.patch](https://storage.googleapis.com/google-code-attachments/mupen64plus/issue-579/comment-13/replace_negative_int_shift.patch)_

[2015-08-14 05:55] richard42 commented on #578
[code]

Reported by `conchur@web.de` on 2014-06-28 15:31:59

<hr>
- _Attachment: [replace_negative_int_shift2.patch](https://storage.googleapis.com/google-code-attachments/mupen64plus/issue-579/comment-14/replace_negative_int_shift2.patch)_

[2015-08-14 05:55] richard42 commented on #578
[code]

Reported by `thesourcehim` on 2014-11-01 12:33:45

[2015-08-14 05:55] richard42 commented on #578
[code]

Reported by `thesourcehim` on 2014-11-02 10:21:10

[2015-08-14 05:55] richard42 commented on #578
[code]

Reported by `witten` on 2014-11-23 19:11:07

[2015-08-14 05:55] richard42 commented on #578
[code]

Reported by `a.wisz30` on 2014-12-14 19:19:02

[2015-08-14 05:55] richard42 commented on #578
[code]

Reported by `conchur@web.de` on 2015-01-05 16:10:01

<hr>
- _Attachment: [Legend of Zelda, The - Ocarina of Time (E) (M3) (V1.0) [!].st0](https://storage.googleapis.com/google-code-attachments/mupen64plus/issue-579/comment-20/Legend of Zelda, The - Ocarina of Time %28E%29 %28M3%29 %28V1.0%29 [!].st0)_
- _Attachment: [Legend of Zelda, The - Ocarina of Time (E) (M3) (V1.0) [!].sra](https://s

[2015-08-14 05:55] richard42 commented on #578
[code]

Reported by `conchur@web.de` on 2015-01-05 17:55:14

<hr>
- _Attachment: [trap_negative_ext_debug2.patch](https://storage.googleapis.com/google-code-attachments/mupen64plus/issue-579/comment-21/trap_negative_ext_debug2.patch)_

[2015-08-14 05:55] richard42 commented on #578
[code]

Reported by `ryanverdel85` on 2015-03-15 02:48:46

[2015-08-14 05:55] richard42 commented on #578
[code]

Reported by `marcusdean.adams` on 2015-03-15 02:53:41

[2015-08-14 05:55] richard42 commented on #578
[code]

Reported by `like2radio` on 2015-03-16 03:12:53

[2015-08-14 05:55] richard42 commented on #578
[code]

Reported by `richard42g` on 2015-05-02 03:46:53
- **Status changed**: `Fixed`
- **Labels added**: Type-Defect
- **Labels removed**: OpSys-OSX

[2015-08-14 05:55] richard42 commented on #578
[code]

Reported by `sszzl3` on 2015-06-17 12:35:36

[2015-08-14 05:55] richard42 commented on #578
[code]

Reported by `conchur@web.de` on 2015-06-28 19:53:45

[2015-08-14 05:55] #578 closed, assigned to richard42

[2015-08-14 05:55] richard42 opened #579 "Error: Couldn't open rom file "..." for reading. First time it happens with this machine."
Originally reported on Google Code with ID 580

[code]

Reported by `hglez86` on 2013-10-18 23:15:22

<hr>
- _Attachment: [kart](https://storage.googleapis.com/google-code-attachments/mupen64plus/issue-580/comment-0/kart)_
- _Attachment: [mupen64plus.cfg](https://storage.googleapis.com/google-code-attachments/mupen64plus/issue-580/comment-0/mupen64plus.cfg)_
- _Attachment: [smash](https://storage.

[2015-08-14 05:55] richard42 commented on #579
[code]

Reported by `hglez86` on 2013-10-18 23:58:48

[2015-08-14 05:55] richard42 commented on #579
Reported by `sven@narfation.org` on 2013-10-22 12:21:32
- **Status changed**: `Invalid`

[2015-08-14 05:55] richard42 commented on #579
[code]

Reported by `hglez86` on 2013-10-22 16:21:18

[2015-08-14 05:55] #579 closed, assigned to richard42

[2015-08-14 05:55] richard42 opened #580 "Zelda OoT segfault with official amd64 build of Glide64Mk2"
Originally reported on Google Code with ID 581

[code]

Reported by `ZanQdo` on 2013-11-12 05:07:14

<hr>
- _Attachment: [Legend of Zelda, The - Ocarina of Time (U) (V1.0) [!].st0](https://storage.googleapis.com/google-code-attachments/mupen64plus/issue-581/comment-0/Legend of Zelda, The - Ocarina of Time %28U%29 %28V1.0%29 [!].st0)_

[2015-08-14 05:55] richard42 commented on #580
[code]

Reported by `sven@narfation.org` on 2013-12-03 20:56:56

[2015-08-14 05:55] richard42 commented on #580
[code]

Reported by `ZanQdo` on 2013-12-04 04:53:42

[2015-08-14 05:55] richard42 commented on #580
[code]

Reported by `sven@narfation.org` on 2013-12-04 08:23:19

[2015-08-14 05:55] richard42 commented on #580
Reported by `sven@narfation.org` on 2013-12-04 10:11:01

[2015-08-14 05:55] richard42 commented on #580
[code]

Reported by `sven@narfation.org` on 2013-12-06 09:14:09
- **Status changed**: `External`

[2015-08-14 05:55] #580 closed, assigned to richard42

[2015-08-14 05:55] richard42 opened #581 "Zelda OoT segfault with Glide"
Originally reported on Google Code with ID 582

[code]

Reported by `ZanQdo` on 2013-11-13 19:22:09

<hr>
- _Attachment: [Legend of Zelda, The - Ocarina of Time (U) (V1.0) [!].st0](https://storage.googleapis.com/google-code-attachments/mupen64plus/issue-582/comment-0/Legend of Zelda, The - Ocarina of Time %28U%29 %28V1.0%29 [!].st0)_

[2015-08-14 05:56] richard42 commented on #581
[code]

Reported by `sven@narfation.org` on 2013-12-03 20:50:58

[2015-08-14 05:56] richard42 commented on #581
[code]

Reported by `ZanQdo` on 2013-12-04 04:52:28

[2015-08-14 05:56] richard42 commented on #581
[code]

Reported by `sven@narfation.org` on 2013-12-04 08:23:19
- **Status changed**: `Duplicate`
- **Merged into**: #581

[2015-08-14 05:56] #581 closed, assigned to richard42

[2015-08-14 05:56] richard42 opened #582 "How do I get this thing working? I play a n64 rom and it just crashes! I want to know how to fix it!"
Originally reported on Google Code with ID 583

[code]

Reported by `jarrodjohnson0` on 2013-11-18 03:44:33

[2015-08-14 05:56] richard42 commented on #582
[code]

Reported by `sven@narfation.org` on 2013-11-25 20:06:04
- **Status changed**: `Invalid`

[2015-08-14 05:56] #582 closed, assigned to richard42

[2015-08-14 05:56] richard42 opened #583 "The Mighty Gauntlet Legends is still un-playable"
Originally reported on Google Code with ID 584

[code]

Reported by `iokzero` on 2013-11-28 10:49:49

[2015-08-14 05:56] richard42 commented on #583
Reported by `sven@narfation.org` on 2013-11-28 18:09:06
- **Status changed**: `Duplicate`
- **Merged into**: #341

[2015-08-14 05:56] #583 closed, assigned to richard42

[2015-08-14 05:56] richard42 opened #584 "Crash using Glide642k"
Originally reported on Google Code with ID 585

[code]

Reported by `vmachiel` on 2013-11-28 12:40:31

[2015-08-14 05:56] richard42 commented on #584
[code]

Reported by `sven@narfation.org` on 2013-11-28 18:07:30
- **Status changed**: `Invalid`

[2015-08-14 05:56] #584 closed, assigned to richard42

[2015-08-14 05:56] richard42 opened #585 "Crash using Mupen64plus 2.0 and glide64mk2 (sorry I can't delete previous issue, which was incomplete)"
Originally reported on Google Code with ID 586

[code]

Reported by `vmachiel` on 2013-11-28 12:55:32

[2015-08-14 05:56] richard42 commented on #585
[code]

Reported by `vmachiel` on 2013-11-28 13:52:45

[2015-08-14 05:56] richard42 commented on #585
[code]

Reported by `sven@narfation.org` on 2013-11-28 18:06:54

[2015-08-14 05:56] richard42 commented on #585
Reported by `sven@narfation.org` on 2013-12-18 12:42:26
- **Status changed**: `Duplicate`
- **Merged into**: #579

[2015-08-14 05:56] #585 closed, assigned to richard42

[2015-08-14 05:56] richard42 opened #586 "FPS slow and loss of controler input in Wipeout64"
Originally reported on Google Code with ID 587

[code]

Reported by `nix.thinkpenguin` on 2013-12-04 21:10:50

<hr>
- _Attachment: [Wipeout 64 (U) [!].st0](https://storage.googleapis.com/google-code-attachments/mupen64plus/issue-587/comment-0/Wipeout 64 %28U%29 [!].st0)_
- _Attachment: [Wipeout 64 (U) [!].st1](https://storage.googleapis.com/google-code-attachments/mupen64plus/issue-587/comment-0/W

[2015-08-14 05:56] richard42 commented on #586
[code]

Reported by `sven@narfation.org` on 2013-12-06 08:53:32

<hr>
- _Attachment: [counter_one.patch](https://storage.googleapis.com/google-code-attachments/mupen64plus/issue-587/comment-1/counter_one.patch)_

[2015-08-14 05:56] richard42 commented on #586
[code]

Reported by `sven@narfation.org` on 2013-12-06 23:51:46

<hr>
- _Attachment: [counter_one_dynarec.patch](https://storage.googleapis.com/google-code-attachments/mupen64plus/issue-587/comment-2/counter_one_dynarec.patch)_

[2015-08-14 05:56] richard42 commented on #586
[code]

Reported by `nix.thinkpenguin` on 2013-12-08 22:05:48

[2015-08-14 05:56] richard42 commented on #586
[code]

Reported by `sven@narfation.org` on 2013-12-13 14:10:18

[2015-08-14 05:56] richard42 commented on #586
[code]

Reported by `sven@narfation.org` on 2013-12-14 12:18:44

[2015-08-14 05:56] richard42 commented on #586
Reported by `sven@narfation.org` on 2013-12-14 12:20:03
- **Status changed**: `Fixed`

[2015-08-14 05:56] #586 closed, assigned to richard42

[2015-08-14 05:56] richard42 opened #587 "Missing Subscreen Delay Fix in multiple versions of Ocarina of Time [Includes Patch]"
Originally reported on Google Code with ID 588

[code]

Reported by `iLagDoesntCheckThisEmail` on 2013-12-09 18:53:12

<hr>
- _Attachment: [OcarinaFix.patch](https://storage.googleapis.com/google-code-attachments/mupen64plus/issue-588/comment-0/OcarinaFix.patch)_

[2015-08-14 05:56] richard42 commented on #587
[code]

Reported by `sven@narfation.org` on 2013-12-11 09:12:06

[2015-08-14 05:56] richard42 commented on #587
[code]

Reported by `iLagDoesntCheckThisEmail` on 2013-12-12 18:50:08

[2015-08-14 05:56] richard42 commented on #587
[code]

Reported by `sven@narfation.org` on 2013-12-13 12:33:21

[2015-08-14 05:56] richard42 commented on #587
[code]

Reported by `sven@narfation.org` on 2013-12-14 12:20:44
- **Status changed**: `Fixed`

[2015-08-14 05:56] #587 closed, assigned to richard42

[2015-08-14 05:56] richard42 opened #588 "Primusrun issue on nvidia optimus laptop on Linux"
Originally reported on Google Code with ID 589

[code]

Reported by `esorsky` on 2013-12-26 18:30:12

[2015-08-14 05:56] richard42 commented on #588
[code]

Reported by `sven@narfation.org` on 2013-12-27 23:08:58
- **Labels added**: Type-Visual

[2015-08-14 05:56] richard42 commented on #588
[code]

Reported by `sven@narfation.org` on 2013-12-27 23:10:45

[2015-08-14 05:56] richard42 commented on #588
[code]

Reported by `sven@narfation.org` on 2013-12-27 23:13:15

[2015-08-14 05:56] richard42 commented on #588
[code]

Reported by `esorsky` on 2013-12-27 23:26:39

<hr>
- _Attachment: [mupen64plus.cfg](https://storage.googleapis.com/google-code-attachments/mupen64plus/issue-589/comment-4/mupen64plus.cfg)_

[2015-08-14 05:56] richard42 commented on #588
[code]

Reported by `esorsky` on 2013-12-27 23:30:56

[2015-08-14 05:56] richard42 commented on #588
[code]

Reported by `sven@narfation.org` on 2013-12-28 11:28:22

[2015-08-14 05:56] richard42 commented on #588
[code]

Reported by `esorsky` on 2013-12-28 22:52:56

[2015-08-14 05:56] richard42 commented on #588
[code]

Reported by `esorsky` on 2013-12-28 22:55:33

[2015-08-14 05:56] richard42 commented on #588
[code]

Reported by `sven@narfation.org` on 2013-12-28 23:16:02
- **Status changed**: `External`

[2015-08-14 05:56] #588 closed, assigned to richard42

[2015-08-14 05:56] richard42 opened #589 "Resident Evil II can't boot with the combination glide64mk2 + rsp_hle"
Originally reported on Google Code with ID 590

[code]

Reported by `bobby.smiles32` on 2014-01-07 19:07:39

<hr>
- _Attachment: [0001-Handle-empty-display-list-as-found-in-Resident-Evil-.patch](https://storage.googleapis.com/google-code-attachments/mupen64plus/issue-590/comment-0/0001-Handle-empty-display-list-as-found-in-Resident-Evil-.patch)_

[2015-08-14 05:56] richard42 commented on #589
[code]

Reported by `sven@narfation.org` on 2014-01-09 06:56:31
- **Status changed**: `Fixed`

[2015-08-14 05:56] #589 closed, assigned to richard42

[2015-08-14 05:56] richard42 opened #590 "-core fails to build with PIE, i386, GCC < 4.7"
Originally reported on Google Code with ID 591
[code]

Reported by `anthony@cathet.us` on 2014-01-09 04:39:01

[2015-08-14 05:56] richard42 commented on #590
[code]

Reported by `sven@narfation.org` on 2014-01-09 07:36:35

[2015-08-14 05:56] richard42 commented on #590
[code]

Reported by `anthony@cathet.us` on 2014-01-09 08:27:41

[2015-08-14 05:56] richard42 commented on #590
[code]

Reported by `sven@narfation.org` on 2014-01-09 09:40:08

[2015-08-14 05:56] richard42 commented on #590
[code]

Reported by `anthony@cathet.us` on 2014-01-09 15:57:54

[2015-08-14 05:56] richard42 commented on #590
[code]

Reported by `sven@narfation.org` on 2014-01-11 01:42:51

[2015-08-14 05:56] richard42 opened #591 "Mupen64plus controls aren't working"
Originally reported on Google Code with ID 592

[code]

Reported by `Pano.Papadimitriou` on 2014-01-09 23:39:40

<hr>
- _Attachment: [mupen64plus.cfg](https://storage.googleapis.com/google-code-attachments/mupen64plus/issue-592/comment-0/mupen64plus.cfg)_

[2015-08-14 05:56] richard42 commented on #591
[code]

Reported by `sven@narfation.org` on 2014-01-10 07:18:28

[2015-08-14 05:56] richard42 commented on #591
[code]

Reported by `deadballo` on 2015-05-19 08:25:51

[2015-08-14 05:56] richard42 commented on #591
[code]

Reported by `richard42g` on 2015-06-02 03:49:55

[2015-08-14 05:56] richard42 commented on #591
[code]

Reported by `richard42g` on 2015-06-03 05:54:50
- **Status changed**: `Invalid`

[2015-08-14 05:56] #591 closed, assigned to richard42

[2015-08-14 05:56] richard42 opened #592 "SDL window doesn't close properly in m64py"
Originally reported on Google Code with ID 593

[code]

Reported by `gen2brain` on 2014-01-23 12:04:16

[2015-08-14 05:56] richard42 commented on #592
[code]

Reported by `sven@narfation.org` on 2014-01-23 14:04:57

[2015-08-14 05:56] richard42 commented on #592
[code]

Reported by `gen2brain` on 2014-01-23 16:29:57

[2015-08-14 05:56] richard42 commented on #592
[code]

Reported by `sven@narfation.org` on 2014-01-23 17:39:12

[2015-08-14 05:56] richard42 commented on #592
[code]

Reported by `gen2brain` on 2014-01-23 23:01:43

[2015-08-14 05:56] richard42 commented on #592
[code]

Reported by `sven@narfation.org` on 2014-01-24 09:50:29

[2015-08-14 05:56] richard42 commented on #592
[code]

Reported by `gen2brain` on 2014-01-24 13:03:21

[2015-08-14 05:56] richard42 commented on #592
[code]

Reported by `sven@narfation.org` on 2014-01-26 22:25:52
- **Status changed**: `Fixed`

[2015-08-14 05:56] #592 closed, assigned to richard42

[2015-08-14 05:56] richard42 opened #593 "Mayflash (Huijia USB GamePad) used in double to play four players"
Originally reported on Google Code with ID 594

[code]

Reported by `her.falise.bertrand` on 2014-01-23 23:01:47

[2015-08-14 05:56] richard42 opened #594 "Add cheats to mupencheats.txt"
Originally reported on Google Code with ID 595

[code]

Reported by `benbenton` on 2014-01-25 08:09:53

[2015-08-14 05:56] richard42 commented on #594
[code]

Reported by `sven@narfation.org` on 2014-01-25 08:44:03

[2015-08-14 05:56] richard42 commented on #594
Reported by `sven@narfation.org` on 2014-01-25 08:44:32
- **Status changed**: `Invalid`

[2015-08-14 05:57] richard42 commented on #594
[code]

Reported by `benbenton` on 2014-01-26 04:02:50

[2015-08-14 05:57] richard42 commented on #594
[code]

Reported by `sven@narfation.org` on 2014-01-26 19:06:27

[2015-08-14 05:57] richard42 commented on #594
[code]

Reported by `sven@narfation.org` on 2014-01-26 19:07:16

[2015-08-14 05:57] richard42 commented on #594
[code]

Reported by `benbenton` on 2014-01-27 19:50:16

[2015-08-14 05:57] richard42 commented on #594
[code]

Reported by `sven@narfation.org` on 2014-01-27 21:54:05

[2015-08-14 05:57] richard42 commented on #594
[code]

Reported by `benbenton` on 2014-01-28 06:54:23

[2015-08-14 05:57] richard42 commented on #594
[code]

Reported by `benbenton` on 2014-01-28 06:58:51

[2015-08-14 05:57] richard42 commented on #594
[code]

Reported by `sven@narfation.org` on 2014-01-28 09:15:09

[2015-08-14 05:57] richard42 commented on #594
[code]

Reported by `benbenton` on 2014-01-28 09:19:10

[2015-08-14 05:57] richard42 commented on #594
[code]

Reported by `sven@narfation.org` on 2014-01-28 09:19:51

[2015-08-14 05:57] richard42 commented on #594
[code]

Reported by `benbenton` on 2014-01-28 09:21:23

[2015-08-14 05:57] richard42 commented on #594
[code]

Reported by `sven@narfation.org` on 2014-01-28 10:46:47

[2015-08-14 05:57] richard42 commented on #594
[code]

Reported by `sven@narfation.org` on 2014-01-28 12:20:08

[2015-08-14 05:57] richard42 commented on #594
[code]

Reported by `benbenton` on 2014-01-29 00:44:35

[2015-08-14 05:57] richard42 commented on #594
[code]

Reported by `benbenton` on 2014-01-29 04:37:51

[2015-08-14 05:57] richard42 commented on #594
[code]

Reported by `benbenton` on 2014-01-29 04:38:35

[2015-08-14 05:57] richard42 commented on #594
[code]

Reported by `sven@narfation.org` on 2014-01-29 07:36:38

[2015-08-14 05:57] richard42 commented on #594
[code]

Reported by `sven@narfation.org` on 2014-01-29 09:26:53

[2015-08-14 05:57] richard42 commented on #594
[code]

Reported by `benbenton` on 2014-01-29 09:38:25

[2015-08-14 05:57] richard42 commented on #594
[code]

Reported by `sven@narfation.org` on 2014-01-29 10:15:05

[2015-08-14 05:57] #594 closed, assigned to richard42

[2015-08-14 05:57] richard42 opened #595 "Goldeneye has missing sound"
Originally reported on Google Code with ID 596

[code]

Reported by `bobby.smiles32` on 2014-01-25 14:30:53

[2015-08-14 05:57] richard42 commented on #595
[code]

Reported by `bobby.smiles32` on 2014-04-02 22:40:54

[2015-08-14 05:57] richard42 commented on #595
[code]

Reported by `bobby.smiles32` on 2014-04-04 06:44:43

[2015-08-14 05:57] richard42 commented on #595
Reported by `richard42g` on 2014-04-04 13:41:28
- **Status changed**: `Fixed`

[2015-08-14 05:57] #595 closed, assigned to richard42

[2015-08-14 05:57] richard42 opened #596 "Fix Source release with actual working source code please."
Originally reported on Google Code with ID 597

[code]

Reported by `daniel@enemyplanet.geek.nz` on 2014-01-25 18:30:12

[2015-08-14 05:57] richard42 commented on #596
[code]

Reported by `sven@narfation.org` on 2014-01-26 19:11:41

[2015-08-14 05:57] richard42 commented on #596
[code]

Reported by `sven@narfation.org` on 2014-01-26 19:12:51

[2015-08-14 05:57] richard42 commented on #596
[code]

Reported by `daniel@enemyplanet.geek.nz` on 2014-01-26 21:17:31

[2015-08-14 05:57] richard42 commented on #596
[code]

Reported by `sven@narfation.org` on 2014-01-26 22:16:53

[2015-08-14 05:57] richard42 commented on #596
[code]

Reported by `daniel@enemyplanet.geek.nz` on 2014-01-26 23:51:05

[2015-08-14 05:57] richard42 commented on #596
[code]

Reported by `sven@narfation.org` on 2014-01-27 10:42:10

[2015-08-14 05:57] richard42 commented on #596
[code]

Reported by `daniel@enemyplanet.geek.nz` on 2014-01-29 23:00:16

[2015-08-14 05:57] #596 closed, assigned to richard42

[2015-08-14 05:57] richard42 opened #597 "wwf no mercy cheats codes bug"
Originally reported on Google Code with ID 598

[code]

Reported by `sc318productions` on 2014-01-29 01:24:58

[2015-08-14 05:57] richard42 commented on #597
[code]

Reported by `sven@narfation.org` on 2014-01-29 20:17:27

<hr>
- _Attachment: [0001-Allow-multiple-preconditions-per-cheat.patch](https://storage.googleapis.com/google-code-attachments/mupen64plus/issue-598/comment-1/0001-Allow-multiple-preconditions-per-cheat.patch)_

[2015-08-14 05:57] richard42 commented on #597
[code]

Reported by `sven@narfation.org` on 2014-01-30 09:04:57

[2015-08-14 05:57] richard42 commented on #597
[code]

Reported by `sc318productions` on 2014-01-30 14:03:08

[2015-08-14 05:57] richard42 commented on #597
[code]

Reported by `sven@narfation.org` on 2014-01-30 14:48:27

[2015-08-14 05:57] richard42 commented on #597
[code]

Reported by `sc318productions` on 2014-01-31 04:34:22

[2015-08-14 05:57] richard42 commented on #597
[code]

Reported by `sven@narfation.org` on 2014-01-31 07:18:43
- **Status changed**: `Fixed`

[2015-08-14 05:57] richard42 commented on #597
[code]

Reported by `streeterj8` on 2014-05-01 21:27:51

[2015-08-14 05:57] #597 closed, assigned to richard42

[2015-08-14 05:57] richard42 opened #598 "ReadScreen2 in glide64 and glide64mk2 is hard coded to front buffer"
Originally reported on Google Code with ID 599

[code]

Reported by `null_ptr@kaffeeschluerfer.com` on 2014-02-07 04:00:26

[2015-08-14 05:57] richard42 opened #599 "Allow key combinations for joystick input buttons"
Originally reported on Google Code with ID 600

[code]

Reported by `rnddim` on 2014-02-07 05:09:56

[2015-08-14 05:57] richard42 opened #600 "OUYA Game Controller (Bluetooth)"
Originally reported on Google Code with ID 601

[code]

Reported by `mkhomemk` on 2014-02-08 02:00:31

[2015-08-14 05:57] richard42 opened #601 "Configuring Controller needs root priveleges?"
Originally reported on Google Code with ID 602

[code]

Reported by `mkhomemk` on 2014-02-08 02:09:45

[2015-08-14 05:57] richard42 commented on #601
[code]

Reported by `mkhomemk` on 2014-02-08 02:24:53

[2015-08-14 05:57] richard42 commented on #601
[code]

Reported by `sven@narfation.org` on 2014-02-08 07:35:41
- **Status changed**: `Invalid`

[2015-08-14 05:57] #601 closed, assigned to richard42

[2015-08-14 05:57] richard42 opened #602 "Goldeneye Multiplayer is glitchy on bottom half"
Originally reported on Google Code with ID 603

[code]

Reported by `cjung92` on 2014-02-16 16:41:11

<hr>
- _Attachment: Screen Shot 2014-02-16 at 11.39.57 AM.png<br>![Screen Shot 2014-02-16 at 11.39.57 AM.png](https://storage.googleapis.com/google-code-attachments/mupen64plus/issue-603/comment-0/Screen Shot 2014-02-16 at 11.39.57 AM.png)_

[2015-08-14 05:57] richard42 opened #603 "Problem with rice plugin and mesa driver (ati 9250)"
Originally reported on Google Code with ID 604
[code]

Reported by `naxreg` on 2014-02-17 11:47:57

[2015-08-14 05:57] richard42 opened #604 "can't save keyboard configuration"
Originally reported on Google Code with ID 605

[code]

Reported by `axaluss` on 2014-02-17 15:42:23

[2015-08-14 05:57] richard42 commented on #604
[code]

Reported by `richard42g` on 2014-04-04 13:44:28
- **Status changed**: `Invalid`

[2015-08-14 05:57] #604 closed, assigned to richard42

[2015-08-14 05:57] richard42 opened #605 "No auto-config found for joystick named 'GC/N64 to USB, v2.3' (Adding it to the config does nothing)"
Originally reported on Google Code with ID 606

[code]

Reported by `c.johns1594` on 2014-02-24 05:37:55

[2015-08-14 05:57] richard42 commented on #605
[code]

Reported by `c.johns1594` on 2014-03-24 05:45:13

[2015-08-14 05:57] richard42 commented on #605
[code]

Reported by `richard42g` on 2014-04-04 13:45:48
- **Status changed**: `External`

[2015-08-14 05:57] #605 closed, assigned to richard42

[2015-08-14 05:57] richard42 opened #606 "Mupen64Plus Crashes instantly on startup"
Originally reported on Google Code with ID 607

[code]

Reported by `Kre0656` on 2014-02-27 22:05:24

[2015-08-14 05:57] richard42 commented on #606
[code]

Reported by `david.roth@gibmit.ch` on 2014-02-28 12:30:34

[2015-08-14 05:57] richard42 commented on #606
[code]

Reported by `richard42g` on 2014-04-04 13:48:33
- **Status changed**: `Invalid`

[2015-08-14 05:57] #606 closed, assigned to richard42

[2015-08-14 05:57] richard42 opened #607 "(OpenEmu) Super Mario 64 Moon Jump Code Bug"
Originally reported on Google Code with ID 608
[code]

Reported by `timothy.k.odonnell` on 2014-02-28 07:04:38

[2015-08-14 05:57] richard42 commented on #607
[code]

Reported by `brymaster` on 2014-03-08 19:48:23

[2015-08-14 05:57] richard42 commented on #607
[code]

Reported by `brymaster` on 2014-03-08 19:51:52

[2015-08-14 05:57] richard42 opened #608 "Conker's bad fur day shadows are broken, appear as large squares"
Originally reported on Google Code with ID 609
[code]

Reported by `jonnyronny` on 2014-03-06 00:58:09

[2015-08-14 05:57] richard42 opened #609 "Windows, MadCatz 360 controller, unusable"
Originally reported on Google Code with ID 610

[code]

Reported by `cyberdyne12` on 2014-03-12 00:52:05

[2015-08-14 05:57] richard42 opened #610 "Corner map is invisible in OoT using Glide"
Originally reported on Google Code with ID 611
[code]

Reported by `ZanQdo` on 2014-04-17 23:49:16

<hr>
 * *Attachment: [Legend of Zelda, The - Ocarina of Time (U) (V1.0) [!].st0](https://storage.googleapis.com/google-code-attachments/mupen64plus/issue-611/comment-0/Legend of Zelda, The - Ocarina of Time (U) (V1.0) [!].st0)*

[2015-08-14 05:57] richard42 commented on #610
[code]

Reported by `ZanQdo` on 2014-04-21 08:02:57

[2015-08-14 05:57] richard42 opened #611 "glide64mk2: NO_ASM should imply NOSSE"
Originally reported on Google Code with ID 612

[code]

Reported by `anthony@cathet.us` on 2014-05-10 04:29:33

[2015-08-14 05:57] richard42 opened #612 "mupen64plus: memory loads and branch delay slot exceptions not optimized"
Originally reported on Google Code with ID 613

[code]

Reported by `ursula.abendroth@web.de` on 2014-05-18 18:44:08

[2015-08-14 05:58] richard42 opened #613 "Support non-cycle accurate way to do better non stalling RSP execution"
Originally reported on Google Code with ID 614

[code]

Reported by `ursula.abendroth@web.de` on 2014-05-18 18:58:24

<hr>
- _Attachment: [fix_guts.html](https://storage.googleapis.com/google-code-attachments/mupen64plus/issue-614/comment-0/fix_guts.html)_

[2015-08-14 05:58] richard42 commented on #613
[code]

Reported by `ursula.abendroth@web.de` on 2014-05-18 19:02:39

[2015-08-14 05:58] richard42 opened #614 "Majoras Mask Crash on Mac when entering the Stock Pott Inn for the first time"
Originally reported on Google Code with ID 615
[code]

Reported by `ImpromptuRob` on 2014-05-22 00:15:03

[2015-08-14 05:58] richard42 commented on #614
[code]

Reported by `conchur@web.de` on 2014-06-28 15:11:05

<hr>
- _Attachment: [replace_negative_int_shift.patch](https://storage.googleapis.com/google-code-attachments/mupen64plus/issue-615/comment-1/replace_negative_int_shift.patch)_

[2015-08-14 05:58] richard42 commented on #614
[code]

Reported by `conchur@web.de` on 2014-06-28 15:32:48

<hr>
- _Attachment: [replace_negative_int_shift2.patch](https://storage.googleapis.com/google-code-attachments/mupen64plus/issue-615/comment-2/replace_negative_int_shift2.patch)_

[2015-08-14 05:58] richard42 commented on #614
[code]

Reported by `ImpromptuRob` on 2014-06-28 18:45:45

[2015-08-14 05:58] richard42 commented on #614
[code]

Reported by `conchur@web.de` on 2014-06-29 07:49:21

[2015-08-14 05:58] richard42 commented on #614
[code]

Reported by `andrpoeh` on 2014-10-21 23:02:53

[2015-08-14 05:58] richard42 commented on #614
[code]

Reported by `keithnargi` on 2015-06-01 16:03:21

[2015-08-14 05:58] richard42 opened #615 "Sudden input error from Wii Classic Controller Pro"
Originally reported on Google Code with ID 616
[code]

Reported by `bksugiyama` on 2014-05-27 07:32:37

[2015-08-14 05:58] richard42 commented on #615
[code]

Reported by `bksugiyama` on 2014-05-27 08:20:55

[2015-08-14 05:58] richard42 commented on #615
[code]

Reported by `bksugiyama` on 2014-05-27 08:50:01

[2015-08-14 05:58] richard42 commented on #615
[code]

Reported by `bksugiyama` on 2014-05-27 09:25:50

[2015-08-14 05:58] richard42 opened #616 "Xbox 360 controller on FireTV"
Originally reported on Google Code with ID 617
[code]

Reported by `aghotbi` on 2014-05-30 03:02:13

[2015-08-14 05:58] richard42 commented on #616
[code]

Reported by `anpross` on 2014-09-27 13:13:59

[2015-08-14 05:58] richard42 opened #617 "audio - video sync problem"
Originally reported on Google Code with ID 618
[code]

Reported by `tom.mbrt` on 2014-05-30 16:01:00

[2015-08-14 05:58] richard42 commented on #617
[code]

Reported by `tom.mbrt` on 2014-06-01 19:16:32

[2015-08-14 05:58] richard42 opened #618 "XBMC Integration w/ latest Mupen64plus"
Originally reported on Google Code with ID 619

[code]

Reported by `Peetipablo` on 2014-07-07 02:03:16

[2015-08-14 05:58] richard42 commented on #618
[code]

Reported by `Peetipablo` on 2014-07-07 02:11:54

[2015-08-14 05:58] richard42 commented on #618
[code]

Reported by `conchur@web.de` on 2014-07-07 07:57:39

[2015-08-14 05:58] richard42 commented on #618
Reported by `dorian.fevrier` on 2014-07-29 23:05:06
- **Status changed**: `Invalid`

[2015-08-14 05:58] #618 closed, assigned to richard42

[2015-08-14 05:58] richard42 opened #619 "Compilation error"
Originally reported on Google Code with ID 620

[code]

Reported by `aekkusu` on 2014-07-25 00:15:57

[2015-08-14 05:58] richard42 commented on #619
[code]

Reported by `conchur@web.de` on 2014-07-26 07:47:27

[2015-08-14 05:58] richard42 commented on #619
[code]

Reported by `aekkusu` on 2014-07-28 04:05:30

[2015-08-14 05:58] richard42 commented on #619
Reported by `dorian.fevrier` on 2014-07-29 23:03:15
- **Status changed**: `External`

[2015-08-14 05:58] #619 closed, assigned to richard42

[2015-08-14 05:58] richard42 opened #620 "Paper Mario 64 Crash on launch + Audio not working"
Originally reported on Google Code with ID 621

[code]

Reported by `aekkusu` on 2014-07-25 16:52:53

[2015-08-14 05:58] richard42 commented on #620
[code]

Reported by `conchur@web.de` on 2014-07-26 07:59:04

[2015-08-14 05:58] richard42 commented on #620
[code]

Reported by `aekkusu` on 2014-07-28 03:34:01

[2015-08-14 05:58] richard42 commented on #620
Reported by `dorian.fevrier` on 2014-07-29 23:05:12
- **Status changed**: `External`

[2015-08-14 05:58] #620 closed, assigned to richard42

[2015-08-14 05:58] richard42 opened #621 "Visual artifacts in Paper Mario"
Originally reported on Google Code with ID 622

[code]

Reported by `aekkusu` on 2014-07-28 04:04:22

[2015-08-14 05:58] richard42 commented on #621
[code]

Reported by `gigitux` on 2014-08-27 13:23:58

[2015-08-14 05:58] richard42 commented on #621
[code]

Reported by `aekkusu` on 2014-08-28 23:00:14

[2015-08-14 05:58] richard42 opened #622 "mupen64plus crashed with SIGSEGV in ViStatusChanged()"
Originally reported on Google Code with ID 623

[code]

Reported by `conchur@web.de` on 2014-08-12 16:26:33

<hr>
- _Attachment: [Dependencies.txt](https://storage.googleapis.com/google-code-attachments/mupen64plus/issue-623/comment-0/Dependencies.txt)_
- _Attachment: [Disassembly.txt](https://storage.googleapis.com/google-code-attachments/mupen64plus/issue-623/comment-0/Disassembly.txt)_
- _Attac

[2015-08-14 05:58] richard42 opened #623 "Playstation 3 controller mapped to Xbox 360 config"
Originally reported on Google Code with ID 624

[code]

Reported by `MazJaleel` on 2014-08-17 17:34:49

[2015-08-14 05:58] richard42 opened #624 "scenery and music skipping/becoming nonexistent"
Originally reported on Google Code with ID 625
[code]

Reported by `Ablack3123` on 2014-08-19 06:09:32

[2015-08-14 05:58] richard42 commented on #624
[code]

Reported by `conchur@web.de` on 2014-08-22 08:10:37

[2015-08-14 05:58] richard42 opened #625 "Cannot fullscreen with Video Rice plugin"
Originally reported on Google Code with ID 626

[code]

Reported by `mdeguzis` on 2014-08-21 01:47:18

[2015-08-14 05:58] richard42 commented on #625
[code]

Reported by `mdeguzis` on 2014-08-21 01:51:39

[2015-08-14 05:58] richard42 commented on #625
[code]

Reported by `conchur@web.de` on 2014-08-21 07:12:52

[2015-08-14 05:58] richard42 commented on #625
[code]

Reported by `mdeguzis` on 2014-08-21 12:01:23

[2015-08-14 05:58] richard42 opened #626 "RiceVideo is broken under openSUSE 13.1"
Originally reported on Google Code with ID 627
[code]

Reported by `eCatPCSecure` on 2014-08-21 16:30:34

[2015-08-14 05:58] richard42 commented on #626
[code]

Reported by `conchur@web.de` on 2014-08-22 08:08:58

[2015-08-14 05:58] richard42 commented on #626
[code]

Reported by `eCatPCSecure` on 2014-08-22 08:22:00

[2015-08-14 05:58] richard42 commented on #626
[code]

Reported by `eCatPCSecure` on 2015-02-13 21:15:54

[2015-08-14 05:58] richard42 commented on #626
[code]

Reported by `conchur@web.de` on 2015-02-15 08:33:28

[2015-08-14 05:58] richard42 opened #627 "Support for arm Chromebooks (request)"
Originally reported on Google Code with ID 628

[code]

Reported by `asdasasefasd` on 2014-08-24 22:09:46

[2015-08-14 05:58] richard42 commented on #627
[code]

Reported by `conchur@web.de` on 2014-09-13 18:28:54

[2015-08-14 05:58] richard42 opened #628 "Mayflash USB adaptor config"
Originally reported on Google Code with ID 629
[code]

Reported by `alecjw` on 2014-09-08 14:43:07

[2015-08-14 05:58] richard42 commented on #628
[code]

Reported by `alecjw` on 2014-11-26 16:36:01

[2015-08-14 05:58] richard42 commented on #628
[code]

Reported by `Yugixs` on 2015-03-21 22:20:12

[2015-08-14 05:58] richard42 opened #629 "Incorrect Mappings for TattieBogle Xbox 360 Controller on Mac OS X"
Originally reported on Google Code with ID 630

[code]

Reported by `reidgc` on 2014-09-11 18:48:32

[2015-08-14 05:58] richard42 commented on #629
[code]

Reported by `itslebigz` on 2015-01-16 07:57:20

[2015-08-14 05:58] richard42 commented on #629
[code]

Reported by `richard42g` on 2015-02-02 17:02:52
- **Status changed**: `Fixed`

[2015-08-14 05:58] #629 closed, assigned to richard42

[2015-08-14 05:58] richard42 opened #630 "Mupen64plus errors and warnings in EmulationStation"
Originally reported on Google Code with ID 631

[code]

Reported by `adaboadabo` on 2014-09-18 01:16:17

[2015-08-14 05:58] richard42 commented on #630
[code]

Reported by `conchur@web.de` on 2014-09-19 10:52:36

[2015-08-14 05:58] richard42 commented on #630
[code]

Reported by `conchur@web.de` on 2014-09-21 21:08:30

[2015-08-14 05:58] richard42 commented on #630
Reported by `dorian.fevrier` on 2015-01-21 04:22:08
- **Status changed**: `External`

[2015-08-14 05:58] #630 closed, assigned to richard42

[2015-08-14 05:58] richard42 opened #631 "Can't detect evdev joysticks."
Originally reported on Google Code with ID 632
[code]

Reported by `esteve.varela` on 2014-09-23 10:39:22

[2015-08-14 05:58] richard42 commented on #631
[code]

Reported by `conchur@web.de` on 2014-09-23 14:36:37

[2015-08-14 05:58] richard42 commented on #631
[code]

Reported by `esteve.varela` on 2014-09-23 16:34:01

[2015-08-14 05:58] richard42 commented on #631
[code]

Reported by `conchur@web.de` on 2014-09-23 19:10:07

[2015-08-14 05:58] richard42 opened #632 "Conker's Bad Fur Day: Context zone event doesn't get triggered"
Originally reported on Google Code with ID 633
[code]

Reported by `just4steam778` on 2014-09-29 04:56:35

[2015-08-14 05:58] richard42 commented on #632
[code]

Reported by `just4steam778` on 2014-09-29 12:59:43

[2015-08-14 05:58] richard42 opened #633 "Zelda OOT - N64 Controller -> USB adapter Analog stick sensitivity cannot be increased"
Originally reported on Google Code with ID 634

[code]

Reported by `voycey` on 2014-10-13 08:18:02

[2015-08-14 05:58] richard42 commented on #633
[code]

Reported by `willyupchurch` on 2015-03-30 23:52:56

[2015-08-14 05:58] richard42 opened #634 "Regression: Official wired Xbox 360 controller not detected"
Originally reported on Google Code with ID 635
[code]

Reported by `mushman5@hotmail.com` on 2014-11-11 07:29:59

[2015-08-14 05:58] richard42 commented on #634
[code]

Reported by `conchur@web.de` on 2014-11-11 22:21:41

[2015-08-14 05:58] richard42 commented on #634
[code]

Reported by `conchur@web.de` on 2014-11-11 22:34:11

[2015-08-14 05:58] richard42 commented on #634
[code]

Reported by `mushman5@hotmail.com` on 2014-11-12 00:16:24

[2015-08-14 05:59] richard42 commented on #634
[code]

Reported by `conchur@web.de` on 2014-11-12 08:16:01

[2015-08-14 05:59] richard42 commented on #634
[code]

Reported by `mushman5@hotmail.com` on 2014-11-12 09:23:33

[2015-08-14 05:59] richard42 commented on #634
[code]

Reported by `conchur@web.de` on 2014-11-12 11:10:11

[2015-08-14 05:59] richard42 commented on #634
[code]

Reported by `mushman5@hotmail.com` on 2014-11-12 11:23:05

[2015-08-14 05:59] richard42 commented on #634
[code]

Reported by `conchur@web.de` on 2014-11-16 19:54:12

[2015-08-14 05:59] richard42 opened #635 "mupen64plus crashes instantly on retropie"
Originally reported on Google Code with ID 636

[code]

Reported by `14corman` on 2014-11-25 03:45:24

[2015-08-14 05:59] richard42 commented on #635
[code]

Reported by `conchur@web.de` on 2014-11-30 08:20:57

[2015-08-14 05:59] richard42 commented on #635
Reported by `dorian.fevrier` on 2014-12-02 16:51:12
- **Status changed**: `Invalid`

[2015-08-14 05:59] #635 closed, assigned to richard42

[2015-08-14 05:59] richard42 opened #636 "Doubt"
Originally reported on Google Code with ID 637

[code]

Reported by `johnata.allegra` on 2015-01-05 01:11:46

[2015-08-14 05:59] richard42 commented on #636
[code]

Reported by `davidroth9` on 2015-01-08 09:51:11

[2015-08-14 05:59] richard42 commented on #636
Reported by `dorian.fevrier` on 2015-01-21 04:21:07
- **Status changed**: `Invalid`

[2015-08-14 05:59] #636 closed, assigned to richard42

[2015-08-14 05:59] richard42 opened #637 "Audio only in background"
Originally reported on Google Code with ID 638
[code]

Reported by `MatPowGri` on 2015-01-18 22:24:20

[2015-08-14 05:59] richard42 commented on #637
[code]

Reported by `conchur@web.de` on 2015-01-20 08:47:35

[2015-08-14 05:59] richard42 opened #638 "Cannot use plugin CXD4"
Originally reported on Google Code with ID 639

[code]

Reported by `tylervrd` on 2015-01-19 22:58:32

[2015-08-14 05:59] richard42 commented on #638
[code]

Reported by `conchur@web.de` on 2015-01-20 08:42:26

[2015-08-14 05:59] richard42 commented on #638
[code]

Reported by `tylervrd` on 2015-01-22 22:22:22

[2015-08-14 05:59] richard42 commented on #638
[code]

Reported by `conchur@web.de` on 2015-01-23 16:09:54

[2015-08-14 05:59] richard42 commented on #638
[code]

Reported by `tylervrd` on 2015-02-01 06:18:05

[2015-08-14 05:59] richard42 commented on #638
Reported by `richard42g` on 2015-02-02 17:03:51
- **Status changed**: `Invalid`

[2015-08-14 05:59] #638 closed, assigned to richard42

[2015-08-14 05:59] richard42 opened #639 "Core library directory"
Originally reported on Google Code with ID 640
[code]

Reported by `trymydreams` on 2015-02-07 13:22:07

[2015-08-14 05:59] richard42 commented on #639
[code]

Reported by `conchur@web.de` on 2015-02-09 14:48:01

[2015-08-14 05:59] richard42 opened #640 "Black screen for one player in two player mode in Mario kart 64"
Originally reported on Google Code with ID 641
[code]

Reported by `clone206` on 2015-02-15 11:47:04

[2015-08-14 05:59] richard42 commented on #640
[code]

Reported by `conchur@web.de` on 2015-02-15 23:09:11

[2015-08-14 05:59] richard42 commented on #640
[code]

Reported by `clone206` on 2015-02-15 23:17:33

[2015-08-14 05:59] richard42 commented on #640
[code]

Reported by `clone206` on 2015-02-15 23:18:15

[2015-08-14 05:59] richard42 commented on #640
[code]

Reported by `conchur@web.de` on 2015-02-16 07:35:01

[2015-08-14 05:59] richard42 commented on #640
[code]

Reported by `conchur@web.de` on 2015-02-16 07:37:18

[2015-08-14 05:59] richard42 commented on #640
[code]

Reported by `clone206` on 2015-02-16 08:14:33

[2015-08-14 05:59] richard42 commented on #640
[code]

Reported by `conchur@web.de` on 2015-02-16 10:49:02

[2015-08-14 05:59] richard42 commented on #640
[code]

Reported by `mdlichter` on 2015-02-20 16:03:24

[2015-08-14 05:59] richard42 opened #641 "RSP issues"
Originally reported on Google Code with ID 642
[code]

Reported by `tonybalsley` on 2015-03-10 02:00:22

[2015-08-14 05:59] richard42 commented on #641
[code]

Reported by `conchur@web.de` on 2015-03-10 14:44:44

[2015-08-14 05:59] richard42 commented on #641
[code]

Reported by `conchur@web.de` on 2015-03-10 14:46:50

[2015-08-14 05:59] richard42 opened #642 "Joystick exit mapping"
Originally reported on Google Code with ID 644

[code]

Reported by `electricninja2` on 2015-03-15 19:55:32

[2015-08-14 05:59] richard42 commented on #642
[code]

Reported by `electricninja2` on 2015-03-15 19:58:22

[2015-08-14 05:59] richard42 opened #643 "Xbox 360 offbrand wireless receiver config (pull request submitted)"
Originally reported on Google Code with ID 645
[code]

Reported by `MFBeary` on 2015-03-16 23:31:55

[2015-08-14 05:59] richard42 opened #644 "Mario kart selection screens video blur"
Originally reported on Google Code with ID 646
[code]

Reported by `matthewvarnava` on 2015-03-18 18:44:48

[2015-08-14 05:59] richard42 opened #645 "Ground Texture Link Sprite Overlap"
Originally reported on Google Code with ID 647
[code]

Reported by `bksugiyama` on 2015-03-26 08:51:27

<hr>
 * *Attachment: [Link in Ground.tiff](https://storage.googleapis.com/google-code-attachments/mupen64plus/issue-647/comment-0/Link in Ground.tiff)*

[2015-08-14 05:59] richard42 opened #646 "SegFault at startup - no ROM selected."
Originally reported on Google Code with ID 648
[code]

Reported by `jams.zeigler` on 2015-04-03 23:40:54

[2015-08-14 05:59] richard42 commented on #646
[code]

Reported by `jams.zeigler` on 2015-04-03 23:47:31

[2015-08-14 05:59] richard42 opened #647 "mupen64plus-video-z64 fails to build with GLEW"
Originally reported on Google Code with ID 649

[code]

Reported by `brad.openbsd` on 2015-05-08 21:18:38

[2015-08-14 05:59] richard42 commented on #647
[code]

Reported by `anthony@cathet.us` on 2015-06-07 18:07:58

[2015-08-14 05:59] richard42 commented on #647
Reported by `richard42g` on 2015-06-08 15:23:12
- **Status changed**: `Fixed`

[2015-08-14 05:59] #647 closed, assigned to richard42

[2015-08-14 05:59] richard42 opened #648 "Analogue problem Wii CC"
Originally reported on Google Code with ID 650

[code]

Reported by `perrantrevan` on 2015-05-18 21:31:51

[2015-08-14 05:59] richard42 opened #649 "New Website Decision?"
Originally reported on Google Code with ID 651
[code]

Reported by `rottnkorpse` on 2015-05-19 07:16:28

[2015-08-14 05:59] richard42 commented on #649
[code]

Reported by `conchur@web.de` on 2015-05-20 12:18:01

[2015-08-14 05:59] richard42 opened #650 "Controller setup issues"
Originally reported on Google Code with ID 652
[code]

Reported by `bryanariffe` on 2015-05-21 22:44:19

[2015-08-14 05:59] richard42 opened #651 "Emulation Error Running Diddy Kong Racing on Raspberry Pi"
Originally reported on Google Code with ID 653
[code]

Reported by `bennett.miller12` on 2015-05-30 02:21:33

[2015-08-14 05:59] richard42 commented on #651
[code]

Reported by `conchur@web.de` on 2015-06-02 14:00:27

[2015-08-14 05:59] richard42 commented on #651
[code]

Reported by `conchur@web.de` on 2015-06-02 14:00:59

[2015-08-14 05:59] richard42 opened #652 "Controller input being overwritten"
Originally reported on Google Code with ID 654
[code]

Reported by `shadwolf16` on 2015-06-23 09:44:08

[2015-08-14 05:59] richard42 opened #653 "no sound"
Originally reported on Google Code with ID 655
[code]

Reported by `tuu.amazing` on 2015-07-05 21:10:46

[2015-08-14 05:59] richard42 commented on #653
[code]

Reported by `conchur@web.de` on 2015-07-07 06:15:35

[2015-08-14 05:59] richard42 opened #654 "Strange floating point exception keeping Mupen64Plus from running"
Originally reported on Google Code with ID 656
[code]

Reported by `noahkeck72` on 2015-07-31 14:32:27

[2015-08-14 05:59] richard42 commented on #654
[code]

Reported by `noahkeck72` on 2015-07-31 14:41:22

[2015-08-14 05:59] richard42 commented on #654
[code]

Reported by `noahkeck72` on 2015-07-31 14:44:53

[2015-08-14 05:59] richard42 opened #655 "OpenEmu Mupen64plus Issue"
Originally reported on Google Code with ID 657
[code]

Reported by `eb4148` on 2015-08-08 14:02:20

[2015-08-14 05:59] richard42 commented on #655
[code]

Reported by `darkmaster14` on 2015-08-11 22:49:08

[2015-08-14 05:59] richard42 commented on #655
[code]

Reported by `eb4148` on 2015-08-11 22:54:23

[2015-08-15 05:59] #639 closed

[2015-08-15 06:24] #653 closed

[2015-08-15 06:25] #649 closed

[2015-08-15 06:26] #655 closed

[2015-09-06 07:33] bartenbach commented on #650
I'd try putting the `InputAutoCfg.ini` in `/usr/share/mupen64plus` and see if mupen parses it then.

Edit: Oh, this might have been moved from Google Code or something.  Poor bryan will never see this.

[2015-09-12 23:06] #65 closed

[2015-09-12 23:08] richard42 commented on #264
could not reproduce

[2015-09-12 23:08] #264 closed

[2015-09-12 23:16] richard42 commented on #280
tested, works for me

[2015-09-12 23:16] #280 closed

[2015-09-12 23:23] richard42 commented on #336
configuration issue

[2015-09-12 23:23] #336 closed

[2015-09-12 23:23] richard42 commented on #347
could not reproduce

[2015-09-12 23:23] #347 closed

[2015-09-12 23:24] richard42 commented on #350
could not reproduce

[2015-09-12 23:24] #350 closed

[2015-09-12 23:25] richard42 commented on #376
issues should be fixed now

[2015-09-12 23:25] #376 closed

[2015-09-12 23:27] richard42 commented on #416
could not reproduce

[2015-09-12 23:27] #416 closed

[2015-09-12 23:27] #425 closed

[2015-09-12 23:28] richard42 commented on #436
could not reproduce

[2015-09-12 23:28] #436 closed

[2015-09-12 23:28] richard42 commented on #475
not enough info

[2015-09-12 23:28] #475 closed

[2015-09-12 23:29] #499 closed

[2015-09-12 23:29] richard42 commented on #502
not enough info

[2015-09-12 23:29] #502 closed

[2015-09-12 23:30] richard42 commented on #503
user fail

[2015-09-12 23:30] #503 closed

[2015-09-12 23:30] richard42 commented on #506
could not reproduce

[2015-09-12 23:30] #506 closed

[2015-09-12 23:34] #511 closed

[2015-09-12 23:35] richard42 commented on #521
too old; config system has totally changed since 1.99.5

[2015-09-12 23:35] #521 closed

[2015-09-12 23:39] richard42 commented on #547
no reply

[2015-09-12 23:39] #547 closed

[2015-09-12 23:41] richard42 commented on #552
works now

[2015-09-12 23:41] #552 closed

[2015-09-12 23:41] richard42 commented on #561
could not reproduce

[2015-09-12 23:41] #561 closed

[2015-09-12 23:41] richard42 commented on #574
no reply

[2015-09-12 23:41] #574 closed

[2015-09-12 23:46] richard42 commented on #576
should be fixed.  crich@thedefaced.org, please open new ticket for graphical glitch problem.

[2015-09-12 23:46] #576 closed

[2015-09-12 23:46] richard42 commented on #577
building on OSX is kind of a PITA but it does currently work

[2015-09-12 23:46] #577 closed

[2015-09-12 23:47] #590 closed

[2015-09-12 23:53] richard42 commented on #603
not enough info; probably driver problem

[2015-09-12 23:53] #603 closed

[2015-09-12 23:53] #607 closed

[2015-09-12 23:53] richard42 commented on #608
cannot reproduce

[2015-09-12 23:53] #608 closed

[2015-09-12 23:54] richard42 commented on #610
invalid

[2015-09-12 23:54] #610 closed

[2015-09-13 00:01] richard42 commented on #614
fixed after v2.5 in https://github.com/mupen64plus/mupen64plus-video-glide64mk2/commit/15f1f888422e248c6f640e587dffd12eeb48764b

[2015-09-13 00:01] #614 closed

[2015-09-13 00:01] #615 closed

[2015-09-13 00:02] #616 closed

[2015-09-13 00:18] #624 closed

[2015-09-13 00:20] #626 closed

[2015-09-13 00:23] richard42 commented on #628
committed to git repo

[2015-09-13 00:23] #628 closed

[2015-09-13 00:24] #631 closed

[2015-09-13 00:24] #632 closed

[2015-09-13 00:25] #634 closed

[2015-09-13 00:25] richard42 commented on #637
system issues

[2015-09-13 00:25] #637 closed

[2015-09-13 00:26] #640 closed

[2015-09-13 00:26] #641 closed

[2015-09-13 00:28] #643 closed

[2015-09-13 00:29] richard42 commented on #644
could not reproduce

[2015-09-13 00:29] #644 closed

[2015-09-13 00:30] #646 closed

[2015-09-13 00:32] richard42 commented on #650
user issue

[2015-09-13 00:32] #650 closed

[2015-09-13 00:32] #651 closed

[2015-09-13 00:34] richard42 commented on #652
User issue.  Set "mode=0" in configuration section to disable auto-config

[2015-09-13 00:34] #652 closed

[2015-09-13 00:35] richard42 commented on #654
I'm surprised that this runs in Fedora Core 5.  Could be a CPU issue.  User needs to run in GDB to diagnose problem.

[2015-09-13 00:35] #654 closed

[2015-09-13 03:16] richard42 commented on #617
OK I have submitted changes to mupen64plus-core and mupen64plus-audio-sdl which will fix this problem.  There is a fundamental design issue in that (for various reasons) we have two pieces of speed limiter code: one in the emulator core (called after each screen refresh) and one in the audio plugin, which runs when new audio data is handed off for output by the running game.  There is currently no

[2015-09-13 03:16] #617 closed

[2015-09-16 10:06] limbusdev commented on #567
Same problem here with Mupen64Plus 2.5.0

Video Warning: Failed to set GL_DEPTH_SIZE to 16. (it's 24)

Complete:
http://pastebin.com/L5dfwTWX

[2015-09-18 09:21] Papermanzero commented on #441
Issue fixed in glide64mk2 with the new cfg.

[2015-09-18 09:24] Papermanzero commented on #402
Can be closed. The graphic plugin "glide64mk2" displays the game correctly.

[2015-09-19 00:44] #402 closed

[2015-09-19 00:45] #441 closed

[2015-10-01 04:59] CanadianJeff opened #656 "Zelda OOT 1.2 Cheat Problem?"
how to reproduce this bug

1) start a new game
2) wait for navi to wake young link up
3) go into the cheat menu
4) enable ALWAYS HAVE WALLET SIZE
5) choose any and you will get the wallet size and also a nice glitch
where the goron bracelet should be is a silver scale greyed out
and where the silver scale should be is a broken sword?

[screenshot] http://i.imgur.com/MKg0Lz0.png

how to undo this??

[2015-10-01 05:16] CanadianJeff commented on #656
I think I found a fix....

1) Open /usr/share/games/mupen64plus/mupencheat.txt
search for crc 693BA2AE-B7F14E9F-C:45
should show gn Legend of Zelda, The - Ocarina of Time (U) (V1.2)
under it add
 cn Fix Glitch USA
  8011AD22 0000
this should reset everything Save your game exit mupen restart mupen and TAADAA
no more glitch
also the WALLET SIZE cheat should be removed because it causes this

[2015-10-06 11:21] Papermanzero commented on #645
Played through Ocarina of Time recently with the newest build and I didn't face the issue with glide64mk2. However glide64mk2 added many improvements compared to glide.
So using the improved glide version (glide64mk2) is advised.

Therefore I would close the issue.

[2015-10-06 11:25] Papermanzero commented on #613
This issue is relevant for the CPU<->RSP Synchronisation.
https://groups.google.com/forum/#!topic/mupen64plus/yO43UlpV_2Y

[2015-10-06 11:27] Papermanzero commented on #567
Try glide64mk2. :-)
The issue seems to be related to rice

[2015-10-06 11:29] Papermanzero commented on #563
Played the game recently with the newest build.
Used a Xbox360 controller with Windows 7 and had no issues.
Could be that the workaround is still active.

[2015-10-06 11:32] Papermanzero commented on #550
Could be related to this issue:
https://github.com/mupen64plus/mupen64plus-video-glide64mk2/issues/30

[2015-10-06 11:34] Papermanzero commented on #540
Currently I am playing Majoras Mask with Rice and/or Glide64mk2.
However it is the windows build, and it is working without any issues.

[2015-10-07 04:52] #645 closed

[2015-10-13 06:25] matthewharvey opened #657 "Beetle Adventure Racing Audio Multiplayer clipping"
To reproduce:
1. Run Beetle Adventure Racing with two controllers 'plugged' into the emulator
2. Start a Two Player race
3. Once the cars start moving, observe the sound output.

Result: I hear intermittent (but beginning right away) cracking in the audio. It isn't like the mute of the audio letting the video catch up (pretty sure I'm running full speed). It's different; more like a cracking From

[2015-11-15 11:41] inukaze opened #658 "mupen64plus-video-z64 can't compile"
Hi there i can't compile , in the CLI , i saw the follow

$ make all
    CC  _obj/osal_dynamiclib_unix.o
    CXX _obj/rgl.o
../../src/rgl.cpp:80:18: error fatal: glew.h:There is no such file or directory
completed compilation.
Makefile:394: failure instructions to the target '_obj/rgl.o'
make: *** [_obj/rgl.o] Error 1

[2015-11-15 11:58] inukaze commented on #658
I fix it , i just change

#include <glew.h>

To

#include <GL/glew.h>

in the follow files :
rgl.cpp
rgl_tiles.cpp
rgl_rendermodes.cpp

i saw "#include <GL/glew.h>" in "glshader.cpp" and now i can compile it :D

[2015-11-15 11:58] #658 closed

[2015-11-18 04:15] GPDP2 opened #659 "Missing health bars and power up icons in Kirby 64"
![Kirby](https://cloud.githubusercontent.com/assets/5431285/10803162/01d8aa64-7da8-11e5-8248-0add6e08c537.png)

This was first brought up in the libretro fork's issue tracker:

https://github.com/libretro/mupen64plus-libretro/issues/270

Seems like it's related to a commit that ported over RSP-related code from Project64, which fixed several Rare games in LLE.

Looking at the mupen64plus-core repo

[2015-11-21 18:00] Windfisch opened #660 "version 2.5 does not detect my joystick under linux"
Mupen64plus version 2.5, as compiled under Gentoo Linux does not detect my USB gamepad. Instead, it reports `Input: 0 SDL joysticks were found.`

This is a regression in version 2.5: Mupen64plus version 2.0 (input-sdl-2.0-r1), the `jstest` program and other programs can successfully detect and use the joystick.

(Actually, I additionally tried this while emerge was upgrading from mupen64plus 2.0 t

[2015-11-21 18:04] Windfisch opened #661 "Glide64mk2 having graphics issues in version 2.5"
Under gentoo linux with mupen64plus-2.5, the glide64mk2 plugin is having graphic issues when trying to play Zelda: Ocarina Of Time:
* the screen seems shifted to the top part. I cannot see the "heart-bar", it's probably off-screen
* when I put the window into fullscreen mode using the `mod+f` combination of my `i3` windowmanager, the black letterboxing borders are flickering, and I can sometimes s

[2015-11-22 04:52] richard42 commented on #660
Hi Florian,

Can you run 'ldd' on your input plugin file?  Like this:

ldd ./mupen64plus-input-sdl.so

See what version of SDL2 it's linking against.  On my machine (also Gentoo)
the joysticks are correctly detected, and here are the version of SDL2 that I
have:

libSDL2-2.0.so.0 => /usr/lib64/libSDL2-2.0.so.0 (0x00007f3036bcd000)

Richard

On 11/21/2015 10:00 AM, Florian Jung wrote:

[2015-12-02 20:41] RyzaJr opened #662 "Cannot Switch Between Windows and Fullscreen"
Alt-enter does nothing on Mupen64Plus v2.5.

I'm using Windows 7 64-bit.

[2015-12-05 22:06] rcork opened #663 "Using Rice with SDL causes black screen on RPi2"
When i use the Rice video plugin with the SDL audio plugin, the screen is blank but i can hear audio.  When i use Rice with OMX, both audio and video are fine.

When using Rice+SDL, In the console i get an error that says "ERROR: Failed to get display size" but i don't get that error when using Rice+OMX.

I would prefer to use SDL as it doesn't have the audio lag issues OMX does on the RPi2.

I'm

[2015-12-06 18:45] kysler opened #664 "Black, Flashing or Missing Textures Pokemon Stadium 1 & 2"
Well I know this is a LONG standing issue with these games (first instance of issues dates to early 2003 and ANY N64 emulator and it seems to have something to do with the HWFBE or Hardware Frame buffer Emulation that Pokemon utilizes. But regardless wanted to go ahead and post the issue to you guys as I didn't see anything here about it.

It's primarily the menus while in-battle but as well Pokem

[2015-12-06 19:33] AhmiDarrow commented on #664
So as soon as I post this I go to the GLideN64 repo and notice a recent change in regards to Pokemon Snap and it also mentions Pokemon Stadium 2. In the code itself that was altered were some changes to frameBufferEmulation.

So here's to fingers crossed but hopefully the more recent version of GLideN64 will fix this for me.

[2015-12-08 07:08] RyzaJr commented on #662
Just to make a point:
I tried setting Kbd Mapping Fullscreen = 282 (F1 key) and pressing the key just makes the emulator flash a quick second, but doesn't switch between windows/fullscreen.

[2015-12-08 12:58] Kaito-RTRT opened #665 "Xbox ONE Controller config (request)"
I use mupen64plus under linux. Latest kernel supports XBOX ONE controller. So please add config for XBOX ONE controller to ini file. M64py has a bug and cannot save input config. Now it's not easy to set proper key codes. Regards.

[2015-12-26 06:10] zmertens commented on #665
I think I have run into a similar issue on Linux Mint with the XBOX 360 controller. I went into ~/.config/mupen64plus/mupen64plus.cfg to try to change the default controller settings but they do not appear to stick. I have used Mupen64plus 2.0 before on Ubuntu and did not run into this issue. So I'm not sure if the issue is Linux Mint or Mupen64plus 2.5 which is what I'm currently using.

[2015-12-29 15:37] richard42 commented on #665
Zach, you have to make sure that the Mode parameter is set to "2" if you want
to manually specify your own configuration.  Otherwise (with mode 0 or 1) the
auto-configuration code will overwrite the parameters.

Richard

On 12/25/2015 10:10 PM, Zach wrote:

[2016-01-01 22:32] Robalni opened #666 "Allow background events"
The emulator window needs to be focused, otherwise button inputs don't work (but axes do). I would like to be able to play while having the window in the background. It is possible to fix this by adding this line of code:

    SDL_SetHint(SDL_HINT_JOYSTICK_ALLOW_BACKGROUND_EVENTS, "1");

somewhere after SDL_Init(). If you don't want this to be default, it would be nice to have it as an option.

[2016-01-07 04:43] richard42 commented on #666
Okay, I just pushed a commit for this.  I found that this "SetHint" had to be called before the SDL_Init of the video subsystem, so I put this in the video extension function VidExt_Init.  As a result, it might not work for front-end applications which use their own video extension code for ie Qt window integration.

[2016-01-07 04:43] #666 closed

[2016-01-07 14:55] rkrick99 opened #667 "audio and vedio lag"

[2016-01-07 14:57] rkrick99 commented on #667
Currently using on retropie and have video and audio lag, Do you have better settings to prevent this?

[2016-01-07 15:01] rkrick99 commented on #642
Richard,
With the newest release of retropie there is now hotkey support. I have mine mapped to start and the Z button. I am using the same retro USB controller.  I am sorry  i am not smart enough to figure out the audio jack portion,

[2016-01-09 18:17] zmertens commented on #665
Ahh, I see what you mean @richard42 -- fixed, no issue for me now.

[2016-01-09 18:33] richard42 commented on #665
actually I wrote the wrong thing in my previous post.  The fully manual mode is 0, while the automatic modes are 1 and 2.

[2016-01-09 18:33] #665 closed

[2016-01-23 01:08] thedeeper87 opened #668 "Choppy video/audio on 10.11.3"
Recently updated OSX to 10.11.3 now all my 64 games are so laggy, it was not this bad before.

[2016-01-23 02:29] thedeeper87 commented on #668
So far it seems to be resolved if you change the filter to NTSC (blargg), will keep you updated.

[2016-01-24 23:25] leithes opened #669 "Original Logitech Inc. WingMan RumblePad not automatically configured"
This controller is not in the InputAutoCfg.ini file however if you add its identifier to the file in the [Logitech WingMan Action Pad] section as so:

[Logitech WingMan Action Pad]
[Logitech Inc. WingMan RumblePad]

This seems to cover all the buttons/functionality.

[2016-01-26 09:32] legluondunet opened #670 "Bomberman: transition effects are not correct"
Hello,

Mupen64plus does not emulate rightly Bomberman64: transition effect are not correct.
It is not easy to describe this, look at the video:
https://www.youtube.com/watch?v=mE1DaVMN6pE

for example:
at 00:14 s animation is paused and the screen is narrowed
at 00:24 s showed the 4 animation paused screens

On mupen64plus, I have only black screen between this sequences.

Thank you for your help

[2016-01-26 11:59] ghost commented on #670
Does this happen with rice, glide64, gliden64, glide64mk2, arachnoid and z64?

[2016-01-26 13:26] legluondunet commented on #670
Rice plugin.
Wich video plugin uses Retroarch core? Because I have the same result with it.

[2016-01-28 05:16] illwieckz opened #671 "[mupen64plus-input-sdl] wrong joystick button/axis number"
Hi, there is something strange here. Mupen64plus works well with my joystick, but I must set wrong button/axis numbers in `mupen64plus.cfg` to get it working.

For example, both [`jstest-gtk`](http://pingus.seul.org/~grumbel/jstest-gtk/) and [`dolphin-emu`](http://www.dolphin-emulator.com/) say my “A” button is `0` and my “B” button is `1`, but in mupen64plus I must write `button(1)` for “A” and `

[2016-01-28 05:49] illwieckz opened #672 "[mupen64plus-video-all] sync to vblank (vertical refresh) must be disabled at startup"
Hi, I was experiencing problems with `mupen64`/`mupen64plus` since more than ten years until now:

- graphical glitches
- frame drops
- audio xruns
- etc.

It was strange to me since I remember playing with _Project64_ on Windows  13 years ago on an now very old Pentium 4 without all these issues. I'm running Linux since about 11 years that's why I'm using _Mupen64/Mupen64plus_. So, 11 years ago w

[2016-02-25 06:36] richard42 commented on #671
You can use the SDL joystick test program ([http://mupen64plus.org/old-releases/SDLJoyTest-linux32.tar.gz]) to get the axis/button numbers.    Your issue with configuring the joysticks with m64py GUI is purely a problem with the m64py front-end; it does not use the mupen64plus-input-sdl library to handle the configuration process.

[2016-02-25 06:36] #671 closed

[2016-02-25 06:50] richard42 commented on #672
This is more of a system problem, which will affect all OpenGL applications.  Especially on Linux, there are many different system configuration variables (video card, drivers, window manager, etc) which determine how vertical synchronization is handled, and there is no simple way for our application to always do the right thing.  Some people may run their monitors at high frame rates like 120hz a

[2016-02-25 06:50] #672 closed

[2016-03-10 03:34] kat-co commented on #660
+1 also have this problem. In my case it's a Wii classic controller that jtest-gtk detects just fine.

I can confirm that it's linked the same:

libSDL2-2.0.so.0 => /usr/lib/x86_64-linux-gnu/libSDL2-2.0.so.0 (0x00007f4e4521a000)

[2016-03-10 04:01] richard42 commented on #660
Hi kat-co,

I have compiled and uploaded an SDL2 joystick test program for 64-bit Linux.  You can use this to determine how many joystick devices are visible to SDL2, and how they are configured.  You can download this program from here:
[http://mupen64plus.org/old-releases/SDL2JoyTest-linux64.tar.gz](http://mupen64plus.org/old-releases/SDL2JoyTest-linux64.tar.gz)
If you run it with no arguments,

[2016-03-10 04:10] kat-co commented on #660
Sure enough, it reports 0! However, [this](https://github.com/Grumbel/jstest-gtk) project reports everything available. I'm not very well versed in this area, but any pointers on why that project would find it, but your test program will not?

Thanks very much for not only the response but the test binary.

[2016-03-10 04:18] kat-co commented on #660
I should also mention that I compiled the 2.0 tag and unlike the original reporter, this didn't seem to improve the situation -- likely because SDL isn't finding the joysticks in the first place.

[2016-03-10 04:42] richard42 commented on #660
So it's probably some kind of SDL problem.  On that same old-releases page of our mupen64plus.org site, there is an SDLJoyTest archive which links against SDL1.2 instead of SDL2.. It's possible that the problem is with SDL2, and your joysticks may work with the older SDL1.2.  You can test with the other SDLJoyTest program.  If it does work, you can compile Mupen64Plus (either 2.0 or 2.5) to build

[2016-03-10 11:46] davidroldan opened #673 "Invalid operation exception missing in TRUNC, CEIL, CVT, FLOOR and ROUND instructions"
Some months ago we found a glitch on Super Mario 64 called Parallel Universes. This glitch is described here: https://youtu.be/kpk2tdsPh0A?t=639

As described on the video, we take advantage of the trunc (TRUNC.W.S) instruction to perform this glitch. Also as described, there's some certain situations where console would crash while performing this glitch, but emulator doesn't.

We did some testin

[2016-03-11 00:14] richard42 commented on #673
Technically it would be more accurate if Mupen64Plus threw this exception and caused the game to crash, but does this behavior really have any benefit?  It seems doubtful, since a real game would never want this to happen.  And it may have a performance impact, since we will have to check the input/output values for ranging and throw the exception if necessary.

[2016-03-14 17:56] #668 closed

[2016-04-26 10:48] Isotarge commented on #673
A major goal of the Tool Assisted Speedrun community is to create runs that are reproducible on real hardware. We have recently created robots that play our runs back on real hardware by interfacing with the controller port as shown at recent "Games Done Quick" events. This hardware is expensive and complicated, well out of reach for the average hobbyist TASer, and simply cannot provide the advanc

[2016-05-13 19:38] spawn2099 opened #674 "Graphics issue with Glide and Ride running Mario 64"
Hi there,

I'm sorry, I'd like to know if anyone of you has suffered from this issue or know what the way to fix it is.

When I use glide the floor textures and some shadows flicks as you can see here.
https://www.dropbox.com/s/01i0nvjvw0uqd6j/glide64-flick.ogv?dl=0

When I use rice the goomba character looks with a little grey line in the middle and along of their body.
https://www.dropbox.com/s/

[2016-05-20 02:31] GPDP2 commented on #659
This issue has been fixed in libretro by fully reverting the commit that brought code over from Project64, and instead applying the following commit:

https://github.com/libretro/mupen64plus-libretro/commit/ce3bcfad8dd20eb267dade9f52112fb8209171d2

With this, Kirby is fixed and Rare games (minus Perfect Dark) now work properly in LLE as well.

[2016-05-23 20:43] ghost commented on #674
Maybe this info helps.

If I disable mipmapping using the Rice plugin then the goomba character looks ok, but I think mipmapping should be enable, right?. There's another thing I noticed even with mipmapping enable on Rice, when I enter in the first Bowser's room, the painting always shows Bowser.

So far I found another way to play Super Mario 64 that is working pretty well, it consists on playin

[2016-07-07 05:27] richard42 commented on #659
Thanks for the info guys, I have pushed the changes to fix this.

[2016-07-07 05:27] #659 closed

[2016-07-18 09:37] legluondunet commented on #670
I tested with differents GPU plugin on Retroarch (rice, glide64, gln64), they all have the same bug: no transition effect.

[2016-08-06 14:27] cookiengineer opened #675 "XBoX 360 USB Controller - messed up Analog Sticks"
The XboX 360 USB Controller is messed up. First, I thought it was the auto configuration - so I used m64py to configure everything correctly.

The problem is that the analog stick always fires twice, but first in the opposite direction.

Say if you want to play Super Smash Bros. and you use the Analog stick up to jump, it will eventually lead that you will always double jump because if you press A

[2016-08-06 14:57] cookiengineer commented on #675
I got it now working. The issue is that the analog stick functions as the same input in the driver, so double-binding stuff on the outer analog stick and the inner analog stick (and/or the click actions of them) will result in misbehaviour and state overrides.

Is there a way to have an Input Auto config entry based on USB identifiers? Autoconfig will always prefer the other previous setup, which

[2016-08-09 22:23] prenger745 opened #676 "Can't Launch Muppen64plus"
I am trying to get this working for my son's birthday.  I was able to get through a few errors but the last 2 have me stumped.

UI-Console: attached to core library 'Mupen64Plus Core' version 2.5.0
UI-Console:             Includes support for Dynamic Recompiler.
Core: Goodname: Super Mario 64 (U) [!]
Core: Name: SUPER MARIO 64
Core: MD5: 20B854B239203BAF6C961B850A4A51A2
Core: CRC: 635A2BFF 8B02232

[2016-08-09 23:43] richard42 commented on #676
Hi Danno, it looks like some kind of library/dependency error. How did you install Mupen64Plus?

[2016-08-10 00:04] prenger745 commented on #676
I installed it from an .rpm package I found at rpmfind.  I have tried it several different ways with no luck.  I am trying to install it on Fedora 24

[2016-08-16 01:15] richard42 commented on #676
Please try the linux64 bundle which is available for download on this page:

https://github.com/mupen64plus/mupen64plus-core/releases/tag/2.5

[2016-09-16 07:35] severach opened #677 "INI config for Super Joybox 5, new config for Twin USB PSX"
The current [Twin USB Joystick] is unusable. I found it to be the same as the Super Joybox 5.

Support for both is still not good. The hat works in wine and other emulators with ANALOG on or off.

[code]

[2016-09-28 11:23] orbea opened #678 "mupen64plus-video-arachnoid - Segfault after starting"
OS: `Slackware64-current`
`libdrm-2016.09.06_0659558_master-x86_64-1_git`
`mesa-2016.09.27_8d8c440_master-x86_64-1_git`
`xorg-server-1.18.4-x86_64-1`
`mupen64plus-2016.09.13_5fa30ab-x86_64-1_SBo`
`mupen64plus-video-arachnoid-2a79d28`

Since the `mupen64plus-video-arachnoid` repo does not have an issue tracker, I will post this here so that this issue is documented somewhere.

When starting a rom w

[2016-09-28 21:47] orbea commented on #678
The above crash only occurs with `rsp-hle` where both `rsp-cxd4-sse2` and `rsp-z64` will freeze on a black screen instead of crashing.

When started with mesa and libdrm which have deubugging symbols and without gdb it will also print.

[code]

[2016-10-04 21:11] inukaze commented on #570
Same here. i trying to set "Z Button" on a "Clone" of "Xbox 360 Wired Controller" with

`Z Trig = "button(4,5)"`

Ever take the first value, never the second . something strange happend. the Axis5 , take the value (Axis 5 on this Gamepad is "RT" = "Right Trigger")

i have manual compile lastest version of mupen64plus from git source.

If you need to know , i put the follow on the "InputAutoCfg.ini

[2016-10-09 21:01] richard42 commented on #678
I don't support Arachnoid; it's not included with the official bundle releases, and no-one is currently working on it. We just host the repo here for sort of historical purposes, or in case somebody decided they want to start working on it.  I just tested the latest code from the git repository and it does run (at least Mario Kart) on my gentoo linux PC.

From the stack trace, it looks like a glDr

[2016-10-09 21:51] richard42 commented on #570
yes, we currently do not support this feature.  If someone writes a cleanly-implemented patch to add this I will merge it.

[2016-10-09 23:05] orbea commented on #678
I suspect it could be a combination of the above, I'm using nouveau here. I've updated mesa a few times since and now it will just black screen with rsp-cxd4 or rsp-z64. It will continue to segfault with rsp-hle.

I'm not fully expecting this to be fixed, just for the sake documentation I wanted this issue stored somewhere publicly.

[2016-10-26 13:49] Arynn24 opened #679 "RSP plugin gone."
I just got up, and my RSP plugin is missing, I opened it and nothing was selectable, here's a picture:
![](https://cloud.githubusercontent.com/assets/23067288/19728451/41a9756a-9b48-11e6-97a2-b9b7bedc946c.jpg)

[2016-10-28 17:48] Narann commented on #679
Is it physically here? I mean, in appdata/mupen64plus (IIRC)?

[2016-11-07 20:42] legluondunet commented on #670
I tested again with Retroarch mupen64plus module  (last Git code from 1 november 2016), I tested all the different GPU plugins availbale for my platform (parallel, rice, glide64, gln64), they all have the same bug: black screen instead of transition effect.

This bug is not present with the GLupeN64 libretro module.

Thank you for your help.

My config:
Ubuntu 16.10 64 bits
NVIDIA GeForce GTX 770

[2016-11-07 21:16] legluondunet commented on #670
Is it a core bug? Do I have to post another bug report on the Libretro Mupen64plus module issues page?

[2016-11-08 10:24] Narann commented on #670
It's a known issue. Many video plugins does not emulate N64 framebuffer properly. I've updated this ticket.

[2016-11-29 21:43] julyuz commented on #573
Is not there any other answer?, I followed the steps before mentioned, but I do not get that my mupen64plus works :( please help

[2016-11-30 05:37] richard42 commented on #573
This is a system configuration problem.  The root cause can be several different things.  I recommend opening a new issue ticket and posting the output from the terminal window when you try to run Mupen64Plus.

[2016-12-05 03:04] julyuz commented on #573
Thanks for responding, and Iḿ sorry for not responding before (I had not have Internet :( ), when I try to run mupen64 from the terminal, I get this:

UI-Console Error: dlopen('/usr/local/lib/libmupen64plus.so.2') failed: libpng15.so.15: cannot open shared object file: No such file or directory
UI-Console Error: dlopen('./libmupen64plus.so.2') failed: ./libmupen64plus.so.2: cannot open shared obje

[2016-12-06 03:10] richard42 commented on #573
What Linux distro are you running?  And what version of Mupen64Plus?

[2016-12-08 23:38] Papermanzero commented on #540
With the newst builds and gliden64 it it easily reproducible.

Edit: GLupeN64 seems also to be affected.
Seems to be a timing issue in mupen64plus.

[2016-12-16 21:13] ghost commented on #679
This doesn't look like mupen64plus. Was this reported to the wrong emulator project?

[2016-12-19 22:27] WodsonKun opened #680 "UWP Port of Mupen64Plus"
Hey, why you do use the iOS UWP Bridge or Project Centennial to convert Mupen64Plus to UWP.

[2016-12-22 05:05] farinc opened #681 "Star Wars racer problem: cannot boost"
The problem is that I cannot boost (turbo) while racing in-game. I am using a wiimote with nunchuk as my controller and all the controls work (like turning and braking) except I cannot boost. However if I use the keyboard I can boost.

So far I have used the InputAutoCfg.ini to do all my mapping for wiimote.
- I have lowered the var AnalogPeak (thinking the controller never reached peak)
- I have

[2016-12-25 22:08] Papermanzero opened #682 "HLE RSP needs yielding"
Some games cannot run in HLE mode due to missing yielding.
Gauntlet Legends is one example.
https://github.com/gonetz/GLideN64/issues/111

[2016-12-26 08:09] #682 closed

[2016-12-26 17:57] Papermanzero commented on #540
So after reproducing the issue with z64 and mupens original rdsp plugin, it seems mupen core related.
Majoras Mask (PAL) freezes after a certain time. There is no method to reproduce the issue. it just freezes after some time.

[2016-12-27 22:44] hanielhuam opened #683 "how to change controls configuration"
i have already change my `.config/mupen64plus/mupen64plus.cfg` and chage the:
`B Button = "key(306)"`
`A Button = "key(304)"`

however, when i restart the mupen64plus it doesn`t make a difference

[2017-01-06 03:32] HP12345 opened #684 "mupen64plus won't utilize inputs from my controller"
I have configured a controller to work with mupen64plus as per the instructions on the wiki, but when I press a button on my controller nothing seems to happen. I am pretty sure that the program is detecting the controller, so I don't really know why this isn't working. Below is the code I am given when I run a rom.

 __  __                         __   _  _   ____  _
|  \/  |_   _ _ __   ___ _ __

[2017-02-02 06:20] richard42 commented on #679
This is for the original "Mupen64" emulator.  The last release was over 10 years ago, it's not supported any more.

[2017-02-02 06:20] #679 closed

[2017-02-02 06:42] richard42 commented on #683
If you want to manually configure the controls in mupen64plus.cfg, make sure that you set the "mode" parameter in the Input-SDL-Control section that you're changing to "0" (fully manual).  Otherwise, the values that you set here may be overridden to their original values by the auto-configuration feature.

[2017-02-02 06:42] #683 closed

[2017-02-03 03:34] richard42 commented on #684
You're running a very old version of the emulator, the last release was v2.5 and you are running v1.99.4.  Can you post the text of your "~/.config/mupen64plus/mupen64plus.cfg" file?

[2017-02-15 21:08] SomeEmuUser opened #685 "mupen64plus Goldeneye 007 menu issue"
remove

[2017-02-16 00:26] #685 closed

[2017-02-19 14:02] MorganCreek opened #686 "Mario Kart 64 item not usable bug"
Hey,

I've encountered a bug with items in multiplayer.
Randomly the item can not be used, so you are stuck with the item until the end of the race. This seems to happen exclusively in multiplayer. The controllers are properly configured.

Platform: Raspberry Pi 3, RetroPie 4.1
Emulators: mupen64plus based emulators to date (mupen64plus standalone, lr-mupen (the new one), lr-GlupeN64)(didn't test

[2017-02-21 20:01] Aryetis opened #687 "raspberry GPIO pins hijacked ?"
Hello,

It is gonna be a very specific issue but interesting (I hope so ...) issue.

For starters : I'm reporting problems ocuring on my Raspberry 3b using retropie V1.14.5 (latest version) and using mupen64Plus(Glice/Rice/HiRes or not, it doesn't matter). And here's the basics. I'm using a fan to cool down my pie, I regulate its spinning speed using a npn transistor wired to the pwm pin (like in

[2017-03-08 20:36] SpongeeJumper opened #688 "360 controller Xinput not working"
I'm running mupen64plus-bundle-win32-2.5 on Windows 10 with a Microsoft brand wired 360 controller on stock Microsoft drivers, and I can't figure out how to get it to recognize the controller as an XInput device instead of DirectInput. I want to be able to use both triggers at the same time, which is a long standing bug/design-flaw in the direct-input drivers for the 360 controller, but isn't an i

[2017-04-05 17:20] loganmc10 commented on #613
I would love to see this worked out. It seems like the last (public) attempt at getting these games to boot was in 2010. I tried to follow along with what cxd4 was saying and I tried something like this:

If doRSPCycles returns and SP_STATUS_HALT is still 0, then re-run it. I tried doing it different ways, but I could never get it to work properly. It never seemed to exit the loop in WDC. doRSPCyc

[2017-04-06 08:10] Papermanzero commented on #613
angrylion would be a good contact to see how to improve the behavior.
The discussion is pretty old, but I guess no one worked on the optimisation of the RSP behavior.
http://www.emutalk.net/threads/43088-Zilmar-s-RSP-spec-two-questions

[2017-04-07 18:29] loganmc10 commented on #613
I need to play around with it a bit more, but I got it booting!

![world_driver_champ-001](https://cloud.githubusercontent.com/assets/848146/24814048/79a21100-1b8d-11e7-8b7f-c945f81b0e0f.png)
![world_driver_champ-002](https://cloud.githubusercontent.com/assets/848146/24814052/7bde88ae-1b8d-11e7-8dc6-40bbc2c5625b.png)

[2017-04-07 19:44] Papermanzero commented on #613
This is amazing! Congratulations.

[2017-05-10 18:25] loganmc10 commented on #613
This is fixed and can be closed now

[2017-05-10 18:29] loganmc10 commented on #310
This is fixed now

[2017-05-17 08:24] orbea opened #689 "glide64 build failure with gcc-7.1.0"
OS:`Slackware64-current`
`gcc-7.1.0`

Kind of a strange error...
[code]

[2017-06-08 15:16] iMonZ commented on #573
I have the same error and i run Ubuntu with the muppen64plus version 2.5.0
Error:

UI-Console Error: dlopen('/usr/local/lib/libmupen64plus.so.2') failed: libpng12.so.0: cannot open shared object file: No such file or directory
UI-Console Error: dlopen('./libmupen64plus.so.2') failed: libpng12.so.0: cannot open shared object file: No such file or directory
UI-Console Error: AttachCoreLib() Error: f

[2017-06-08 15:21] MaxTheVin opened #690 "UI-Console Error"
I run Ubuntu with the muppen64plus version 2.5.0
and got this Error:

    UI-Console Error: dlopen('/usr/local/lib/libmupen64plus.so.2') failed: libpng12.so.0: cannot open shared object file: No such file or directory
    UI-Console Error: dlopen('./libmupen64plus.so.2') failed: libpng12.so.0: cannot open shared object file: No such file or directory
    UI-Console Error: AttachCoreLib() Error: fa

[2017-07-03 14:29] Achaean opened #691 "No video at fullscreen."
**Hi!** :-)

I'm using last version, console interface (Mupen64Plus Console User-Interface Version 2.0.0) at Debian Jessie x64 KDE, with AMD proprietary graphics driver.

Fullscreen mode don't work. Only I can only hear the sound, but no video at all.
I'm receiving these messages and I have to ^C to exit:
[code]

[2017-08-11 19:30] rastapopougros commented on #573
Same error too

[2017-08-11 19:47] loganmc10 commented on #573
You need to install libpng12. If your distro doesn't provide libpng12, you'll have to build mupen64plus yourself.

I build a linux64 version of mupen64plus here: https://m64p.github.io/ That is linked against libpng16, you can try that as well if you'd like.

[2017-08-11 20:45] rastapopougros commented on #573
I already have libpng12 on Ubuntu 17.4…

I had a non-package version in a folder, and after I installed m64p via the distro package, and after via the PPA package which appeared to be more recent. And always same error in those 3 versions. I will not complile or build nothing just for playing an old game lol. I would wait until there was a package or other simple way which works again.

[2017-08-11 20:51] loganmc10 commented on #573
Ok sounds like you'll have to wait then

[2017-08-11 21:42] rastapopougros commented on #573
Anyway, I dl your zip version and… it works! Thanks, my son will be happy tomorrow! :p

[2017-08-18 16:21] ScioNRankS commented on #681
so did you found any solution? im having the same issue, xbox360 controller and i´ve changed settings and so it seems like the analog don't reach peak. any admint?

[2017-08-18 17:09] loganmc10 commented on #681
This is likely the same problem as https://github.com/mupen64plus/mupen64plus-input-sdl/issues/46

We are waiting to hear from @richard42 about a solution

[2017-08-19 01:26] farinc commented on #681
Thanks @loganmc10 for bringing up a solution to this problem. Definitely, this issue makes star wars racer near impossible to beat, or even play.

[2017-09-05 04:15] richard42 commented on #681
Hey can you please test again with the small change that I committed in mupen64plus-input-sdl cf02a74 ?

[2017-09-05 19:11] farinc commented on #681
Sure I will get back to you about that. Right now I am a bit busy.

[2017-09-09 03:18] farinc commented on #681
Sorry for the delay. Yes, now I can boost with a wiimote, commit `cf02a74` fixed the problem! I am happy to also report that other games do not appear affected by the fix in any negative way (MM, SSB, OOT).

Thanks @richard42

[2017-09-09 03:18] #681 closed

[2017-09-14 05:36] #613 closed

[2017-09-14 05:37] #310 closed

[2017-09-15 03:32] richard42 commented on #689
this appears to be happening because "min" and "max" are defined as preprocessor macros in rdp.h, which is included before <iostream> in Gfx_1.3.h. It's possible that this error could be avoided by moving the c++ includes to the top, before the local header includes.

[2017-09-15 14:43] richard42 commented on #690
Check which version of libPNG you have installed. The special "-ubuntu" bundle is built against version 1.2. If you have a newer version of libPNG, then you can use one of the regular -linux64 bundles instead of the ubuntu one.

[2017-09-15 14:43] #690 closed

[2017-09-21 01:55] #689 closed

[2017-09-21 08:21] ghost commented on #689
Now it doesn't build anymore under win32 with the min/max change from https://github.com/mupen64plus/mupen64plus-video-glide64/commit/d40da0bd9f7fb1746c0e8b2b2b8f2f7ac49e16a2

[2017-09-21 15:56] orbea commented on #689
@bsmiles32 Thanks for the solution! As I don't use windows I cant confirm or deny the new win32 build issue.

[2017-09-23 02:35] richard42 commented on #689
I just pushed a fix for this, can you please test your Win32 build again?

[2017-09-23 06:37] ghost commented on #689
@richard42 thanks, seems to work fine

[2017-10-04 10:58] HansKockrich commented on #340
Unfortunately, my game crashes as well when I'm entering the first Portal.

Did you find a solution for that?

[2017-10-05 14:20] #680 closed

[2017-10-08 21:36] Danfun64 opened #692 "No audio self compiled Windows"
I'd have put this bug report in mupen64plus-audio-sdl if it weren't for the fact that you can't post bug reports there for some reason.

I don't know why, but I'm not getting any audio when using a MSYS2/MinGW-W64 self compiled dll of mupen64plus-audio-sdl. It compiles just fine. The only thing i'm sure of is that the "Obtained audio format/frequency differs from requested."

Any suggestions?

[2017-10-09 01:09] Danfun64 commented on #692
Actually, I don't think this issue is with mupen64plus-audio-sdl but sdl in general...

edit: Confirmed, the issue was solved when I downgraded my SDL2 binary from 2.0.6-1 to 2.0.5-2

[2017-10-09 02:11] loganmc10 commented on #692
It's not a bug in SDL, it is an issue with mupen64plus-audio-sdl

SDL 2.0.6 changed the audio backend on Windows to WASAPI, with that change, the audio format is forced to 32bit floating point samples. Audio-sdl only outputs 16 bit integer samples currently, so it needs to convert the samples to the proper format before feeding them to SDL

[2017-10-13 05:34] Krusher97 opened #693 "Knife Edge Nose Gunner - Game runs too fast"
Probably a known issue but I couldn't find anything about it. The game runs way too fast to be playable.

[2017-10-13 06:08] charlemagnelasse opened #694 "mupen64plus-audio-sdl build fails when speexdsp is not installed"
I've noticed that mupen64plus-audio-sdl fails to build when speexdsp is not installed. This is a regression somewhere in the merged commits at https://github.com/mupen64plus/mupen64plus-audio-sdl/commit/d7636436444575548690ee19bf583d42921b3627

    make: Entering directory 'mupen64plus-audio-sdl/projects/unix'
    Makefile:173: No libspeexdsp development libraries found.  Mupen64plus-sdl-audio wil

[2017-10-13 16:49] Krusher97 commented on #693
Another game that runs too fast is Wetrix.
PJ64 doesn't share this one.

[2017-10-13 17:09] loganmc10 commented on #693
I've looked into Knife Edge, like you say, PJ64 also shares this issue, probably requires more accurate emulation of the count register.

I'll look into Wetrix, how fast are you talking? Is it insanely fast like Knife Edge or just a little bit too fast?

[2017-10-13 17:25] Krusher97 commented on #693
You could probably compare it from some youtube videos. Its unplayable for me in classic mode. Even the menus seem fast to me.. I'll see if I can compare it with the Dreamcast version.

[2017-10-13 17:37] #694 closed

[2017-10-13 17:56] Krusher97 commented on #693
video of mupen64plus running wetrix: https://drive.google.com/open?id=0B1sugCZh1a3ZUDdlLU9jOUs1N1E
video of project64 running wetrix: https://drive.google.com/open?id=0B1sugCZh1a3ZVy1KRXdDcm5PNm8

[2017-10-14 03:16] loganmc10 commented on #693
Do you have ```CountPerOp``` in mupen64plus.cfg set to something other than 0? If you have it set to something other than 0 it will overwrite the value in mupen64plus.ini, and Wetrix has a value of "3" in the ini. I tested Wetrix and it doesn't run as fast for me as it does for you, which is why I ask

[2017-10-14 06:22] Krusher97 commented on #693
It was set to 1. Does that need to be at 0 for the ini values to take over?

EDIT : Yeah that was the problem. I guess you can count the Wetrix part out.

[2017-10-16 04:09] Krusher97 opened #695 "Goemons Great Adventure - Inconsistent collision"
Webm : https://drive.google.com/open?id=0B1sugCZh1a3ZYVJBUDM2UE5WRms
It seems to be really hard to grab these bars consistently. I managed to do it once but haven't been able to do it since. If you slow down the webm you can see the character straight up passing through the bar without grabbing them. Doing these jumps consistently is way easier in PJ64.

[2017-10-16 04:28] loganmc10 commented on #695
Is this new? Like do older builds of mupen64plus have this issue? Also, can you provide a save state or save game where I can quickly get to these bars to perform some regression testing?

[2017-10-16 05:28] Krusher97 commented on #695
The bars are in the first level. I didn't test the game in older builds and I don't know where to get them.
Here is a save state : [Goemon's Great Adventure (U) [!].zip](https://github.com/mupen64plus/mupen64plus-user-issues/files/1386289/Goemon.s.Great.Adventure.U.zip)

[2017-10-16 20:08] loganmc10 commented on #695
I just did the bars twice (using my keyboard), I had no issues catching all the bars and reaching the higher plateau. Do you have any settings non-default like CountPerOp? Did you do this using GLideN64 or Angrylion?

[2017-10-16 21:02] Krusher97 commented on #695
Did it using GlideN64, all default settings and an Xinput controller.
Could you post a video of you doing it? I want to compare it with mine.

[2017-10-16 21:22] loganmc10 commented on #695
Here you go:

https://drive.google.com/file/d/0B8iAuv3fmhb_b1V2Wmw5YW9sanc/view?usp=sharing

[2017-10-16 21:24] loganmc10 commented on #695
That was using my keyboard, english version

[2017-10-16 22:00] Krusher97 commented on #695
Yeah its super easy to do with a keyboard.
On the control there seems to be only a specific point where it'll register the grab and the same input/trajectory which works on PJ64 doesn't work in M64p

[2017-10-16 22:17] loganmc10 commented on #695
huh I grabbed my controller and I experience the same thing. It's like it deregisters the A button press.

I'm assuming you keep A held from pole to pole, can you try this: When you're mid air, let go of A and re-press it before you get to the next pole, does that help? It seems to work for me

[2017-10-16 22:18] loganmc10 commented on #695
Actually just let go of A altogether, you don't need it to grab the pole

[2017-10-16 22:23] loganmc10 commented on #695
It only seems to be a problem when I use the analog stick to control Goemon, if I use the d-pad, no problem, is it the same for you?

[2017-10-16 22:29] Krusher97 commented on #695
Yeah the problem is only with the analog stick. Also you don't need to hold anything for the player to grab the bars. He should do it automatically.

[2017-10-17 04:06] loganmc10 commented on #695
I need to find an N64 controller expert, or find some documentation.

Here is the problem: The N64 controller's axis limit is from -80 to 80 in both the X and Y direction.

So if you're extended all the way right, you're at +80 on the X axis for instance. When we emulate the analog stick using the keyboard, if you push Right+Up, you're at 80 in both directions. However, when using a real analog st

[2017-10-17 04:44] richard42 commented on #695
I did exactly that, and fit a quadratic curve to the maximum values, and wrote that into that axis limiting function in the input plugin. I only tested with one controller though, and I'm sure there is variation between controllers.  Even this turned out to cause problems because the maximum values right on the X and Y axis were not all the way to +/-80, and it caused issues in some games. But all

[2017-10-17 04:46] loganmc10 commented on #695
I'm curious what the behavior is like on a real N64 with this game, basically it seems like Goemon can swing farther when using the dpad (or when the analog stick is being emulated inaccurately by the keyboard), rather than the analog stick. I wonder if the same thing happens on real hardware

[2017-10-17 21:52] loganmc10 commented on #695
So it does seem like something is wrong, I asked someone with a real N64 to test and this is what they said:

https://www.reddit.com/r/n64/comments/76yq9s/need_someone_to_test_goemons_great_adventure/doidkps/

[2017-10-18 02:39] inukaze opened #696 "Mouse Setup"
Hi there, i got 2 problems with the Configuration File and the lastest version of Mupen64Plus

1 - When i use "Rice" videoplugin, Keyboard don't work with controls

2 - I really need to invert axis of mouse, for games like Turok Dinasour Hunter. because when i move to up, the chacter looks to floor, and when i move the mouse to down, the characters look to up, the sky.

But i don't see any option

[2017-10-18 03:55] loganmc10 commented on #695
I tested this on Mupen64plus AE. It's not quite as bad there, it was easier to grab the poles using the analog stick (tested using a Shield Controller). However, you still get way more height using the dpad. I'm hoping more people can test a real N64, but from the feedback I received so far it sounds like there should be no difference

[2017-10-18 14:38] loganmc10 commented on #695
@richard42 basically this issue is caused by the ApplyAxisLimits function. If I disable that function, then the axis values can reach 80/80 in the corners, which allows the character to behave the same using the dpad or the analog stick. The ApplyAxisLimits function limits the range in the corners to roughly 60 (on my controller the corner comes in at 57/57), which limits the distance the characte

[2017-10-19 01:08] richard42 commented on #695
That's kind of a conundrum then, because removing this function will cause problems with other games, as it will allow the emulator to produce joystick positions which are not possible on an N64 with the Nintendo controller.

[2017-10-19 01:10] loganmc10 commented on #695
Is it possible it's just a bit too restrictive? On my controller it limits the corner to 57/57, maybe that is too low? I bet if it just went to 65-70 the jump would probably be much closer to the dpad

[2017-10-19 03:40] richard42 commented on #695
You can extend this maximum value by increasing the number 1.000f in the "float fMaxRadius = ..." calculation in that function. I tried looking through issues and google group messages to find out which games were fixed by this function, but I couldn't find the info. It would also be nice if someone else with a real N64 controller (different one from mine, obviously) could use the joymodel.c progr

[2017-10-19 11:25] loganmc10 commented on #695
Just one more piece of feedback I received:

https://www.reddit.com/r/n64/comments/76yq9s/need_someone_to_test_goemons_great_adventure/dokylk4/

[2017-10-26 16:55] KevinKurtz opened #697 "Diddy Kong racing errors Adventure 2 issue"
Hi, Diddy kong racing works okay in the first adventure (A few textures, like left sides of doors are tranparent), but adventure 2 is supposed to mirror the maps and does not. The controls get mirrored, so left is right and right is left, but the course doesn't get mirrored. Hard to drive with backwards controls.

openemu on mac, mupen64plus 2.5.3

[2017-10-31 09:20] bsmiles32 commented on #695
Did a quick test with 2 controllers a "black" one which is somewhat recent, and a "gray" one which is more older with a loose joystick. I modified the core to print the joystick values and I got this:
(Up, UpRight, Right, DownRight, Down, DownLeft, Left, UpLeft)
black with raphnet : (0,82), (64,71), (78,0), (64,-69), (0,-81), (-66,-70), (-78,0), (-65,72)
black with sdl        : (0,80), (52,59), (7

[2017-10-31 12:31] loganmc10 commented on #695
Awesome thanks for testing! @richard42 it does seem like based on @bsmiles32 test that the controllers get better range in the corners than SDL is currently providing

[2017-11-02 04:51] trinitronx commented on #691
Same error on Ubuntu `17.04` zesty:

[code]

Happens only with `mupen64plus-video-rice` plugin for me.  Versions are:

[code]

The other plugin `mupen64plus-video-glide64mk2` works fine, but it would be nice to have HiRes Textures with Rice plugin.  Any help appreciated!

[2017-11-02 05:04] trinitronx commented on #691
Here are logs shown in JournalD when launching via command line: https://gist.github.com/trinitronx/a102d0d8a57abaf04ef3c8a1af2f2219

Not sure if caribou is really related, but maybe I'll try uninstalling that.  The kernel message seems interesting however:

[code]

[2017-11-08 04:32] richard42 commented on #695
the diagrams for the grey controller look similar to what I saw with mine.  Is that black controller a Nintendo device, or a 3rd-party controller?

[2017-11-08 04:45] richard42 commented on #695
I just pushed a commit which removed the axis limiting function. If the over-excursion in the corners causes problems with some games then we'll probably hear about it, and have to go back and find a happy medium. I did find a minor error in the implementation which resulted in the coordinates being limited too much, but I wasn't all that happy with the shape of the curves either. I might do it sl

[2017-11-08 08:34] bsmiles32 commented on #695
@richard42 The black controller is a genuine Nintendo device.

[2017-11-08 20:31] bsmiles32 commented on #695
@richard42 If I remember correctly (can't find the report now), the axis limiting function was added after a user complained that he couldn't, given the high sensitivity of the joystick, move precisely in OoT (maybe it was to get the hammer in the fire temple ?). And he was able to get it after you implemented that axis-limiting function. So I think it is usefull, just not well configured yet.

[2017-11-29 07:31] Joomla12 opened #698 "[macOS] Core Breaks Controller Paks"
Maybe someone can help me here, because I'm not sure if I'm doing something wrong during compilation, or if it's just a bug with the current state of the repo. Anyway, controller paks (memory, rumble, etc.) do not get detected by games that support them when I compile core myself. In the 2.5 release they work fine. I've done nothing special to compile, just installed the dependencies from Homebrew

[2017-11-29 15:31] bsmiles32 commented on #698
Can you try explicitely specifying --datadir path_to_updated_repo/data when starting the emulator ?

Indeed the core now relies on pak specification found in mupen64plus.ini to initialize paks. If you don't specify anything, it will look in the default installed version location which does not contain such information, leading to controller pak breakage.

[2017-11-29 16:36] Joomla12 commented on #698
Awesome, thanks so much for the help.

[2017-11-29 16:36] #698 closed

[2017-12-28 17:11] samuelsantosdev commented on #658
Many thanks!

[2018-02-06 10:37] Krusher97 opened #699 "Paper Mario - Game zooms in when in certain areas"
https://streamable.com/iatwl

The camera randomly zooms in certain spots. Happens on the star summit too.

[2018-02-23 01:41] ricardoberti commented on #573
Don't know if anyone of you done it work.
I had absolutely same error and fixed it this way:

1 - Install lipng12:
1.1 - Download from [https://packages.ubuntu.com/xenial/amd64/libpng12-0/download](https://packages.ubuntu.com/xenial/amd64/libpng12-0/download) (In my case, I have x64 linux, so I picked amd64 version)
1.2 - Install it with `sudo dpkg -i libpng12-0_1.2.54-1ubuntu1_amd64.deb` (Or what

[2018-03-09 20:40] #656 closed

[2018-03-09 23:32] FlorianLuna commented on #665
if nothing above works you can add in InputAutoCfg.ini the following config
[Xbox One Wired Controller]
plugged = True
plugin = 2
mouse = False
AnalogDeadzone = 4096,4096
AnalogPeak = 32768,32768
DPad R = "button(3)"
DPad L = "button(2)"
DPad D = "button(0)"
DPad U = "button(1)"
Start = "button(4)"
Z Trig = "axis(5+)"
B Button = "button(12)"
A Button = "button(11)"
C Button R = "axis(2+)"
C Button

[2018-03-20 22:48] Domarius commented on #572
Actually the OP was asking about having 2 players on one keyboard.  The linked pages only tell you how to set up one player on one keyboard.

If this isn't possible, we should specifically state that.

I'm looking into this personally since I 'm setting up my own arcade machine with the joysticks mapped to an IPAC which simulates a keyboard.

[2018-04-02 02:25] Veyrdite opened #700 "Documentation: 'BattleTanx' works with config tweaks"
According to the wiki docs "Battle Tanx" does not work under Mupen64plus at all:

http://mupen64plus.org/wiki/index.php?title=GameCompatibility

This is only correct for Mupen's default settings.

Choosing the following settings fixes the game for me:

* VideoPlugin = "mupen64plus-video-rice.so"
* ScreenUpdateSetting = 7

Occasional short stalls occur during cutscenes and level transitions (load t

[2018-04-23 01:12] zlice commented on #662
just tried core and ui-console from git, still doesn't seem to work

note: also unable to toggle fullscreen in m64py

[2018-05-17 14:32] shentino opened #701 "Playing Quest64, dynamic recompiler does something funny and I get a segfault"
warning: core file may not match specified executable file.
[New LWP 31693]
[New LWP 12637]
[New LWP 12625]
[New LWP 12628]
[New LWP 12629]
[New LWP 12660]
[New LWP 31711]
[New LWP 12630]
[New LWP 18842]
[New LWP 31710]
[New LWP 31713]
[New LWP 31141]
[Thread debugging using libthread_db enabled]
Using host libthread_db library "/lib64/libthread_db.so.1".
Core was generated by `/usr/bin/python3.5

[2018-05-23 19:37] false-9 opened #702 "Significant Input lag from the FBE"
mupen64plus-gui build May 18 2018
Plugin: GlideN64

When disabling FBEmulation, input lag is reduced significantly in games. It emphasises how unresponsive some games are with FBE enabled, Ocarina of Time for example has roughly 10-11 frames of input latency with FBE on, and around 6-7 frames with it off. This is measured while excluding display, peripheral or any other external lag.

Likewise, on

[2018-05-24 18:08] #702 closed

[2018-06-12 05:36] fraser125 commented on #100
I have the Adaptoid and have struggled now that OS's are 64-bit and the drivers were only 32-bit. There is another option now. [Raphnet N64-USB Adapter](http://www.raphnet-tech.com/products/n64_usb_adapter_gen3/index.php). I personally just verified it supports the RandNET keyboard. There is even a [Mupen64Plus driver](https://github.com/raphnet/mupen64plus-input-raphnetraw) available, does this m

[2018-06-25 09:39] Zapeth commented on #692
As a workaround you can call the `SDL_OpenAudio()` function in `sdl_backend.c` with parameter `NULL` instead of `&obtained` (and also set `obtained = desired` to avoid problems in the following checks).

This forces SDL to use the specified audio settings (and deals with the conversion specifics internally), as described in the SDL wiki -> https://wiki.libsdl.org/SDL_OpenAudio

[2018-07-16 07:58] robalni opened #703 "Put the website on GitHub"
This is a suggestion to put the source code of mupen64plus.org on GitHub. Doing so would make it easier for people to improve the site and report issues with it.

[2018-07-17 16:20] blulere commented on #340
same appcrash with mupen64 when dragging a sm64 v64 file onto the console's exe
the emu screen pops up, but then the nr screen pops up

[2018-07-29 16:35] richard42 commented on #100
yes, I think we now have the requested functionality.

[2018-07-29 16:35] #100 closed

[2018-08-01 21:03] legluondunet commented on #670
this issue is still present.

[2018-08-15 15:11] orbea opened #704 "mupen64plus-video-z64 build failure on linux"
OS: `Slackware64-current`
Compiler: `gcc-8.2.0`
`Mesa 18.3.0-devel (git-de57926dc9)`

Building mupen64plus-video-z64 on Linux results in this build failure for me now.
[code]

[2018-08-15 15:38] orbea commented on #704
I was able to build it with this patch, is this correct?
[code]

[2018-09-05 12:35] PROCLASSMASTER opened #705 "Emulator will not start"
Crashes or just show me a black screen... I'm on a kindle fire hd 8 and need help on how to get legend of Zelda ocarina of time working again at least sending today's crash log `cat!```

Uncaught exception in package emu.nes.snes.gba.arcade.psp.mame.gbc.n64.x5546

****MESSAGE****
Attempt to invoke virtual method 'android.content.res.Resources android.content.Context.getResources()' on a null objec

[2018-09-18 02:02] Video-Game-King opened #706 "How do I change the controls?"
Mupen64Plus has been giving me a lot of trouble control-wise, and I haven't been able to figure anything out. In theory, it's treating my controller (an ordinary Xbox 360 USB controller) as Controller (XBOX 360 For Windows), but aside from the console, all available evidence says it's really treating my controller like it's XInput. In any case, I've tried:

- Editing both settings in the InputAuto